<ul class="list-group margin-bottom-25 sidebar-menu">
    <?php
    foreach($categories as $category){
    ?>
    <li class="list-group-item clearfix dropdown active">
        <a href="<?=URI::toModule().'shopping/category/'.$category->getId().'/'.SpecialStrings::text2Url($category->getName());?>" class="collapsed">
            <i class="fa fa-angle-right"></i>
            <?=$category->getName();?>
        </a>
        <ul class="dropdown-menu" style="display:block;">
            <?php
            foreach($category->subcategories() as $subcategory){
            ?>
                <li><a href="<?=URI::toModule().'shopping/category/'.$subcategory->getId().'/'.SpecialStrings::text2Url($subcategory->getName());?>"><i class="fa fa-angle-right"></i> <?=$subcategory->getName();?></a></li>
            <?php
            }
            ?>
        </ul>
    </li>
    <?php
    }
    ?>
</ul>