<!-- BEGIN NAVIGATION -->
<div class="header-navigation">

    <ul>
        <?php
        foreach($categories as $category){
        ?>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                <?=$category->getName();?>
            </a>
            <!-- BEGIN DROPDOWN MENU -->
            <ul class="dropdown-menu">
                <?php
                foreach($category->subcategories() as $subcategory){
                ?>
                <li><a href="<?=URI::toModule().'shopping/category/'.$subcategory->getId().'/'.SpecialStrings::text2Url($subcategory->getName());?>"><?=$subcategory->getName();?></a></li>
                <?php
                }
                ?>
            </ul>
        </li>
        <?php
        }
        ?>

        <!-- BEGIN TOP SEARCH -->
<!--        <li class="menu-search">
            <span class="sep"></span>
            <i class="fa fa-search search-btn"></i>

            <div class="search-box">
                <form action="#">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                    </div>
                </form>
            </div>
        </li>
-->        <!-- END TOP SEARCH -->
    </ul>
</div>
<!-- END NAVIGATION -->