    <div id="header">
        <img id="logo" src="<?=IMG_WEB;?>SyC_short.png" alt="Servicios y Compras en Internet" title="Servicios y Compras en Internet" />
    </div>
    <div id="topBarA">
        <div id="menuTopBar">
            <a href="<?=WEB_ROOT;?>">Inicio</a>
            &nbsp;|&nbsp;
            <a href="<?=WEB_ROOT;?>productos_servicios.htm">Nuestros Servicios</a>
            &nbsp;|&nbsp;
            <a href="<?=WEB_ROOT.Configs::value('app.default.module');?>tiempo">El Tiempo</a>
            &nbsp;|&nbsp;
            <a href="<?=WEB_ROOT;?>contacto.htm">Contáctenos</a>
            <?php
            if(false && is_object(UserControl::user())){
            ?>
            &nbsp;|&nbsp;
            <a href="<?=WEB_ROOT;?>admin">Panel de Control</a>
            &nbsp;|&nbsp;
            <a href="<?=WEB_ROOT;?>?logout=out">Salir</a>
            <?php
            }else{
            ?>
            &nbsp;|&nbsp;
            <a href="<?=WEB_ROOT;?>login.htm">Login</a>
            <?php
            }
            ?>
        </div>
        <div class="clear"></div>
    </div>
