<!-- BEGIN SALE PRODUCT -->
<div class="col-md-12 product-gallery-wrapper">

    <div class="row quote-v1 margin-bottom-50">
        <div class="col-md-9">
            <span><i class="fa fa-cube"></i> Ultimas Novedades</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="owl-carousel owl-carousel5">
        <?php
        foreach($products as $product){
            $i++;
        ?>
        <div>
            <div class="product-item">
                <div class="pi-img-wrapper">
                    <?php
                    if($product->hasMainImage()){
                    ?>
                        <span class="img-div">
                            <img src="<?=IMG_WEB.$product->mainImage()->imageLocation(SelProductImage::SMALL_SIZE);?>"
                                 alt="<?=$product->mainImage()->getTitle();?>" title="<?=$product->mainImage()->getDescription();?>"
                                 class="img-responsive" />
                        </span>
                        <br />
                        <small><?=$product->mainImage()->getTitle();?></small>
                        <div>
                            <a href="<?=IMG_WEB.$product->mainImage()->imageLocation(SelProductImage::LARGE_SIZE);?>"
                               class="btn btn-default fancybox-button">Ampliar</a>
                            <a href="<?=URI::toModule().'shopping/product_details/'.$product->getId();?>" class="btn btn-default fancybox-ajax">Ver</a>
                        </div>
                    <?php
                    }else{
                    ?>
                        <span class="img-div">
                            <img src="<?=IMG_WEB;?>no-image.jpg" alt="Imagen no encontrada"
                                 class="img-responsive" />
                        </span>
                        <br />
                        <small>*****</small>
                        <div>
                            <a href="<?=URI::toModule().'shopping/product_details/'.$product->getId();?>" class="btn btn-default fancybox-ajax">Ver</a>
                        </div>
                    <?php
                    }
                    ?>
                </div>
                <h3><a href="shop-item.html"><?=$product->getName();?></a></h3>

                <div class="pi-price">Bs. <?=number_format($product->getBasePrice(), 2);?></div>
                <a href="#" class="btn btn-default add2cart">Añadir</a>

            </div>
        </div>
        <?php
        }
        ?>
    </div>
</div>
<!-- END SALE PRODUCT -->