<!-- BEGIN TOP NAVIGATION MENU -->
<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li class="dropdown dropdown-user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <?php
                if(UserControl::isLoggedIn()){
                ?>
                <img alt="" class="img-circle hide1" src="<?=UserControl::user()->recursoImagen();?>"/>
                <?php
                }else{
                ?>
                <img alt="" class="img-circle hide1" src="<?=IMG_WEB;?>avatar.png"/>
                <?php
                }
                ?>
                <span class="username username-hide-on-mobile">
                <?=UserControl::user()? UserControl::user()->completeName(false): '-NO USER-';?> </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="<?=WEB_ROOT.'main/system/admin/';?>">
                        <i class="fa fa-dashboard"></i> Panel Principal</a>
                </li>
                <li>
                    <a href="<?=WEB_ROOT.'main/adminCenter/profile/';?>">
                        <i class="icon-user"></i> Mi Perfil</a>
                </li>
                <li>
                    <a href="<?=WEB_ROOT.'main/adminCenter/';?>">
                        <i class="fa fa-building-o"></i> Mis Sucursales</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="<?=URI::createURLTo(array('module' => 'main', 'controller' => 'system', 'action' => 'logout'));?>">
                        <i class="icon-key"></i> Salir </a>
                </li>
            </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
    </ul>
</div>
<!-- END TOP NAVIGATION MENU -->