<!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler"></div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
    <?php
    $k = 0;
    $kTotal = sizeof($userPages);
    foreach($userPages as $userModule):
        $k++;
        $startClass = $k==1? ' start': '';
        $lastClass = $k==$kTotal? ' last': '';
        $openClass = sizeof(array_filter($userModule['uris'], function ($userUri) use (&$page) {
            return is_object($page) && is_object($page->URIObject()) && $userUri->getId() == $page->URIObject()->getId();
        }))>0? ' open': '';
        $activeClass = $openClass!=''? ' active': '';
        $selectedSpan = $openClass!=''? '<span class="selected"></span>': '';
        ?>
        <li class="<?=$startClass.$lastClass.$activeClass.$openClass;?>">
            <a href="javascript:;">
                <i class="icon-rocket"></i>
                <span class="title"><?=$userModule['module']->getName();?></span>
                <?=$selectedSpan;?>
                <span class="arrow <?=$openClass;?>"></span>
            </a>
            <ul class="sub-menu">
                <?php
                foreach($userModule['uris'] as $userUri):
                    $activeSubmenuClass = is_object($page) && is_object($page->URIObject())? ($userUri->getId() == $page->URIObject()->getId()? 'active': ''): '';
                    ?>
                    <li class="<?=$activeSubmenuClass;?>">
                        <a href="<?=URI::instance()->createURLTo(array('module' => $userUri->getChoModule()->getUri(), 'uri' => $userUri->getUri()));?>">
                            <i class="icon-puzzle"></i>
                            <?=$userUri->getTitle();?></a>
                    </li>
                <?php
                endforeach;
                ?>
            </ul>
        </li>
    <?php
    endforeach;
    ?>
    <li class="last ">
        <img src="<?=IMG_WEB;?>logo_sindel.png" alt="logo" class="logo-default" />
    </li>
</ul>
<!-- END SIDEBAR MENU -->