    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <!--<img src="../../img/avatar3.png" class="img-circle" alt="User Image" />-->
            </div>
            <div class="pull-left info">
                <p>Bienvenido, <?=UserControl::user()->getFirstName();?></p>

                <a href="#"><i class="fa fa-circle text-success"></i> Conectado</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li>
                <a href="../../index.html">
                    <i class="fa fa-dashboard"></i> <span>Panel Principal</span>
                </a>
            </li>
            <?php
            foreach($userPages as $userModule):
            ?>
            <li class="treeview <?=true? '': 'active';?>">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span><?=$userModule['module']->getName();?></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <?php
                    foreach ($userModule['uris'] as $userUri):
                        $class = is_object($page) && is_object($page->URIObject())? ($userUri->getId() == $page->URIObject()->getId()? ' class="active"': ''): '';
                    ?>
                    <li<?=$class;?>><a href="<?=URI::instance()->createURLTo(array('module' => $userUri->getChoModule()->getUri(), 'uri' => $userUri->getUri()));?>" <?=$sel;?>><i class="fa fa-angle-double-right"></i> <?=$userUri->getTitle();?></a></li>
                    <?php
                    endforeach;
                    ?>
                </ul>
            </li>
            <?php
            endforeach;
            ?>
        </ul>
    </section>
    <!-- /.sidebar -->