<div class="row">
    <!-- BEGIN TOP BAR LEFT PART -->
    <div class="col-md-4 col-sm-6 additional-shop-info">
        <ul class="list-unstyled list-inline">
            <li><i class="fa fa-phone"></i><span>70428185 </span> -  Línea de Servicio</li>
            <li><a href="<?=WEB_ROOT;?>main/index/login"> <i class="fa fa-user"></i><span> Iniciar sesión</a></li>
        </ul>
    </div>
    <!-- END TOP BAR LEFT PART -->
    <!-- BEGIN TOP BAR MENU -->
    <div class="col-md-8 col-sm-6 additional-nav">

        <form id="searchForm" action="<?=URI::toModule().'shopping/search/';?>">
            <input type="text" id="term" name="term" value="<?=Req::_('term');?>" size="50" style="color: #030303" />
            <button type="submit" id="search" name="search" value="Buscar" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Buscar</button>
        </form>

        <div class="top-cart-block">
            <div class="top-cart-info">
                <a class="top-cart-info-count" href="javascript:void(0);"><?=SessionOrder::totalItems();?> items</a>
                <a class="top-cart-info-value" href="javascript:void(0);">Bs. <?=number_format(SessionOrder::totalPrice(), 2);?></a>
            </div>
            <i class="fa fa-shopping-cart"></i>

            <?php
            if(SessionOrder::hasProducts()){
            ?>
            <div class="top-cart-content-wrapper">
                <div class="top-cart-content">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
                        <ul style="overflow: hidden; width: auto; height: auto;" class="scroller">
                            <?php
                            foreach(SessionOrder::products() as $productCart){
                                $_product = $productCart['product'];
                                $_quantity = $productCart['quantity'];
                                $_price = $productCart['price'];
                                ?>
                                <li>
<!--                                    <a href="shop-item.html">-->
                                    <?php
                                    if($_product->hasMainImage()){
                                    ?>
                                        <img width="37" height="34" alt="<?=$_product->getName();?>" src="<?=IMG_WEB.$_product->mainImage()->imageLocation(SelProductImage::THUMB_SIZE);?>">
                                    <?php
                                    }else{
                                    ?>
                                        <img width="37" height="34" alt="<?=$_product->getName();?>" src="<?=IMG_WEB;?>no-image.jpg">
                                    <?php
                                    }
                                    ?>
<!--                                    </a>-->
                                    <span class="cart-content-count"><?=$_quantity;?></span>
                                    <strong><a href="shop-item.html"><?=$_product->getName();?></a></strong>
                                    <em>Bs. <?=number_format($_price * $_quantity, 2);?></em>
                                    <!--                                        <a class="del-goods" href="javascript:void(0);">&nbsp;</a>-->
                                </li>
                                <?php
                            }
                            ?>
                        </ul>
                        <div class="slimScrollBar" style="background: rgb(187, 187, 187) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; border-radius: 7px; z-index: 99; right: 1px; height: 137.061px; display: none; opacity: 0.4;"></div>
                        <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                    </div>
                    <div class="text-right">
                        <?php
                        if(SessionOrder::hasCustomer()){
                        ?>
                            <a class="btn btn-default" href="shop-shopping-cart.html">Completar </a>
                        <?php
                        } else {
                        ?>
                        <a class="btn btn-default" href="<?=WEB_ROOT.'main/index/login';?>">Iniciar Sesión</a>
                        <?php
                        }
                        ?>
<!--                                                        <a class="btn btn-primary" href="shop-checkout.html">Checkout</a>-->
                    </div>
                </div>
            </div>
            <?php
            }
            ?>
        </div>

    </div>
    <!-- END TOP BAR MENU -->
</div>