<div id="menuTop">
    <ul id="nav">
<?php
if(is_object(UserControl::user())){
    $__privateModules = PageControl::section('all');
    foreach($__privateModules as $__module){
        if($__module->getAccess() == PageConfigs::ACCESS_PRIVATE  &&
            sizeof($__module->components()) > 0){
            ?>
		<li><a href="/<?=$__module->URI();?>"><?=$__module->getName();?></a>
            <?php
            //TODO implements a submodules control
            $__nComponents = 0;
            foreach($__module->components() as $__page){
                if(is_array($__page->components())){
                    //TODO implements submodules menu
                    if($__nComponents == 0){
                        $__nComponents++;
                ?>
            <ul>
                <?php
                }
                ?>
                <li><a href="#">Otro</a></li>
                <?php
                }elseif($__page->getType() == PageConfigs::TYPE_MENU){
                    if($__nComponents == 0){
                        $__nComponents++;
                ?>
            <ul>
                <?php
                }
                ?>
                <li><a href="<?='/'.$__module->URI().'/'.$__page->URI();?>"><?=$__page->getTitle();?></a></li>
                    <?php
                }
            }
            if($__nComponents > 0){
            ?>
            </ul>
            <?php
            }
        ?>
        </li>
        <?php
        }
    }
}
?>
    </ul>
</div>