<div class="main otro">
    <div class="container">
        <!-- BEGIN SLIDER -->
        <div class="page-slider margin-bottom-35">
            <!-- LayerSlider start -->
            <div id="layerslider" style="width: 100%; height: 494px; margin: 0 auto;">

                <!-- slide one start -->
                <div class="ls-slide ls-slide1" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 24,25,27,28;">

                    <img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/layerslider/slide1/bg.jpg" class="ls-bg" alt="Slide background">

                    <div class="ls-l ls-title" style="top: 96px; left: 35%; white-space: nowrap;" data-ls="
                    fade: true;
                    fadeout: true;
                    durationin: 750;
                    durationout: 750;
                    easingin: easeOutQuint;
                    rotatein: 90;
                    rotateout: -90;
                    scalein: .5;
                    scaleout: .5;
                    showuntil: 4000;
                  ">Encuentra lo mejor <strong>y todo sobre la inovación</strong> tecnológica
                    </div>

                    <div class="ls-l ls-mini-text" style="top: 338px; left: 35%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationout: 750;
                  easingin: easeOutQuint;
                  delayin: 300;
                  showuntil: 4000;
                  ">Tienda virtual de productos tecnológicos.
                    </div>
                </div>
                <!-- slide one end -->

                <!-- slide two start -->
                <div class="ls-slide ls-slide2" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;">

                    <img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/layerslider/slide2/bg.jpg" class="ls-bg" alt="Slide background">

                    <div class="ls-l ls-title" style="top: 40%; left: 21%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationin: 750; durationout: 109750;
                  easingin: easeOutQuint;
                  easingout: easeInOutQuint;
                  delayin: 0;
                  delayout: 0;
                  rotatein: 90;
                  rotateout: -90;
                  scalein: .5;
                  scaleout: .5;
                  showuntil: 4000;
                  "><strong>Ilimitadas</strong> opciones <em>de accesorios</em>
                    </div>

                    <div class="ls-l ls-price" style="top: 50%; left: 45%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationout: 109750;
                  easingin: easeOutQuint;
                  delayin: 300;
                  scalein: .8;
                  scaleout: .8;
                  showuntil: 4000;"><b>Desde</b> <strong><span>Bs</span>250</strong>
                    </div>

                    <a href="#" class="ls-l ls-more" style="top: 72%; left: 21%; display: inline-block; white-space: nowrap;"
                       data-ls="
                  fade: true;
                  fadeout: true;
                  durationin: 750;
                  durationout: 750;
                  easingin: easeOutQuint;
                  easingout: easeInOutQuint;
                  delayin: 0;
                  delayout: 0;
                  rotatein: 90;
                  rotateout: -90;
                  scalein: .5;
                  scaleout: .5;
                  showuntil: 4000;">Mira mas detalles
                    </a>
                </div>
                <!-- slide two end -->

                <!-- slide three start -->
                <div class="ls-slide ls-slide3" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 92,93,105;">

                    <img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/layerslider/slide3/bg.jpg" class="ls-bg" alt="Slide background">

                    <div class="ls-l ls-title" style="top: 83px; left: 33%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationin: 750;
                  durationout: 750;
                  easingin: easeOutQuint;
                  rotatein: 90;
                  rotateout: -90;
                  scalein: .5;
                  scaleout: .5;
                  showuntil: 4000;
                  ">
                        Nuevas ofertas &amp; Siempre <strong>actualizadas</strong> en tiempo real
                    </div>
                    <div class="ls-l"
                         style="top: 333px; left: 33%; white-space: nowrap; font-size: 20px; font: 20px 'Open Sans Light', sans-serif;"
                         data-ls="
                  fade: true;
                  fadeout: true;
                  durationout: 750;
                  easingin: easeOutQuint;
                  delayin: 300;
                  scalein: .8;
                  scaleout: .8;
                  showuntil: 4000;
                  ">
                        <a href="#" class="ls-buy">
                            Compra ahora!
                        </a>

                        <div class="ls-price">
                            <span>Todo al precio que quieras:</span>
                            <strong><sup>$$</sup></strong>
                        </div>
                    </div>
                </div>
                <!-- slide three end -->

                <!-- slide four start -->
                <div class="ls-slide ls-slide4" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;">

                    <img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/layerslider/slide4/bg.jpg" class="ls-bg" alt="Slide background">

                    <div class="ls-l ls-title" style="top: 35%; left: 60%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationin: 750;
                  durationout: 750;
                  easingin: easeOutQuint;
                  rotatein: 90;
                  rotateout: -90;
                  scalein: .5;
                  scaleout: .5;
                  showuntil: 4000;">
                        El rincón <br>
                        perfecto para
                    </div>

                    <div class="ls-l ls-mini-text" style="top: 70%; left: 60%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationout: 750;
                  easingin: easeOutQuint;
                  delayin: 300;
                  scalein: .8;
                  scaleout: .8;
                  showuntil: 4000;">
                        <span>Los amantes de </span>
                        <a href="#">la tecnológia</a>
                    </div>

                </div>
                <!-- slide four end -->
                <!-- slide three start -->
                <div class="ls-slide ls-slide3" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 92,93,105;">

                    <img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/layerslider/Banner1F.jpg" class="ls-bg" alt="Slide background">

                    <div class="ls-l ls-title" style="top: 83px; left: 33%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationin: 750;
                  durationout: 750;
                  easingin: easeOutQuint;
                  rotatein: 90;
                  rotateout: -90;
                  scalein: .5;
                  scaleout: .5;
                  showuntil: 4000;
                  ">
        <!--                Nuevas ofertas &amp; Siempre <strong>actualizadaas</strong> en tiempo real-->
                    </div>
                    <div class="ls-l"
                         style="top: 333px; left: 33%; white-space: nowrap; font-size: 20px; font: 20px 'Open Sans Light', sans-serif;"
                         data-ls="
                  fade: true;
                  fadeout: true;
                  durationout: 750;
                  easingin: easeOutQuint;
                  delayin: 300;
                  scalein: .8;
                  scaleout: .8;
                  showuntil: 4000;
                  ">
        <!--                <a href="#" class="ls-buy">-->
        <!--                    Compra ahora!-->
        <!--                </a>-->

        <!--                <div class="ls-price">-->
        <!--                    <span>Todo al precio que quieras:</span>-->
        <!--                    <strong><sup>$$</sup></strong>-->
        <!--                </div>-->
                    </div>
                </div>
                <!-- slide three end -->

                <!-- slide four start -->
                <div class="ls-slide ls-slide4" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;">

                    <img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/layerslider/Banner2F.jpg" class="ls-bg" alt="Slide background">

                    <div class="ls-l ls-title" style="top: 35%; left: 60%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationin: 750;
                  durationout: 750;
                  easingin: easeOutQuint;
                  rotatein: 90;
                  rotateout: -90;
                  scalein: .5;
                  scaleout: .5;
                  showuntil: 4000;">
        <!--                El rincón <br>-->
        <!--                perfecto para-->
                    </div>

                    <div class="ls-l ls-mini-text" style="top: 70%; left: 60%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationout: 750;
                  easingin: easeOutQuint;
                  delayin: 300;
                  scalein: .8;
                  scaleout: .8;
                  showuntil: 4000;">
        <!--                <span>Los amantes de </span>-->
        <!--                <a href="#">la tecnológia</a>-->
                    </div>

                </div>
                <!-- slide four end -->
                <!-- slide three start -->
                <div class="ls-slide ls-slide3" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 92,93,105;">

                    <img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/layerslider/Banner3F.jpg" class="ls-bg" alt="Slide background">

                    <div class="ls-l ls-title" style="top: 83px; left: 33%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationin: 750;
                  durationout: 750;
                  easingin: easeOutQuint;
                  rotatein: 90;
                  rotateout: -90;
                  scalein: .5;
                  scaleout: .5;
                  showuntil: 4000;
                  ">
        <!--                Nuevas ofertas &amp; Siempre <strong>actualizadas</strong> en tiempo real-->
                    </div>
                    <div class="ls-l"
                         style="top: 333px; left: 33%; white-space: nowrap; font-size: 20px; font: 20px 'Open Sans Light', sans-serif;"
                         data-ls="
                  fade: true;
                  fadeout: true;
                  durationout: 750;
                  easingin: easeOutQuint;
                  delayin: 300;
                  scalein: .8;
                  scaleout: .8;
                  showuntil: 4000;
                  ">
        <!--                <a href="#" class="ls-buy">-->
        <!--                    Compra ahora!-->
        <!--                </a>-->

        <!--                <div class="ls-price">-->
        <!--                    <span>Todo al precio que quieras:</span>-->
        <!--                    <strong><sup>$$</sup></strong>-->
        <!--                </div>-->
                    </div>
                </div>
                <!-- slide three end -->

                <!-- slide four start -->
                <div class="ls-slide ls-slide4" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;">

                    <img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/layerslider/Banner4F.jpg" class="ls-bg" alt="Slide background">

                    <div class="ls-l ls-title" style="top: 35%; left: 60%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationin: 750;
                  durationout: 750;
                  easingin: easeOutQuint;
                  rotatein: 90;
                  rotateout: -90;
                  scalein: .5;
                  scaleout: .5;
                  showuntil: 4000;">
        <!--                El rincón <br>-->
        <!--                perfecto para-->
                    </div>

                    <div class="ls-l ls-mini-text" style="top: 70%; left: 60%; white-space: nowrap;" data-ls="
                  fade: true;
                  fadeout: true;
                  durationout: 750;
                  easingin: easeOutQuint;
                  delayin: 300;
                  scalein: .8;
                  scaleout: .8;
                  showuntil: 4000;">
        <!--                <span>Los amantes de </span>-->
        <!--                <a href="#">la tecnológia</a>-->
                    </div>

                </div>
                <!-- slide four end -->
            </div>
            <!-- LayerSlider end -->
        </div>
        <!-- END SLIDER -->



        <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
        <div class="row margin-bottom-40">
            <?=  BarView::renderBar('home_products_new');?>
        </div>
        <!-- END SALE PRODUCT & NEW ARRIVALS -->

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 ">
            <!-- BEGIN SIDEBAR -->
            <?=  BarView::renderBar('home_products_offers');?>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR & CONTENT -->

        <hr />
        <div class="row service-box margin-bottom-40">
            <div class="col-md-4 col-sm-4">
                <div class="service-box-heading">
                    <em><i class="fa fa-location-arrow blue"></i></em>
                    <span>Confiable y Segura</span>
                </div>
                <p> Comprar por internet no es nada nuevo, hoy en día se está haciendo más común que visitar las tiendas físicas de los comercios por la comodidad y tiempo para realizar la compra. Tenemos más de 10 años en el mercado poniendo a su alcance la mejore tecnología en productos de electrónica y electrodomésticos.
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box-heading">
                    <em><i class="fa fa-check red"></i></em>
                    <span>Amplia Variedad</span>
                </div>
                <p>Tenemos la mas amplia gama de productos para que puedas encontrar una gran variedad de bienes de consumo y medios digitales, así como dispositivos y aparatos electrónicos. Puedes encontrar una gran variedad de productos para el hogar, ropa barata, electrodomésticos, teléfonos, entre otras cosas que puedes comprar por Internet.
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-box-heading">
                    <em><i class="fa fa-compress green"></i></em>
                    <span>Calidad Garantizada</span>
                </div>
                <p>Todos nuestros productos tienen una garantía que va desde 6 meses hasta 5 años desde su adquisición. la garantía le cubre los errores y desperfectos de origen y le permite que sea reparado el producto en cualquier parte del país.
                </p>
            </div>
        </div>

</div>
</div>