<?php //include_once(TEMPLATES_DIR . 'login.phtml');?>


<!-- BEGIN LOGIN FORM -->
<form class="login-form" action="<?=URI::toPage().'access';?>" method="post">
    <h3 class="form-title">Acceso a Cuenta de Cliente</h3>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
			<span>
			Enter any username and password. </span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Email</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Contraseña</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Contraseña" name="password"/>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn green pull-right">
            Ingresar <i class="m-icon-swapright m-icon-white"></i>
        </button>
        <br />
    </div>

    <div class="create-account">
        <p>
            ¿No tiene una cuenta? &nbsp; <a href="javascript:;" id="register-btn">
                Crear una Cuenta </a>
        </p>
    </div>
</form>
<!-- END LOGIN FORM -->
<!-- BEGIN FORGOT PASSWORD FORM -->
<!--<form class="forget-form" action="index.html" method="post">-->
<!--    <h3>Forget Password ?</h3>-->
<!--    <p>-->
<!--        Enter your e-mail address below to reset your password.-->
<!--    </p>-->
<!--    <div class="form-group">-->
<!--        <div class="input-icon">-->
<!--            <i class="fa fa-envelope"></i>-->
<!--            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-actions">-->
<!--        <button type="button" id="back-btn" class="btn">-->
<!--            <i class="m-icon-swapleft"></i> Back </button>-->
<!--        <button type="submit" class="btn green pull-right">-->
<!--            Submit <i class="m-icon-swapright m-icon-white"></i>-->
<!--        </button>-->
<!--    </div>-->
<!--</form>-->
<!-- END FORGOT PASSWORD FORM -->
<!-- BEGIN REGISTRATION FORM -->
<form class="register-form formAjaxPost" action="<?=URI::toPage().'createAccount';?>" method="post">
    <h3>Suscripción de Cliente</h3>
    <p>
        Datos Personales:
    </p>
<!--
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Full Name</label>
        <div class="input-icon">
            <i class="fa fa-font"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Full Name" name="fullname"/>
        </div>
    </div>
-->
    <!-- -->
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Nombre Completo</label>
        <div class="row">
            <div class="col-md-6">
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="Nombres" name="name"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-icon">
                    <i class="fa fa-font"></i>
                    <input class="form-control placeholder-no-fix" type="text" placeholder="Apellidos" name="lastname"/>
                </div>
            </div>
        </div>
    </div>
<!-- -->
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Documento de Identidad</label>
        <div class="input-icon">
            <i class="fa fa-check"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Documento de Identidad" name="idNumber"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Dirección</label>
        <div class="input-icon">
            <i class="fa fa-location-arrow"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Dirección" name="address"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Ciudad</label>
        <div class="input-icon">
            <i class="fa fa-location-arrow"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Ciudad" name="city"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Teléfono</label>
        <div class="input-icon">
            <i class="fa fa-location-arrow"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Teléfono" name="phone"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Celular</label>
        <div class="input-icon">
            <i class="fa fa-location-arrow"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Celular" name="cellphone"/>
        </div>
    </div>

    <p>
        Cuenta de Usuario:
    </p>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Email</label>
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Contraseña</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Contraseña" name="password"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Repetir Contraseña</label>
        <div class="controls">
            <div class="input-icon">
                <i class="fa fa-check"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Repetir Contraseña" name="rpassword"/>
            </div>
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label>-->
<!--            <input type="checkbox" name="tnc"/> I agree to the <a href="#">-->
<!--                Terms of Service </a>-->
<!--            and <a href="#">-->
<!--                Privacy Policy </a>-->
<!--        </label>-->
<!--        <div id="register_tnc_error">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-actions">
        <button id="register-back-btn" type="button" class="btn">
            <i class="m-icon-swapleft"></i> Volver </button>
        <button type="submit" id="register-submit-btn" class="btn green pull-right">
            Suscribirme <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
</form>
<!-- END REGISTRATION FORM -->

<script>
jQuery(document).ready(function() {
    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    QuickSidebar.init(); // init quick sidebar
    Demo.init(); // init demo features
    Login.init();
    $(".formAjaxPost").formAjaxPost({
        'onSuccess': function (response) {
            window.location = "<?=URI::toModule().'shopping/account';?>";
        },
    });
});
</script>