<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Asignación de Productos a Sucursal
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row" style="align-content: center;padding: 0 5%">
            <table class="table">
                <tr>
                    <th>Producto</th>
                    <td>
                        <strong><?=$productAcquisition->getSelProduct()->getName();?></strong>
						<br />
                        <small><strong>Grupo:</strong> <?=$productAcquisition->getSelProduct()->getSelProductGroup()->getName();?></small>
                    </td>
                </tr>
                <tr>
                    <th>Proveedor</th>
                    <td>
                        <strong><?=$productAcquisition->getSelAcquisition()->getSelProvider()->getCompany();?></strong>
                    </td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td><?=$productAcquisition->getSelAcquisition()->getDate();?></td>
                </tr>
                <tr>
                    <th>Cantidad Total</th>
                    <td><?=$productAcquisition->getQuantity();?></td>
                </tr>
                <?php
                foreach($branchs as $branch){
                ?>
                    <tr>
                        <td> <?= $branch->getName(); ?></td>
                        <td><?= $productAcquisition->countAssignedTo($branch); ?></td>
                    </tr>
                <?php
                }
                ?>
                <tr>
                    <th>Sin asignar</th>
                    <td><?= $productAcquisition->countNotAssignedItems();?></td>
                </tr>
            </table>
        </div>
        <form action="<?=URI::toPage().'assingBranch/'.$productAcquisition->getId();?>" method="post">
            <div class="form-body">
			<?php
			if($productAcquisition->countNotAssignedItems() > 0){
			?>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="branchId">Sucursal</label>
                        <div class="input-group">
                            <select id="branchId" name="branchId" class="form-control">
                                <?php
                                foreach ($branchs as $branch) {
                                    ?>
                                    <option value="<?= $branch->getId(); ?>"><?= $branch->getName(); ?></option>
                                <?php
                                }
                                ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="branchId">Cantidad a asignar</label>

                        <div class="input-group">
                            <input type="text" name="cantidad" id="cantidad" size="10" value="<?=$productAcquisition->countNotAssignedItems();?>" class="form-control text-right"/>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue">Aceptar</button>
                </div>
			<?php
			}else{
			?>
			<div class="row text-center">
				<strong>* Ya se asignaron todos los items de la adquisición de este producto *</strong>
			</div>
			<?php
			}
			?>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $().ready(function () {
        $('.loadContent').loadContent();
        $('.ajaxPost').formAjaxPost();
        $(".datoFecha").datepicker();
        validateForm();
    });
    function validateForm() {
        $("form").submit(function () {
            var cantidad = parseInt($('#cantidad').val());
            var cantidadPermitida = parseInt(<?=$productAcquisition->countNotAssignedItems();?>);
            if (cantidad > cantidadPermitida) {
                alert("SOLO PUEDE ASIGNAR <?=$productAcquisition->countNotAssignedItems();?> ITEMS");
                return false;
            }
            return true;
        });
    }
</script>