<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Registro de compra
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row" style="align-content: center">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>Proveedor</th>
                        <td><?=$acquisition->getSelProvider()->getCompany();?></td>

                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td><?=$acquisition->getDate();?></td>
                    </tr>
                </table>
            </div>
        </div>
        <form action="" method="post" role="form" class="ajaxPost">

            <div class="form-body">
                <input type="hidden" id="action" name="action" value="save"/>
                <input type="hidden" id="acquisitionId" name="acquisitionId" value="<?= $acquisition->getId(); ?>"/>

                <div class="form-group">
                    <label class="control-label" for="providerId">Productos</label>

                    <div class="input-group">
                        <select id="rolId" name="productId" class="form-control">
                            <?php
                            foreach ($products as $product) {
                            ?>
                                <option value="<?= $product->getId(); ?>"><?= $product->getName(); ?></option>
                            <?php
                            }
                            ?>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label" for="quantity">Cantidad</label>
                    <input type="text" id="quantity" name="quantity" value="" class="form-control" size="5" maxlength="5"/>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label" for="price">Precio Unitario</label>
                    <input type="text" id="price" name="price" value="" class="form-control" size="5" maxlength="5"/>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label" for="providerId">Marca</label>
                    <div class="input-group">
                        <select id="brandId" name="brandId" class="form-control">
                            <?php
                            foreach ($brands as $brand) {
                                ?>
                                <option value="<?= $brand->getId(); ?>"><?= $brand->getName(); ?></option>
                            <?php
                            }
                            ?>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label" for="providerId">Moneda</label>
                    <div class="input-group">
                        <select id="money" name="money" class="form-control">
                            <?php
                            foreach ($moneys as $money) {
                                ?>
                                <option value="<?= $money; ?>"><?= $money;?></option>
                            <?php
                            }
                            ?>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label" for="warrantyProvider">Garantía Proveedor</label>
                    <input type="text" id="warrantyProvider" name="warrantyProvider" value="" class="form-control"/>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label" for="warranty">Garantía</label>
                    <input type="text" id="warranty" name="warranty" value="" class="form-control"/>
                </div>

                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost();
    $(".datoFecha").datepicker();
});
</script>