<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Compras del proveedor: <?=$acquisition->getSelProvider()->getCompany();?>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div style="float:right;">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php
                        if(PageControl::canCreate()){
                            ?>
                            <a href="<?=URI::toPage().'create/'.$acquisition->getId();?>" class="btn btn-sm btn-circle green" data-toggle="modal"
                               data-target="#ajax-modal"><i class="fa fa-plus"></i> Registrar Nueva Compra</a>
                        <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="tableAcquisitionProduct" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th width="10%">Productos</th>
                    <?php
                    if(PageControl::canUpdate()){
                    ?>
                        <th width="10%">Sucursal</th>
                        <th width="10%">Editar</th>
                    <?php
                    }
                    if(PageControl::canDelete()){
                    ?>
                        <th width="10%">Eliminar</th>
                    <?php
                    }
                    ?>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nº</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Productos</th>
                    <?php
                    if(PageControl::canUpdate()){
                    ?>
                        <th>Sucursal</th>
                        <th>Editar</th>
                    <?php
                    }
                    if(PageControl::canDelete()){
                    ?>
                        <th>Eliminar</th>
                    <?php
                    }
                    ?>
                </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toShowLink = URI::toModule().'productItem/dataList/';
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                $toAssingBranchLink = URI::toPage().'createAssingBranch/';
                foreach($productAcquisitions as $productAcquisition){
                    $i++;
                    $pk = $productAcquisition->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="text-center"><?=$i;?></td>
                        <td class="text-left"><?=$productAcquisition->getSelProduct()->getName();?></td>
                        <td class="text-right"><?=$productAcquisition->getQuantity();?></td>
                        <td class="text-right"><?=number_format($productAcquisition->getPrice(), 2);?></td>
                        <td class="text-center">
                            <a href="<?=$toShowLink.$pk;?>" class="btn btn-circle btn-sm purple">
                                <i class="fa fa-fw fa-edit"></i> Productos
                            </a>
                        </td>
                        <?php
                        if(PageControl::canUpdate()){
                        ?>
                            <td class="text-center">
                                <a href="<?= $toAssingBranchLink.$pk; ?>" class="btn btn-sm btn-circle blue"
                                   data-toggle="modal"
                                   data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Asignar Sucursal
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal"
                                   data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger" data-toggle="modal">
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                <?php
                }
                if(sizeof($productAcquisitions)==0){
                ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron Compras registradas *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('#tableAcquisitionProduct').dataTable();
});
</script>