<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Edición
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="update"/>
                <input type="hidden" name="id" value="<?= $productItem->getId();?>"/>

                    <div class="form-group">
                        <label class="control-label" for="providerId">Proveedor</label>
                        <div class="input-group">
                            <select id="rolId" name="providerId" class="form-control">
                                <option
                                    value="<?= $productItem->getSelProvider()->getId(); ?>"><?= $productItem->getSelProvider()->getCompany(); ?></option>
                                <?php
                                foreach ($providers as $provider) {
                                    ?>
                                    <option value="<?= $provider->getId(); ?>"><?= $provider->getCompany(); ?></option>
                                <?php
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="date">Fecha</label>
                        <div class="input-group">
                            <input type="text" id="date" name="date" value="<?=$productItem->getDate('m/d/Y');?>"
                                   class="form-control datoFecha" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="observation">Observaciones</label>
                        <div class="input-group">
                            <textarea id="observation" name="observation" cols="30" rows="2" class="form-control"
                                      placeholder="Observaciones..."><?= $productItem->getObservation(); ?></textarea>
                        </div>
                    </div>

                </div>

                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Aceptar</button>
                </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $().ready(function () {
        $('.loadContent').loadContent();
        $('.ajaxPost').formAjaxPost();
        $(".datoFecha").datepicker();
    });
</script>