<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Detalles de Usuarios
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php if(PageControl::canCreate()){ ?>
                            <a href="<?=URI::toPage().'create';?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal-lg"><i class="fa fa-plus"></i> Agregar Usuario</a>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tableUser" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Primer Nombre</th>
                        <th>Segundo Nombre</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Detalles</th>
                        <?php if(PageControl::canUpdate()){ ?>
                            <th width="10%">Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                            ?>
                            <th width="10%">Eliminar</th>
                        <?php } ?>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nº</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Primer Nombre</th>
                        <th>Segundo Nombre</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Detalles</th>
                        <?php if(PageControl::canUpdate()){ ?>
                            <th>Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                            ?>
                            <th>Eliminar</th>
                        <?php } ?>
                    </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toDetailsLink = URI::toPage().'details/';
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($users as $user){
                    $i++;
                    $pk = $user->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="text-center"><?=$i;?></td>
                        <td class="text-left"><?=$user->getFirstLastname();?></td>
                        <td class="text-left"><?=$user->getSecondLastname();?></td>
                        <td class="text-left"><?=$user->getFirstName();?></td>
                        <td class="text-left"><?=$user->getSecondName();?></td>
                        <td class="text-left"><?=$user->getUsername();?></td>
                        <td class="text-left"><?=$user->getEmail();?></td>
                        <td class="text-center">
                            <a href="<?=$toDetailsLink.$pk;?>" title="Ver detalles" class="btn btn-circle btn-sm purple">
                                <i class="fa fa-fw fa-folder-open-o"></i> Detalles
                            </a>
                        </td>
                        <?php
                        if(PageControl::canUpdate()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-circle btn-sm btn-success" data-toggle="modal" data-target="#ajax-modal-lg">
                                    <i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger"
                                    onclick="<?=$user->countChoUserXRols()>0? "alert('No puede eliminar un usuario con roles asignados'); return false;": "return confirm('¿Esta seguro de eliminar este registro?');"?>" >
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                <?php
                }
                if(sizeof($users)==0) {
                    ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron Usuarios Registrados *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- page script -->
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $(".dataTable").dataTable();
});
</script>