<section id="bodyWork">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Usuarios
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Administración</a></li>
            <li class="active"><a href="<?=URI::toPage();?>">Usuarios</a></li>
            <li class="active">Detalles de Usuario</li>
        </ol>
    </section>

    <!-- Main content -->
    <section id="mainContent" class="content">

        <div class="row">

            <div class="col-lg-6">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Datos de Usuario
                        </div>
                        <div class="tools">

                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <h3>Datos Personales</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:30%">Primer Nombre:</th>
                                        <td><?=$user->getFirstName();?></td>
                                    </tr>
                                    <tr>
                                        <th>Segundo Nombre:</th>
                                        <td><?=$user->getSecondName();?></td>
                                    </tr>
                                    <tr>
                                        <th>Primer Apellido:</th>
                                        <td><?=$user->getFirstLastname();?></td>
                                    </tr>
                                    <tr>
                                        <th>Segundo Apellido:</th>
                                        <td><?=$user->getSecondLastname();?></td>
                                    </tr>
                                    <tr>
                                        <th>C.I.:</th>
                                        <td><?=$user->getDni() . ' OR';?></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h3>Cuenta de Usuario</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Email:</th>
                                        <td><?=$user->getEmail();?></td>
                                    </tr>
                                    <tr>
                                        <th>Username:</th>
                                        <td><?=$user->getUsername();?></td>
                                    </tr>
                                    <tr>
                                        <th>Password:</th>
                                        <td>
                                            *****
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tipo:</th>
                                        <td><?=$user->getType() == "INTERNAL"? 'Interno': 'Externo';?></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h3>Otros Datos</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Sexo:</th>
                                        <td><?=$user->getGender()=='MALE'? 'Masculino': 'Femenino';?></td>
                                    </tr>
                                    <tr>
                                        <th>Fecha de Nacimiento:</th>
                                        <td><?=$user->getBirthday('d/M/y');?></td>
                                    </tr>
                                    <tr>
                                        <th>Dirección:</th>
                                        <td><?=$user->getAddress();?></td>
                                    </tr>
                                    <tr>
                                        <th>Teléfono Fijo:</th>
                                        <td><?=$user->getPrimaryPhone();?></td>
                                    </tr>
                                    <tr>
                                        <th>Teléfono Móvil:</th>
                                        <td><?=$user->getCellPhone();?></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Roles de Usuario
                        </div>
                        <div class="tools">

                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <?php if(PageControl::canUpdate()){ ?>
                                            <a href="<?=URI::toPage().'rolAdd/'.$user->getId();;?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal-sm"><i class="fa fa-plus"></i> Asignar Rol</a>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                        <?php
                        $userRols = $user->inOrderRols();
                        if($userRols->count()>0){
                            ?>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Rol de Usuario</th>
                                    <th width="20%">Quitar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php
                                foreach ($userRols as $userRol){
                                    ?>
                                    <tr>
                                        <td><?=$userRol->getName();?></td>
                                        <td class="text-center">
                                            <a href="<?=URI::toPage().'rolDelete/'.$user->getId().'?rolId='.$userRol->getId();?>" class="btn btn-circle btn-sm btn-danger" onclick="return confirm('¿Esta seguro de eliminar este registro?')"><i class="fa fa-minus-circle"></i> Quitar</a>
                                        </td>
                                    </tr>
                                <?php
                                }
                                ?>
                                </tbody>
                            </table>
                        <?php
                        } else {
                            ?>
                            <p class="text-center">
                                * No se asignaron roles de usuario *
                            </p>
                        <?php
                        }
                        ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    //$("#simplePanel form").validationEngine();
    $('.ajaxPost').formAjaxPost({
        onSuccess: function (response) {
            $('').remove();
            window.location = "<?=  URI::toPage();?>details/"+response.userId;
        }
    });
});
</script>