<h3 class="form-section">Información Personal</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="firstName">Primer Nombre</label>
            <input type="text" id="firstName" name="firstName" value="<?=$user? $user->getFirstName(): '';?>" size="30" maxlength="30" class="form-control uppercase" placeholder="Primer nombre..." autocomplete="off" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group ">
            <label class="control-label" for="secondName">Segundo Nombre</label>
            <input type="text" id="secondName" name="secondName" value="<?=$user? $user->getSecondName(): '';?>" size="30" maxlength="100" class="form-control uppercase" placeholder="Segundo nombre..." autocomplete="off" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="firstLastname">Primer Apellido</label>
            <input type="text" id="firstLastname" name="firstLastname" value="<?=$user? $user->getFirstLastname(): '';?>" size="30" maxlength="30" class="form-control uppercase" placeholder="Primer apellido..." autocomplete="off" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="secondLastname">Segundo Apellido</label>
            <input type="text" id="secondLastname" name="secondLastname" value="<?=$user? $user->getSecondLastname(): '';?>" size="30" maxlength="100" class="form-control uppercase" placeholder="Segundo apellido..." autocomplete="off" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="dni">C.I.</label>
            <div class="input-group">
                <div class="col-sm-8">
                    <input type="text" id="dni" name="dni" value="<?=$user? $user->getDni(): '';?>" size="30" maxlength="30" class="form-control" placeholder="Cédula de Identidad..." autocomplete="off" />
                </div>
                <div class="col-sm-3">
                    <select class="form-control">
                        <option value="">-EXT-</option>
                        <option value="">BN</option>
                        <option value="">CB</option>
                        <option value="">CH</option>
                        <option value="">LP</option>
                        <option value="">OR</option>
                        <option value="">PA</option>
                        <option value="">PO</option>
                        <option value="">SC</option>
                        <option value="">TA</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="birthday">Fecha de Nacimiento</label>
            <div class="input-group">
                <div class="input-group input-large margin-top-10" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
                    <input type="text" id="birthday" name="birthday" value="<?=$user? $user->getBirthday("d/m/Y"): '';?>" data-date-format="dd/mm/yyyy" class="form-control datepicker" />
                    <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="gender">Sexo</label>
            <br />
            <div class="radio-listcc" id="gender">
                <label class="inlineaaas">
                    <input type="radio" name="gender" value="MALE" class="form-control radio" <?=$user? ($user->getGender()=='MALE'? 'checked="true" ': ''): '';?>/>
                    Masculino
                </label>
                &nbsp;&nbsp;
                <label class="inlinesad">
                    <input type="radio" name="gender" value="MALE" class="form-control radio" <?=$user? ($user->getGender()=='FEMALE'? 'checked="true" ': ''): '';?>/>
                    Femenino
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="address">Dirección</label>
            <textarea id="address" name="address" cols="30" rows="2" class="form-control" placeholder="Dirección..."><?= $user? $user->getAddress(): '';?></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="primaryPhone">Teléfono Fijo</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                <input type="text" id="primaryPhone" name="primaryPhone" value="<?= $user? $user->getPrimaryPhone(): '';?>" size="30" maxlength="30" class="form-control validate[required]" placeholder="Teléfono Fijo" autocomplete="off" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="cellPhone">Teléfono Móvil</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                <input type="text" id="cellPhone" name="cellPhone" value="<?=$user? $user->getCellPhone(): '';?>" size="30" maxlength="30" class="form-control validate[required]" placeholder="Teléfono Móvil" autocomplete="off" />
            </div>
        </div>
    </div>
</div>

<h3 class="form-section">Cuenta de Usuario</h3>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="text" id="email" name="email" value="<?=$user? $user->getEmail(): '';?>" size="30" maxlength="50" class="form-control validate[required]" placeholder="Email..." autocomplete="off" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="username">Username <small>(para el sistema)</small></label>
            <input type="text" id="username" name="username" value="<?=$user? $user->getUsername(): '';?>" size="30" maxlength="30" class="form-control validate[required]" placeholder="Username..." autocomplete="off" />
        </div>
    </div>
</div>
<script type="text/javascript">
$().ready(function(){
    $(".datepicker").datepicker({dateFormat: 'dd/mm/yyyy'});
    $(".ajaxPost").formAjaxPost({
        onSuccess: function (response) {
            window.location = "<?=  URI::toPage();?>details/"+response.userId;
        }
    });
});
</script>