<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Rol a Usuario
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="rolSave" />
                <input type="hidden" name="userId" value="<?=$user->getId();?>" />
                <div class="form-group">
                    <label class="control-label">Usuario</label>
                    <div class="input-group">
                        - <?=$user->formalName();?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="rolId">Rol</label>
                    <select id="rolId" name="rolId" class="form-control">
                        <option value="">Seleccionar...</option>
                        <?php
                        foreach($availableRols as $availableRol){
                            ?>
                            <option value="<?=$availableRol->getId();?>"><?=$availableRol->getName();?></option>
                        <?php
                        }
                        ?>
                    </select>
                </div>
                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    //$("#simplePanel form").validationEngine();
    $('.ajaxPost').formAjaxPost({
        beforeSend: function(){
            $("#mainContent").mask("Cargando...");
        },
        onSuccess: function (response) {
            window.location.reload();
        }
    });
});
</script>