<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>SINDEL | Dunamis System</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="<?=CSS_WEB;?>font-OpenSans.css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="<?=WEB_ROOT;?>metronic/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?=WEB_ROOT;?>metronic/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?=WEB_ROOT;?>metronic/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?=WEB_ROOT;?>metronic/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?=WEB_ROOT;?>metronic/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="<?=WEB_ROOT;?>metronic/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="<?=WEB_ROOT;?>metronic/plugins/select2/select2.css" rel="stylesheet" type="text/css"/>
    <link href="<?=WEB_ROOT;?>metronic/css/login.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL SCRIPTS -->

    <!-- BEGIN THEME STYLES -->
    <link href="<?=WEB_ROOT;?>metronic/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="<?=WEB_ROOT;?>metronic/css/plugins.css" rel="stylesheet" type="text/css"/>

    <link href="<?=WEB_ROOT;?>metronic/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="<?=WEB_ROOT;?>metronic/layout/css/themes/default.css" rel="stylesheet" type="text/css"/>
    <link href="<?=WEB_ROOT;?>metronic/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="<?=WEB_ROOT;?>metronic/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="<?=WEB_ROOT;?>metronic/plugins/bootstrap-datepicker/css/datepicker3.css"/>
    <link rel="stylesheet" type="text/css" href="<?=WEB_ROOT;?>metronic/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
    <link rel="stylesheet" type="text/css" href="<?=WEB_ROOT;?>metronic/plugins/typeahead/typeahead.css"/>


    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="<?=WEB_ROOT;?>metronic/plugins/respond.min.js"></script>
    <script src="<?=WEB_ROOT;?>metronic/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="<?=WEB_ROOT;?>metronic/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="<?=WEB_ROOT;?>metronic/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="<?=WEB_ROOT;?>metronic/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/plugins/select2/select2.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->

    <script src="<?=WEB_ROOT;?>metronic/scripts/metronic.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="<?=WEB_ROOT;?>metronic/layout/scripts/login.js" type="text/javascript"></script>
<!--    <script src="../../assets/admin/pages/scripts/login.js" type="text/javascript"></script>-->


    <script type="text/javascript" src="<?=WEB_ROOT;?>metronic/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="<?=WEB_ROOT;?>metronic/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="<?=WEB_ROOT;?>metronic/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="<?=WEB_ROOT;?>metronic/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
    <script type="text/javascript" src="<?=WEB_ROOT;?>metronic/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="<?=WEB_ROOT;?>metronic/plugins/typeahead/handlebars.min.js"></script>
    <script type="text/javascript" src="<?=WEB_ROOT;?>metronic/plugins/typeahead/typeahead.bundle.min.js"></script>


    <script src="<?=JQUERY_WEB;?>jquery.simpleDialog.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.loadmask.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.validationEngine-en.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.validationEngine.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.formAjaxPost.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.simpleDialog.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.loadContent.js" type="text/javascript"></script>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="login">

    <!-- BEGIN HEADER -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="<?=WEB_ROOT;?>">
            <img src="<?=IMG_WEB;?>logo_sindel_dunamis.png" alt=""/>
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->

    <!-- BEGIN LOGIN -->
    <div class="content">

        <?=$__Content;?>

    </div>
    <!-- END LOGIN -->

    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        <?=date('Y');?> &copy; SINDEL.
    </div>
    <!-- END COPYRIGHT -->


    <script>
    jQuery(document).ready(function() {
        $('#ajax-modal, #ajax-modal-sm, #ajax-modal-lg, #ajax-modal-static').on('hidden.bs.modal', function() {
            $(this).removeData('bs.modal');
        });
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
        $.fn.datepicker.defaults.language = 'es';
        $.fn.datepicker.defaults.format = 'dd/mm/yyyy';
        $.fn.datepicker.defaults.autoclose = true;
        $.fn.datepicker.defaults.todayHighlight = true;
    });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>