<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>SINDEL | Dunamis System</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="Metronic Shop UI description" name="description">
    <meta content="Metronic Shop UI keywords" name="keywords">
    <meta content="keenthemes" name="author">

    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-">
    <!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Fonts START -->
    <link href="<?=CSS_WEB;?>font-OpenSans.css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&subset=all" rel="stylesheet" type="text/css" />
    <link href="<?=CSS_WEB;?>font-SourceSansPro.css?family=Source+Sans+Pro:200,300,400,600,700,900&subset=all" rel="stylesheet" type="text/css" />
    <!--- fonts for slider on the index page -->
    <!-- Fonts END -->

    <!-- Global styles START -->
    <link href="<?=WEB_ROOT;?>metronic/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Global styles END -->

    <!-- Page level plugin styles START -->
    <link href="<?=WEB_ROOT;?>metronic/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/plugins/slider-layer-slider/css/layerslider.css" rel="stylesheet">
    <!-- Page level plugin styles END -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="<?=WEB_ROOT;?>metronic/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
    <link href="<?=WEB_ROOT;?>metronic/css/profile.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->

    <!-- Theme styles START -->
    <link href="<?=WEB_ROOT;?>metronic/css/components.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/frontend/layout/css/style.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">
    <link href="<?=WEB_ROOT;?>metronic/frontend/pages/css/style-layer-slider.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/frontend/layout/css/style-responsive.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color">
    <link href="<?=WEB_ROOT;?>metronic/frontend/layout/css/custom.css" rel="stylesheet">
    <!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">

<!-- BEGIN TOP BAR -->
<div class="pre-header">
    <div class="container">
        <div class="row">
            <!-- BEGIN TOP BAR LEFT PART -->
            <div class="col-md-6 col-sm-6 additional-shop-info">
                <ul class="list-unstyled list-inline">
                    <li><i class="fa fa-phone"></i><span>+52-11754</span></li>
                    <!-- BEGIN LANGS -->
                    <li class="langs-block">
                        <a href="javascript:void(0);" class="current">Línea de Servicio las 24 horas</a>
                    </li>
                    <!-- END LANGS -->
                </ul>
            </div>
            <!-- END TOP BAR LEFT PART -->
            <!-- BEGIN TOP BAR MENU -->
            <div class="col-md-6 col-sm-6 additional-nav">
                <ul class="list-unstyled list-inline pull-right">
                    <li><a href="<?=WEB_ROOT;?>main/index/logout"> <i class="fa fa-sign-out"></i> Cerrar Sesión</a></li>
                </ul>
            </div>
            <!-- END TOP BAR MENU -->
        </div>
    </div>
</div>
<!-- END TOP BAR -->

<!-- BEGIN HEADER -->
<div class="header">
    <div class="container">
        <!-- BEGIN CART -->
        <div class="top-cart-block">
            <!--            <div class="top-cart-info">
                            <a href="javascript:void(0);" class="top-cart-info-count">3 items</a>
                            <a href="javascript:void(0);" class="top-cart-info-value">$1260</a>
                        </div>
                        <i class="fa fa-shopping-cart"></i>
            -->
            <div class="top-cart-content-wrapper">
                <div class="top-cart-content">
                    <ul class="scroller" style="height: 250px;">
                        <li>
                            <a href="shop-item.html"><img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/imgLatop.jpg"
                                                          alt="Rolex Classic Watch" width="37" height="34"></a>
                            <span class="cart-content-count">x 1</span>
                            <strong><a href="shop-item.html">Laptop Lanix Neuron</a></strong>
                            <em>$1230</em>
                            <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                        </li>
                        <li>
                            <a href="shop-item.html"><img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/imgLatop.jpg"
                                                          alt="Rolex Classic Watch" width="37" height="34"></a>
                            <span class="cart-content-count">x 1</span>
                            <strong><a href="shop-item.html">Laptop Dell Inspiron</a></strong>
                            <em>$1230</em>
                            <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                        </li>
                        <li>
                            <a href="shop-item.html"><img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/imgLatop.jpg"
                                                          alt="Rolex Classic Watch" width="37" height="34"></a>
                            <span class="cart-content-count">x 1</span>
                            <strong><a href="shop-item.html">Laptop Dell Inspiron</a></strong>
                            <em>$1230</em>
                            <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                        </li>
                        <li>
                            <a href="shop-item.html"><img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/imgLatop.jpg"
                                                          alt="Rolex Classic Watch" width="37" height="34"></a>
                            <span class="cart-content-count">x 1</span>
                            <strong><a href="shop-item.html">Notebook HP Pavilion 14"</a></strong>
                            <em>$1230</em>
                            <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                        </li>
                        <li>
                            <a href="shop-item.html"><img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/imgLatop.jpg"
                                                          alt="Rolex Classic Watch" width="37" height="34"></a>
                            <span class="cart-content-count">x 1</span>
                            <strong><a href="shop-item.html">Chromebook 14"</a></strong>
                            <em>$1230</em>
                            <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                        </li>
                        <li>
                            <a href="shop-item.html"><img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/imgLatop.jpg"
                                                          alt="Rolex Classic Watch" width="37" height="34"></a>
                            <span class="cart-content-count">x 1</span>
                            <strong><a href="shop-item.html">Laptop Acer UMAC 14</a></strong>
                            <em>$1230</em>
                            <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                        </li>
                        <li>
                            <a href="shop-item.html"><img src="<?=WEB_ROOT;?>metronic/frontend/pages/img/imgLatop.jpg"
                                                          alt="Rolex Classic Watch" width="37" height="34"></a>
                            <span class="cart-content-count">x 1</span>
                            <strong><a href="shop-item.html">Notebook HP Beats 15.8"</a></strong>
                            <em>$1230</em>
                            <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                        </li>
                    </ul>
                    <div class="text-right">
                        <a href="shop-shopping-cart.html" class="btn btn-default">Ver carta</a>
                        <a href="shop-checkout.html" class="btn btn-primary">Echa un vistazo</a>
                    </div>
                </div>
            </div>
        </div>
        <!--END CART -->

        <?=  BarView::renderBar('categories_menu');?>

    </div>
</div>
<!-- Header END -->

<div class="main">
    <div class="container">
        <div class="row margin-bottom-40">

<!--            <div class="sidebar col-md-3 col-sm-5">-->
<!--                --><?//=  BarView::renderBar('categories_list_menu');?>
<!--            </div>-->

            <div class="col-md-12 col-sm-12">
                <?=$__Content;?>
            </div>

        </div>
    </div>
</div>

<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2>Contáctenos</h2>
                <address class="margin-bottom-40">
                    Oruro - Bolivia<br>
                    Teléfono: 52-56842<br>
                    Email: <a href="mailto:info@sindel.com.bo">info@sindel.com.bo</a>
                </address>
            </div>
            <!-- END BOTTOM CONTACTS -->
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6 padding-top-10">
                <?=date('Y');?> © SINDEL Bolivia. Todos los derechos reservados.
            </div>
            <!-- END COPYRIGHT -->
        </div>
    </div>
</div>
<!-- END FOOTER -->

<!-- Load javascripts at bottom, this will reduce page load time -->
<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
<!--[if lt IE 9]>
<script src="<?=WEB_ROOT;?>metronic/plugins/respond.min.js"></script>
<![endif]-->
<script src="<?=WEB_ROOT;?>metronic/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="<?=WEB_ROOT;?>metronic/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="<?=WEB_ROOT;?>metronic/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="<?=WEB_ROOT;?>metronic/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
<script src="<?=WEB_ROOT;?>metronic/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
<script src="<?=WEB_ROOT;?>metronic/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- pop up -->
<script src="<?=WEB_ROOT;?>metronic/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<!-- slider for products -->
<script src='<?=WEB_ROOT;?>metronic/plugins/zoom/jquery.zoom.min.js' type="text/javascript"></script>
<!-- product zoom -->
<script src="<?=WEB_ROOT;?>metronic/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<!-- Quantity -->

<!-- BEGIN LayerSlider -->
<script src="<?=WEB_ROOT;?>metronic/plugins/slider-layer-slider/js/greensock.js" type="text/javascript"></script>
<!-- External libraries: GreenSock -->
<script src="<?=WEB_ROOT;?>metronic/plugins/slider-layer-slider/js/layerslider.transitions.js"
        type="text/javascript"></script>
<!-- LayerSlider script files -->
<script src="<?=WEB_ROOT;?>metronic/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js"
        type="text/javascript"></script>
<!-- LayerSlider script files -->
<script src="<?=WEB_ROOT;?>metronic/frontend/pages/scripts/layerslider-init.js" type="text/javascript"></script>
<!-- END LayerSlider -->

<script src="<?=WEB_ROOT;?>metronic/frontend/layout/scripts/layout.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        Layout.init();
        Layout.initOWL();
        LayersliderInit.initLayerSlider();
        Layout.initImageZoom();
        Layout.initTouchspin();
        Layout.initTwitter();
    });
</script>
<!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>