<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SINDEL | Dunamis System</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.0.2 -->
    <link href="<?=CSS_WEB;?>bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="<?=CSS_WEB;?>font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--Ionicons--> 
    <link href="<?=CSS_WEB;?>ionicons.min.css" rel="stylesheet" type="text/css" />
    <!--DATA TABLES--> 
    <link href="<?=JQUERY_WEB;?>dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="<?=CSS_WEB;?>AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- Main style -->
    <link href="<?=CSS_WEB;?>main.css" rel="stylesheet" type="text/css" />

    <link href="<?=JQUERY_WEB;?>themes/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="<?=JQUERY_WEB;?>jquery.loadmask.css" rel="stylesheet" type="text/css" />
    <link href="<?=JQUERY_WEB;?>jquery.validationEngine.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="<?=JQUERY_WEB;?>jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="<?=JS_WEB;?>bootstrap.min.js" type="text/javascript"></script>
    <!-- DATA TABLES SCRIPT -->
    <script src="<?=JQUERY_WEB;?>jquery.dataTables.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>dataTables.bootstrap.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="<?=JS_WEB;?>AdminLTE/app.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>ui/jquery-ui.custom.min.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.simpleDialog.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.loadmask.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.validationEngine-en.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.validationEngine.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.formAjaxPost.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.simpleDialog.js" type="text/javascript"></script>
    <script src="<?=JQUERY_WEB;?>jquery.loadContent.js" type="text/javascript"></script>

</head>
<body class="bg-black">
    <?=$__Content;?>
</body>
</html>