<?php
/**
?>
<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <meta http-equiv="Content-language" content="es" />
      <meta name="robots" content="index, follow" />
      <meta name="robots" content="noodp, noydir" />
      <title>Chocala Framework</title>

  <!-- Bootstrap -->
  <link href="<?=WEB_ROOT;?>bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
    <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">
                <a class="brand" href="#">Genbeta Dev</a>
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">Bio</a></li>
                  <li><a href="#contact">Contacto</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container">
              <h1>Ejemplo de Bootstrap para Genbeta Dev</h1>
              <p>Plantilla ejemplo para el desarrollo de un proyecto web.</p>
          </div> <!— /container —>
      <div class="row">
          <h1>Hello, world!</h1>
        <div class="span4">...</div>
        <div class="span8">...</div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->
</body>
</html>

<?php
/**/
?>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="Content-language" content="es" />
        <meta name="robots" content="index, follow" />
        <meta name="robots" content="noodp, noydir" />
        <title>Chocala Framework</title>
        <link rel="stylesheet" type="text/css" href="<?= CSS_WEB;?>normalize.css"/>
        <link rel="stylesheet" type="text/css" href="<?= CSS_WEB;?>style.css"/>
        <link type="text/css" href="<?= JQUERY_WEB; ?>themes/custom/jquery-ui.custom.min.css" rel="stylesheet" />
        <script language="javascript" type="text/javascript" src="<?= JQUERY_WEB; ?>jquery.js"></script>
        <script type="text/javascript" src="<?= JQUERY_WEB; ?>ui/jquery-ui.custom.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            
            <?= BarView::renderBar('header'); ?>

            <div id="bodyWork">
                <?= $__Content; ?>
            </div>
            <div class="clear"></div>

            <?= BarView::renderBar('footer'); ?>
            
        </div>
    </body>
</html>
<?php
/**/
?>