<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>SINDEL | Dunamis System</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="Metronic Shop UI description" name="description">
    <meta content="Metronic Shop UI keywords" name="keywords">
    <meta content="keenthemes" name="author">

    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-">
    <!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Fonts START -->
    <link href="<?=CSS_WEB;?>font-OpenSans.css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&subset=all" rel="stylesheet" type="text/css" />
    <link href="<?=CSS_WEB;?>font-SourceSansPro.css?family=Source+Sans+Pro:200,300,400,600,700,900&subset=all" rel="stylesheet" type="text/css" />
    <!--- fonts for slider on the index page -->
    <!-- Fonts END -->

    <!-- Global styles START -->
    <link href="<?=WEB_ROOT;?>metronic/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Global styles END -->

    <!-- Page level plugin styles START -->
    <link href="<?=WEB_ROOT;?>metronic/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/plugins/slider-layer-slider/css/layerslider.css" rel="stylesheet">
    <!-- Page level plugin styles END -->

    <!-- Theme styles START -->
    <link href="<?=WEB_ROOT;?>metronic/css/components.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/frontend/layout/css/style.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">
    <link href="<?=WEB_ROOT;?>metronic/frontend/pages/css/style-layer-slider.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/frontend/layout/css/style-responsive.css" rel="stylesheet">
    <link href="<?=WEB_ROOT;?>metronic/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color">
    <link href="<?=WEB_ROOT;?>js/jquery/jquery.loadmask.js" rel="stylesheet" id="style-color">
    <link href="<?=WEB_ROOT;?>metronic/frontend/layout/css/custom.css" rel="stylesheet">
    <!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">

<!-- BEGIN TOP BAR -->
<div class="pre-header">
    <div class="container">
        <?=  BarView::renderBar('pre_header');?>
    </div>
</div>
<!-- END TOP BAR -->

<!-- BEGIN HEADER -->
<div class="header">
    <div class="container">

        <?=  BarView::renderBar('categories_menu');?>

    </div>
</div>
<!-- Header END -->

    <?=$__Content;?>

<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-6 col-sm-6 pre-footer-col">
                <h2>Acerca de nosotros <em><i class="fa fa-trophy"> </i></em></h2>

                <p>TENEMOS A LA VENTA LOS COMPUTADORES Y TABLETS DE MARCAS LÍDERES Y APROPIADAS PARA LA SATISFACCIÓN DE TUS ACTIVIDADES EN EL TRABAJO, ESTUDIO O ENTRETENIMIENTO. </p>

                <p>Una compañía con experiencia de 5 años en la Venta y Distribucion de Computadores. En <?=date('Y')?> hemos decidido desarrollar nuestra Tienda .</p>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN BOTTOM INFO BLOCK -->
<!--            <div class="col-md-3 col-sm-6 pre-footer-col">-->
<!--                <h2>Information</h2>-->
<!--                <ul class="list-unstyled">-->
<!--                    <li><i class="fa fa-angle-right"></i> <a href="#">Información Entrega</a></li>-->
<!--                    <li><i class="fa fa-angle-right"></i> <a href="#">Servicios del cliente</a></li>-->
<!--                    <li><i class="fa fa-angle-right"></i> <a href="#">Seguimiento de pedidos</a></li>-->
<!--                    <li><i class="fa fa-angle-right"></i> <a href="#">Envios &amp; Devoluciones</a></li>-->
<!--                    <li><i class="fa fa-angle-right"></i> <a href="contacts.html">Contactenos</a></li>-->
<!--                    <li><i class="fa fa-angle-right"></i> <a href="#">Carreras</a></li>-->
<!--                    <li><i class="fa fa-angle-right"></i> <a href="#">Formas de pago</a></li>-->
<!--                </ul>-->
<!--            </div>-->
            <!-- END INFO BLOCK -->

            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2>Contáctenos <em><i class="fa fa-envelope-o"> </i></em></h2>
                <address class="margin-bottom-40">
                    Oruro - Bolivia<br>
                    Teléfono: 52-56842<br>
                    Email: <a href="mailto:info@sindel.com.bo">info@sindel.com.bo</a>
                </address>

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>

            </div>
            <!-- END BOTTOM CONTACTS -->
        </div>
        <hr>
    </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6 padding-top-10">
                <?=date('Y');?> © SINDEL Bolivia. Todos los derechos reservados.
            </div>
            <div class="col-md-6 col-sm-6 padding-top-10 text-right">
                <a href="<?=WEB_ROOT;?>main/system"> <i class="fa fa-cog"></i> <span> Administración</a>
            </div>
            <!-- END COPYRIGHT -->
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER -->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=yecid"></script>

<!-- Load javascripts at bottom, this will reduce page load time -->
<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
<!--[if lt IE 9]>
<script src="<?=WEB_ROOT;?>metronic/plugins/respond.min.js"></script>
<![endif]-->
<script src="<?=WEB_ROOT;?>metronic/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="<?=WEB_ROOT;?>metronic/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="<?=WEB_ROOT;?>metronic/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!--<script src="--><?//=WEB_ROOT;?><!--metronic/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>-->
<script src="<?=WEB_ROOT;?>metronic/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
<script src="<?=WEB_ROOT;?>metronic/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- pop up -->
<script src="<?=WEB_ROOT;?>metronic/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<!-- slider for products -->
<script src='<?=WEB_ROOT;?>metronic/plugins/zoom/jquery.zoom.min.js' type="text/javascript"></script>
<!-- product zoom -->
<script src="<?=WEB_ROOT;?>metronic/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<!-- Quantity -->

<!-- BEGIN LayerSlider -->
<script src="<?=WEB_ROOT;?>metronic/plugins/slider-layer-slider/js/greensock.js" type="text/javascript"></script>
<!-- External libraries: GreenSock -->
<script src="<?=WEB_ROOT;?>metronic/plugins/slider-layer-slider/js/layerslider.transitions.js"
        type="text/javascript"></script>
<!-- LayerSlider script files -->
<script src="<?=WEB_ROOT;?>metronic/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js"
        type="text/javascript"></script>
<!-- LayerSlider script files -->
<script src="<?=WEB_ROOT;?>metronic/frontend/pages/scripts/layerslider-init.js" type="text/javascript"></script>
<!-- END LayerSlider -->

<script src="<?=WEB_ROOT;?>js/jquery/jquery.loadmask.js" type="text/javascript"></script>

<script src="<?=WEB_ROOT;?>metronic/frontend/layout/scripts/layout.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
    Layout.init();
    Layout.initOWL();
    LayersliderInit.initLayerSlider();
    Layout.initImageZoom();
    Layout.initTouchspin();
    Layout.initTwitter();
});
</script>
<!-- END PAGE LEVEL JAVASCRIPTS -->

</body>
<!-- END BODY -->
</html>