<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-language" content="es" />
    <meta name="robots" content="index, follow" />
    <meta name="robots" content="noodp, noydir" />
    <title>Chocala Framework</title>
    <link rel="stylesheet" type="text/css" href="<?= CSS_WEB;?>normalize.css"/>
    <link rel="stylesheet" type="text/css" href="<?= CSS_WEB;?>style.css"/>
    <link type="text/css" href="<?= JQUERY_WEB; ?>themes/custom/jquery-ui.min.css" rel="stylesheet" />

<!--        <link rel="stylesheet" type="text/css" href="<?=CSS_WEB;?>chocala.css"/>
    <link rel="stylesheet" type="text/css" href="<?=CSS_WEB;?>menuChocala.css" />
    <link rel="stylesheet" type="text/css" href="<?=JQUERY_WEB;?>jquery.vtip.css" />     
    <script type="text/javascript" src="<?=JQUERY_WEB;?>jquery.menuchocala.js"></script>
    <script type="text/javascript" src="<?=JQUERY_WEB;?>jquery.vtip.js"></script>-->
    <script language="javascript" type="text/javascript" src="<?= JQUERY_WEB; ?>jquery.js"></script>
    <script language="javascript" type="text/javascript" src="<?= JQUERY_WEB; ?>ui/jquery-ui.custom.min.js"></script>
</head>
<body>
        
    <div id="wrapper">
            

        <?//=BarView::renderBar('headerPrivate');?>
            <?= BarView::renderBar('header'); ?>
        <?//=BarView::renderBar('userMenu');?>

        <?php //include_once(BARS_DIR.'menuTop.bar');?>
        <!--div id="bodyWorkPrivate"-->
        <?=BarView::renderBar('userMenu');?>
        <?//php include_once(BARS_DIR.'menuTop.bar');?>
        
<!--        <div class="contentWide">
        </div>-->
        
        <div id="bodyWork">
                <?= $__Content; ?>
            </div>
            <div class="clear"></div>

            <?= BarView::renderBar('footer'); ?>
            
        </div>
   
        <div id="simplePanel"></div>
        <script language="javascript" type="text/javascript" src="<?= JQUERY_WEB; ?>jquery.simpleDialog.js"></script>
        <script language="javascript" type="text/javascript">
        $().ready(function(){
        });
        </script>        
    </body>
</html>