<div id="bodyWork">
    <section class="content-header">
        <h1>
            Grupo de Productos
            <small>Sub categoria: <?=$category->getName();?></small>
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Catálogo</a></li>
            <li class="active"><a href="<?=URI::toModule().'category';?>" rel="category">Categorias</a></li>
            <li class="active"><a href="<?=URI::toModule().'category/dataListSubCategories/'.$category->getMainCategoryId();?>" rel="category">Subcategorias</a></li>
            <li class="active"><a href="#" >Grupos de Productos</a></li>
        </ol>
    </section>
    <section id="mainContent" class="content">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>
                    Grupos de Productos de Categoría: <?=$category->getName();?>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <?php
                                if(PageControl::canCreate()){
                                ?>
                                    <a href="<?=URI::toPage().'create/'.$category->getId();?>" class="btn btn-sm btn-circle green"
                                       rel="createData" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-fw fa-plus-circle"></i>Agregar Grupo de Productos</a>
                                <?php
                                }
                                ?>
                                <a href="<?=URI::toPage().'pdfReport/'.$category->getId();?>" class="btn btn-sm btn-circle blue-dark" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tableProducts" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Stock</th>
<!--                                <th>Detalles</th>-->
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nº</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Stock</th>
<!--                                <th width="10%">Detalles</th>-->
                                <th width="10%">Editar</th>
                                <th width="10%">Eliminar</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        <?php
                        $i = 0;
                        $toShow = URI:: toPage().'show/';
                        $toEditLink = URI::toPage().'edit/';
                        $toDeleteLink = URI::toPage().'delete/';
                        foreach($productGroups as $productGroup){
                            $i++;
                            $pk = $productGroup->getId();
                            ?>
                            <tr>
                                <td><?=$i;?></td>
                                <td><?=$productGroup->getCode();?></td>
                                <td><?=$productGroup->getName();?></td>
                                <td><?=$productGroup->getDescription();?></td>
                                <td>
                                    <?=$productGroup->numberOfItems();?> Items
                                </td>
<!--                                <td aling="center">-->
<!--                                    <a href="--><?//=$toShow.$pk;?><!--" class="btn btn-circle btn-sm purple" title="Ver detalles">-->
<!--                                        <i class="fa fa-fw fa-folder-open-o"></i> Detalles-->
<!--                                    </a>-->
<!--                                </td>-->
                                <td align="center">
                                    <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal"
                                       data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger" data-toggle="modal">
                                        <i class="fa fa-fw fa-times"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        <?php
                        }
                        ?>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('#tableProducts').dataTable();
});
</script>