<div class="form-group">
    <label class="control-label" for="code">Código</label>
    <input type="text" id="code" name="code" value="<?=$productGroup? $productGroup->getCode(): '';?>" size="30" maxlength="20" class="form-control"
           placeholder="Código..." autocomplete="off" class="validate[required]" />
</div>

<div class="form-group">
    <label class="control-label" for="name">Nombre</label>
    <input type="text" id="name" name="name" value="<?=$productGroup? $productGroup->getName(): '';?>" size="30" maxlength="100" class="form-control"
           placeholder="Nombre..." autocomplete="off" class="validate[required]" />
</div>

<div class="form-group">
    <label class="control-label" for="description">Descripción</label>
                    <textarea id="description" name="description" cols="30" rows="2" class="form-control"
                              placeholder="Descripción..."><?=$productGroup? $productGroup->getDescription(): '';?></textarea>
</div>