<h1>Grupos de Productos</h1>
<h2>Subcategoría: <?=$category->getName();?></h2>
<table cellpadding="2" cellspacing="0" border="1" width="100%" style="text-align:center; width: 100%;">
    <thead>
    <tr>
        <th width="5%" style="font-weight: bold;">N°</th>
        <th width="10%" style="font-weight: bold;">Código</th>
        <th width="35%" style="font-weight: bold;">Nombre</th>
        <th width="30%" style="font-weight: bold;">Descripción</th>
        <th width="20%" style="font-weight: bold;">Stock</th>
    </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    foreach($productGroups as $productGroup){
        $i++;
        $pk = $productGroup->getId();
        ?>
        <tr class="<?=($i%2==0)? 'odd': 'even';?>">
            <td width="5%" style="text-align: center;"><?=$i;?></td>
            <td width="10%" style="text-align: left;"><?=$productGroup->getCode();?></td>
            <td width="35%" style="text-align: left;"><?=$productGroup->getName();?></td>
            <td width="30%" style="text-align: left;"><?=$productGroup->getDescription();?></td>
            <td width="20%" style="text-align: center;"><?=$productGroup->numberOfItems();?> items</td>
        </tr>
        <?php
    }
    if(sizeof($productGroups)==0){
        ?>
        <tr>
            <td class="text-center" colspan="5">* No se encontraron registros *</td>
        </tr>
        <?php
    }
    ?>
    </tbody>
</table>