<div id="bodyWork" class="bg-black">
        <div class="form-box" id="login-box">
            <div class="header">
                <img src="<?=IMG_WEB;?>logo_sindel_dunamis.png" alt="logo" class="logo-default"/>
            </div>
            <form action="<?=URI::toPage().'login'?>" method="post">
                <div class="body bg-gray">
                    <?php if(Req::has('pass')){ ?>
                    <div class="alert alert-danger">
                         El usuario o contraseña son incorrectos
                    </div>
                    <?php } ?>
                    <div class="form-group">
                        <input type="text" name="user" class="form-control" placeholder="Usuario"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña"/>
                    </div>
                </div>
                <div class="footer">                                                               
                    <button type="submit" class="btn bg-maroon btn-block">Ingresar</button>
                    
                    <p><a href="<?=URI::toPage().'forgot';?>">Olvidé mi contraseña</a></p>
                </div>
            </form>
        </div>

</div>
<!-- page script -->
<script type="text/javascript">
</script>