<script type="text/javascript" src="<?=WEB_ROOT;?>metronic/plugins/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="<?=WEB_ROOT;?>metronic/plugins/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="<?=WEB_ROOT;?>metronic/plugins/flot/jquery.flot.categories.min.js"></script>

<div class="box-header">
    <h1>Bienvenid@ <?=$user->getFirstName();?>!</h1>
</div>

<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-usd"></i>
            </div>
            <div class="details">
                <div class="number">
                    <?=number_format($totalVentas, 2);?> Bs.
                </div>
                <div class="desc">
                    Ventas <?=$mes;?>
                </div>
            </div>
            <a class="more" href="<?=WEB_ROOT.'sales/sale/';?>" target="_blank">
                Ver detalles <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-credit-card"></i>
            </div>
            <div class="details">
                <div class="number">
                    <?=number_format($totalCompras, 2);?> Bs.
                </div>
                <div class="desc">
                    Compras <?=$mes;?>
                </div>
            </div>
            <a class="more" href="<?=WEB_ROOT.'acquisition/acquisition/';?>" target="_blank">
                Ver detalles <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <?=number_format($variacion, 2, ".", "");?>%
                </div>
                <div class="desc">
                    Variación de Flujo Mensual
                </div>
            </div>
            <a class="more" href="#">
                Ver detalles <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->

<div class="clearfix">
</div>
<div class="row">
    <!-- BEGIN PORTLET-->
    <div class="portlet solid bordered grey-cararra">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-bar-chart-o"></i>Flujo Financiero:
                <select id="type">
                    <option value="month" <?=$type=='month'? 'selected="yes"':''?>>Mensual</option>
                    <option value="year" <?=$type!='month'? 'selected="yes"':''?>>Anual</option>
                </select>

                <div class="btn-group btn-group btn-group-justified">
                <?php
                foreach(array(2015,2016,2017) as $vY) {
                    if(isset($dYearIni)){
                        $sel = $dYearIni->format('Y') == $vY? 'selected="yes"': '';
                        ?>
                        <a href="<?='?type=year&year='.$vY;?>" class="btn <?=$dYearIni->format('Y')==$vY? 'green': 'red';?>">
                            <?=$vY;?> </a>
                        <?php
                    }
                    if(isset($dMonthIni)){
                        $sel = $dMonthIni->format('Y') == $vY? 'selected="yes"': '';
                        ?>
                        <a href="<?='?type=month&month='.$dMonthIni->format('m').'-'.$vY;?>" class="btn <?=$dMonthIni->format('Y')==$vY? 'green': 'red';?>">
                            <?=$vY;?> </a>
                        <?php
                    }
                    ?>
                    <?php
                }
                ?>
                </div>

<!--                <br />-->
<!--                <br />-->
                <?php
                if($type == 'month') {
                    $any = $dMonthIni->format('Y');
                ?>
<!--                    Mes:-->
                    <div class="btn-group btn-group btn-group-justified">
                        <a href="<?='?type=month&month=01-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='01'? 'green': 'blue';?>">
                            Enero </a>
                        <a href="<?='?type=month&month=02-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='02'? 'green': 'blue';?>">
                            Febrero </a>
                        <a href="<?='?type=month&month=03-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='03'? 'green': 'blue';?>">
                            Marzo </a>
                        <a href="<?='?type=month&month=04-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='04'? 'green': 'blue';?>">
                            Abril </a>
                        <a href="<?='?type=month&month=05-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='05'? 'green': 'blue';?>">
                            Mayo </a>
                        <a href="<?='?type=month&month=06-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='06'? 'green': 'blue';?>">
                            Junio </a>
                        <a href="<?='?type=month&month=07-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='07'? 'green': 'blue';?>">
                            Julio </a>
                        <a href="<?='?type=month&month=08-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='08'? 'green': 'blue';?>">
                            Agosto </a>
                        <a href="<?='?type=month&month=09-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='09'? 'green': 'blue';?>">
                            Septiembre </a>
                        <a href="<?='?type=month&month=10-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='10'? 'green': 'blue';?>">
                            Octubre </a>
                        <a href="<?='?type=month&month=11-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='11'? 'green': 'blue';?>">
                            Noviembre </a>
                        <a href="<?='?type=month&month=12-'.$any;?>" class="btn <?=$dMonthIni->format('m')=='12'? 'green': 'blue';?>">
                            Diciembre </a>
                    </div>
                <?php
                } else {
                ?>
                <?php
                }
                ?>
            </div>
        </div>
        <div class="portlet-body">
            <div id="site_statistics_loading">
                <img src="../../assets/admin/layout/img/loading.gif" alt="loading"/>
            </div>
            <div id="site_statistics_content" class="display-none">
                <div id="site_statistics" class="chart">
                </div>
            </div>
            <div style="margin: 20px 0 10px 30px">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                                    <span class="label label-sm label-success">
                                    Ventas: </span>
                        <h3><?=number_format($totalSalesPeriodo, 2);?> Bs.</h3>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                                    <span class="label label-sm label-danger">
                                    Compras: </span>
                        <h3><?=number_format($totalAcquisitionsPeriodo, 2);?> Bs.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PORTLET-->
</div>

<a id="modalBotones" href="<?=URI::toPage().'bigButtons';?>"
   data-toggle="modal" data-target="#ajax-modal-lg">Esquema de Módulos</a>


<!--<div class="box">-->
<!--    <div class="box-body">-->
<!--        <p class="text-left">Administración del Sistema</p>-->
<!--    </div>-->
<!--    <div class="text-center">-->
<!--        <img alt="" class="img-circle hide1" src="--><?//=IMG_WEB;?><!--logofi.png.jpg"/>-->
<!--    </div>-->
<!--</div>-->
<!-- page script -->
<script type="text/javascript">
    function initCharts() {
//        alerty("aqui esta");
        if (!jQuery.plot) {
            return;
        }

        function showChartTooltip(x, y, xValue, yValue) {
            $('<div id="tooltip" class="chart-tooltip">' + yValue + '<\/div>').css({
                position: 'absolute',
                display: 'none',
                top: y - 40,
                left: x - 40,
                border: '0px solid #ccc',
                padding: '2px 6px',
                'background-color': '#fff'
            }).appendTo("body").fadeIn(200);
        }

        var data = [];
        var totalPoints = 250;

        // random data generator for plot charts

        function getRandomData() {
            if (data.length > 0) data = data.slice(1);
            // do a random walk
            while (data.length < totalPoints) {
                var prev = data.length > 0 ? data[data.length - 1] : 50;
                var y = prev + Math.random() * 10 - 5;
                if (y < 0) y = 0;
                if (y > 100) y = 100;
                data.push(y);
            }
            // zip the generated y values with the x values
            var res = [];
            for (var i = 0; i < data.length; ++i) res.push([i, data[i]])
            return res;
        }

        function randValue() {
            return (Math.floor(Math.random() * (1 + 50 - 20))) + 10;
        }

        var acquisitions= [
            <?php
            if($type == 'month'){
                foreach($monthAcquisitions as $dayAcquisitions){
                    echo "['".$dayAcquisitions['day']."', ".$dayAcquisitions['sales']."],";
                }
            } else {
                foreach($yearAcquisitions as $monthAcquisitions){
                    echo "['".$monthAcquisitions['month']."', ".$monthAcquisitions['sales']."],";
                }
            }
            ?>
        ];


        var sales = [
            <?php
            if($type == 'month'){
                foreach($monthSales as $daySales){
                    echo "['".$daySales['day']."', ".$daySales['sales']."],";
                }
            } else {
                foreach($yearSales as $monthSales){
                    echo "['".$monthSales['month']."', ".$monthSales['sales']."],";
                }
            }
            ?>
//            ['02/2013', 1500],
//            ['03/2013', 2500],
//            ['04/2013', 1700],
//            ['05/2013', 800],
//            ['06/2013', 1500],
//            ['07/2013', 2350],
//            ['08/2013', 1500],
//            ['09/2013', 1300],
//            ['10/2013', 4600]
        ];


        if ($('#site_statistics').size() != 0) {

            $('#site_statistics_loading').hide();
            $('#site_statistics_content').show();

            var plot_statistics = $.plot($("#site_statistics"),
                [{
                    data: acquisitions,
                    lines: {
                        fill: 0.6,
                        lineWidth: 0
                    },
                    color: ['#f89f9f']
                }, {
                    data: acquisitions,
                    points: {
                        show: true,
                        fill: true,
                        radius: 5,
                        fillColor: "#f89f9f",
                        lineWidth: 3
                    },
                    color: '#F0F0F0',
                    shadowSize: 0
                }, {
                    data: sales,
                    lines: {
                        fill: 0.6,
                        lineWidth: 0
                    },
                    color: ['#9ff89f']
                }, {
                    data: sales,
                    points: {
                        show: true,
                        fill: true,
                        radius: 5,
                        fillColor: "#9ff89f",
                        lineWidth: 3
                    },
                    color: '#fff',
                    shadowSize: 0
                }],

                {
                    xaxis: {
                        tickLength: 0,
                        tickDecimals: 0,
                        mode: "categories",
                        min: 0,
                        font: {
                            lineHeight: 14,
                            style: "normal",
                            variant: "small-caps",
                            color: "#6F7B8A"
                        }
                    },
                    yaxis: {
                        ticks: 5,
                        tickDecimals: 0,
                        tickColor: "#eee",
                        font: {
                            lineHeight: 14,
                            style: "normal",
                            variant: "small-caps",
                            color: "#6F7B8A"
                        }
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#eee",
                        borderColor: "#eee",
                        borderWidth: 1
                    }
                });

            var previousPoint = null;
            $("#site_statistics").bind("plothover", function (event, pos, item) {
                $("#x").text(pos.x.toFixed(2));
                $("#y").text(pos.y.toFixed(2));
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                            y = item.datapoint[1].toFixed(2);

                        showChartTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1] + ' Bs.');
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        }


        if ($('#site_activities').size() != 0) {
            //site activities
            var previousPoint2 = null;
            $('#site_activities_loading').hide();
            $('#site_activities_content').show();

            var data1 = [
                ['DEC', 300],
                ['JAN', 600],
                ['FEB', 1100],
                ['MAR', 1200],
                ['APR', 860],
                ['MAY', 1200],
                ['JUN', 1450],
                ['JUL', 1800],
                ['AUG', 1200],
                ['SEP', 600]
            ];


            var plot_statistics = $.plot($("#site_activities"),

                [{
                    data: data1,
                    lines: {
                        fill: 0.2,
                        lineWidth: 0,
                    },
                    color: ['#BAD9F5']
                }, {
                    data: data1,
                    points: {
                        show: true,
                        fill: true,
                        radius: 4,
                        fillColor: "#9ACAE6",
                        lineWidth: 2
                    },
                    color: '#9ACAE6',
                    shadowSize: 1
                }, {
                    data: data1,
                    lines: {
                        show: true,
                        fill: false,
                        lineWidth: 3
                    },
                    color: '#9ACAE6',
                    shadowSize: 0
                }],

                {

                    xaxis: {
                        tickLength: 0,
                        tickDecimals: 0,
                        mode: "categories",
                        min: 0,
                        font: {
                            lineHeight: 18,
                            style: "normal",
                            variant: "small-caps",
                            color: "#6F7B8A"
                        }
                    },
                    yaxis: {
                        ticks: 5,
                        tickDecimals: 0,
                        tickColor: "#eee",
                        font: {
                            lineHeight: 14,
                            style: "normal",
                            variant: "small-caps",
                            color: "#6F7B8A"
                        }
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#eee",
                        borderColor: "#eee",
                        borderWidth: 1
                    }
                });

            $("#site_activities").bind("plothover", function (event, pos, item) {
                $("#x").text(pos.x.toFixed(2));
                $("#y").text(pos.y.toFixed(2));
                if (item) {
                    if (previousPoint2 != item.dataIndex) {
                        previousPoint2 = item.dataIndex;
                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                            y = item.datapoint[1].toFixed(2);
                        showChartTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1] + 'M$');
                    }
                }
            });

            $('#site_activities').bind("mouseleave", function () {
                $("#tooltip").remove();
            });
        }
    }

$().ready(function(){
    initCharts();
    <?php
    if(Req::has('management')){
    ?>
    $("#modalBotones").click();
    <?php
    }
    ?>
    $("#type").change(function(){
        window.location = "<?=URI::toId();?>?type=" + $(this).val() ;
    });
    $("#month").change(function(){
        window.location = "<?=URI::toId();?>?type=month&month=" + $(this).val();
    });
    $("#year").change(function(){
        window.location = "<?=URI::toId();?>?type=year&year=" + $(this).val();
    });
});
</script>