<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>MODULOS - DUNAMIS SYSTEM
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="<?=URI::toPage();?>">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a class="more" href="<?=WEB_ROOT.'admin/user/';?>" target="_blank">
                    <div class="dashboard-stat green-haze">
                        <div class="visual">
                            <i class="fa fa-cog"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                Administración
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a class="more" href="<?=WEB_ROOT.'organization/branch/';?>" target="_blank">
                    <div class="dashboard-stat blue-madison">
                        <div class="visual">
                            <i class="fa fa-building"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                Sucursales
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a class="more" href="<?=WEB_ROOT.'catalog/category/';?>" target="_blank">
                    <div class="dashboard-stat red-intense">
                        <div class="visual">
                            <i class="fa fa-chain"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                Catálogo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a class="more" href="<?=WEB_ROOT.'inventory/catalog/';?>" target="_blank">
                    <div class="dashboard-stat green-haze">
                        <div class="visual">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                Inventario
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a class="more" href="<?=WEB_ROOT.'acquisition/acquisition/';?>" target="_blank">
                    <div class="dashboard-stat blue-madison">
                        <div class="visual">
                            <i class="fa fa-credit-card"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                Compras
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a class="more" href="<?=WEB_ROOT.'sales/sale/';?>" target="_blank">
                    <div class="dashboard-stat red-intense">
                        <div class="visual">
                            <i class="fa fa-usd"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                Ventas
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>