<div id="bodyWork" class="bg-black">
    <div class="form-box" id="login-box">
        <div class="header">
            <img src="<?=IMG_WEB;?>logo_sindel_dunamis.png" alt="logo" class="logo-default"/>
        </div>
        <form action="<?=URI::toPage().'forgotPassword'?>" method="post">
            <div class="body bg-gray">
                <h3 class="text-maroon">Recuperación de Contraseña</h3>
                <?php if(Req::has('user')){ ?>
                <div class="alert alert-danger">
                     El usuario ingresado no fue entontrado
                </div>
                <?php } ?>
                <?php if(Req::has('sent')){ ?>
                    <div class="alert alert-info">
                        Se envió el correo de recuperación a <strong><?=$user->getEmail();?></strong>
                    </div>
                <?php } else { ?>
                <div class="form-group">
                    Ingrese usuario para recuperar su contraseña:
                    <input type="text" name="user" class="form-control" placeholder="Usuario"/>
                </div>
                <?php } ?>
            </div>
            <div class="footer">
                <?php if(!Req::has('sent')){ ?>
                <button type="submit" class="btn bg-maroon btn-block">Recuperar</button>
                <?php } else { ?>
                    <br />
                <?php } ?>
            </div>
        </form>
    </div>
</div>
<!-- page script -->
<script type="text/javascript">
</script>