<div id="bodyWork" class="bg-black">
        <div class="form-box" id="login-box">
            <div class="header">
                <img src="<?=IMG_WEB;?>logo_sindel_dunamis.png" alt="logo" class="logo-default"/>
            </div>
            <form action="<?=URI::toPage().'login'?>" method="post">
                <div class="body bg-gray">
                   Esta intentando entrar a una sección restringida del sistema.
                </div>
                <div class="footer">
                    <p><a href="<?=URI::toPage().'access';?>">Ingresar al Sistema >></a></p>
                </div>
            </form>
        </div>

</div>
<!-- page script -->
<script type="text/javascript">
</script>