<section id="bodyWork">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Proveedores
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <!--             <li class="active"><a href="--><?//=URI::toPage();?><!--">Lista de Proveedores</a></li>-->
            <li class="active"><a href="<?=URI::toPage();?>dataList" class="loadContent" rel="dataList">Listado</a></li>
        </ol>
    </section>

    <section id="mainContent" class="content">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Compra a Proveedor <?=$provider->getCompany();?>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">

                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width:30%">Proveedor:</th>
                            <td><?=$provider->getCompany();?></td>
                        </tr>
                        <tr>
                            <th>Fecha de Compra:</th>
                            <td><?=$acquisition->getDate('d/m/Y');?></td>
                        </tr>
                        <tr>
                            <th>Garantía General:</th>
                            <td><?=$acquisition->getWarrantyProvider();?></td>
                        </tr>
                        <tr>
                            <th>Observaciones:</th>
                            <td><?=$acquisition->getObservation()?: '-----';?></td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="box-title">Detalles de Productos Adquiridos</h3>

                <div class="table-responsive">
                    <table id="tableAcquisitions" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="5%">Nº</th>
                                <th>Producto</th>
                                <th width="10%">Cantidad</th>
                                <th width="15%">Precio Unitario</th>
                                <th width="15%">Precio Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $i = 0;
                            $toShow = URI:: toPage().'show/';
                            foreach($productAcquisitions as $productAcquisition){
                            $i++;
                            $pk = $productAcquisition->getId();
                            ?>
                            <tr>
                                <td class="text-center"><?= $i; ?></td>
                                <td class="text-left">
                                    <?= $productAcquisition->getSelProduct()->getName(); ?>
                                    <br/><span
                                        style="font-style: italic;"><strong>Codigo: </strong><?= $productAcquisition->getSelProduct()->getCode(); ?></span>
                                </td>
                                <td class="text-center"><?= $productAcquisition->countSelProductItems(); ?></td>
                                <td class="text-right">
                                    <?= $productAcquisition->getPrice(); ?>
                                    <?= $productAcquisition->getMoney(); ?>
                                </td>
                                <td class="text-right">
                                        <?= $productAcquisition->totalPrice(); ?>
                                        <?= $productAcquisition->getMoney(); ?>
                                </td>
                            </tr>
                            <?php
                            }
                            if(sizeof($productAcquisition)==0){
                            ?>
                            <tr>
                                <td colspan="7" class="text-center">* No se encontraron productos de la adquisición *</td>
                            </tr>
                            <?php
                            }
                            ?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th class="text-center">
                                    Total de Compra
                                </th>
                                <th colspan="2" class="text-center">
                                    <?=$acquisition->countTotalItems();?> Items
                                </th>
                                <th class="text-right">
                                    <?=$acquisition->totalPrice();?> Bs
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
});
</script>