<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Proveedores
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php
                        if(PageControl::canCreate()){
                            ?>
                            <a href="<?=URI::toPage().'create';?>" class="btn btn-sm btn-circle green"
                               data-toggle="modal" data-target="#ajax-modal" rel="createData"><i class="fa fa-plus-circle"></i> Agregar Proveedor</a>
                        <?php
                        }
                        ?>
                        <a href="<?=URI::toPage().'pdfReport/';?>" class="btn btn-sm btn-circle blue-dark" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="tableProvider" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nombre de la Empresa</th>
                    <th>Dirección</th>
                    <th>Responsable</th>
                    <th>Teléfono</th>
                    <th width="10%">Compras</th>
                    <?php
                    if(PageControl::canUpdate()){
                        ?>
                        <th width="10%">Editar</th>
                    <?php
                    }
                    if(PageControl::canDelete()){
                        ?>
                        <th width="10%">Eliminar</th>
                    <?php
                    }
                    ?>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nº</th>
                    <th>Nombre de la Empresa</th>
                    <th>Dirección</th>
                    <th>Responsable</th>
                    <th>Teléfono</th>
                    <th>Compras</th>
                    <?php
                    if(PageControl::canUpdate()){
                        ?>
                        <th>Editar</th>
                    <?php
                    }
                    if(PageControl::canDelete()){
                        ?>
                        <th>Eliminar</th>
                    <?php
                    }
                    ?>
                </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toShowLink = URI::toPage().'details/';
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($providers as $provider){
                    $i++;
                    $pk = $provider->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="center"><?=$i;?></td>
                        <td class="left"><?=$provider->getCompany();?></td>
                        <td class="left"><?=$provider->getAddress();?></td>
                        <td class="left"><?=$provider->getPerson();?></td>
                        <td class="left"><?=$provider->getPhone();?></td>
                        <td class="text-center">
                            <a href="<?=$toShowLink.$pk;?>" class="btn btn-circle btn-sm purple loadContent" title="Ver detalles">
                                <i class="fa fa-fw fa-folder-o"></i> Compras
                            </a>
                        </td>
                        <?php
                        if(PageControl::canUpdate()){
                        ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal" data-target="#ajax-modal">
                                    <i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger"
                                   onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                <?php
                }
                if(sizeof($providers)==0){
                ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron Proveedores registrados *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('#tableProvider').dataTable();
});
</script>