<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i> Compras a Proveedor
        </div>
    </div>
    <div class="portlet-body">

        <table class="table">
            <tbody>
                <tr>
                    <th style="width:30%">Nombre de la Empresa:</th>
                    <td><?=$provider->getCompany();?></td>
                </tr>
                <tr>
                    <th>Dirección:</th>
                    <td><?=$provider->getAddress();?></td>
                </tr>
                <tr>
                    <td>Responsable</td>
                    <td><?=$provider->getPerson();?></td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td><?=$provider->getPhone();?></td>
                </tr>
                <tr>
                    <td>Celular</td>
                    <td><?=$provider->getCellphone();?></td>
                </tr>
            </tbody>
        </table>

        <h3 class="box-title">Adquicisiones a Proveedor</h3>

        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th width="5%">Nº</th>
                        <th width="10%">Fecha</th>
                        <th>Items Compra</th>
                        <th>Precio Total</th>
                        <th>Observaciones</th>
                        <th width="15%">Detalles de Compra</th>
                        <?php
                        if(PageControl::canUpdate()){
                        ?>
<!--                        <th width="10%">Editar</th>-->
                        <?php
                        }
                        if(PageControl::canDelete()) {
                        ?>
<!--                        <th width="10%">Eliminar</th>-->
                        <?php
                        }
                        ?>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    $i = 0;
                    $toAcquisitonsLink = URI::toPage().'acquisition/';
                    $toEditLink = URI::toPage().'edit/';
                    $toDeleteLink = URI::toPage().'delete/';
                    foreach($acquisitions as $acquisition){
                        $i++;
                        $pk = $acquisition->getId();
                    ?>
                    <tr>
                        <td class="text-center"><?=$i;?></td>
                        <td class="text-center"><?=$acquisition->getDate('d/m/Y');?></td>
                        <td class="text-right">
                            <?=$acquisition->countTotalItems();?> Items
                        </td>
                        <td class="text-right">
                            <?=$acquisition->totalPrice();?> Bs.
                        </td>
                        <td class="text-left"><?=$acquisition->getObservation();?></td>
                        <td class="text-center">
                            <a href="<?=$toAcquisitonsLink.$pk;?>" class="btn btn-circle btn-sm purple" title="Ver detalles">
                                <i class="fa fa-fw  fa-file-text-o"></i> Detalles
                            </a>
                        </td>
                        <?php
                        if(PageControl::canUpdate()){
                        ?>
<!--                            <td class="text-center">-->
<!--                                <a href="--><?//=$toEditLink.$pk;?><!--" class="btn btn-sm btn-circle blue" data-toggle="modal">-->
<!--                                    <i class="fa fa-fw fa-edit"></i> Editar-->
<!--                                </a>-->
<!--                            </td>-->
                        <?php
                        }
                        if(PageControl::canDelete()) {
                        ?>
<!--                            <td class="text-center">-->
<!--                                <a href="--><?//= $toDeleteLink . $pk; ?><!--" class="btn btn-circle btn-sm btn-danger"-->
<!--                                   onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">-->
<!--                                    <i class="fa fa-fw fa-times"></i> Eliminar-->
<!--                                </a>-->
<!--                            </td>-->
                        <?php
                        }
                        ?>
                    </tr>
                    <?php
                    }
                    if(sizeof($acquisition)==0){
                    ?>
                    <tr>
                        <td colspan="10" class="text-center">* No se encontraron Compras realizadas con este proveedor*</td>
                    </tr>
                    <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost();
});
</script>