<div class="form-group">
    <label class="name" for="Company">Nombre de la Empresa</label>
    <input type="text" id="Company" name="Company" value="<?=$provider? $provider->getCompany(): '';?>" size="30" maxlength="100"
           class="form-control" placeholder="Nombre de la Empresa..." autocomplete="off" />
</div>

<div class="form-group">
    <label class="name" for="Address">Dirección</label>
    <input type="text" id="Address" name="Address" value="<?=$provider? $provider->getAddress(): '';?>" size="30" maxlength="200"
           class="form-control" placeholder="Dirección..." autocomplete="off" />
</div>

<div class="form-group">
    <label class="name" for="Person">Responsable / Persona de Contacto</label>
    <input type="text" id="Person" name="Person" value="<?=$provider? $provider->getPerson(): '';?>" size="30" maxlength="200"
           class="form-control" placeholder="Persona de Contacto..." autocomplete="off" />
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label class="name" for="Phone">Teléfono</label>
            <input type="text" id="Phone" name="Phone" value="<?=$provider? $provider->getPhone(): '';?>" size="20" maxlength="20"
                   class="form-control" placeholder="Teléfono..."/>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label class="name" for="Cellphone">Celular</label>
            <input type="text" id="Cellphone" name="Cellphone" value="<?=$provider? $provider->getCellphone(): '';?>" size="20" maxlength="20"
                   class="form-control" placeholder="Celular..."/>
        </div>
    </div>
</div>


<div class="form-group">
    <label class="name" for="Observations">Observaciones</label>
    <textarea id="Observations" name="Observations" value="<?=$provider? $provider->getObservations(): '';?>" cols="30" rows="2"
           class="form-control" placeholder="Observaciones de Proveedor..." autocomplete="off" />
</div>

<script type="text/javascript">
$().ready(function(){
    $('.ajaxPost').formAjaxPost();
});
</script>