<div id="bodyWork">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Proveedores
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
<!--             <li class="active"><a href="--><?//=URI::toPage();?><!--">Lista de Proveedores</a></li>-->
            <li><a href="#"><i class="fa fa-dashboard"></i> Compras</a></li>
            <li class="active"><a href="<?=URI::toPage();?>dataList" class="loadContent" rel="dataList">Proveedores</a></li>
        </ol>
    </section>

    <section id="mainContent" class="content">

    </section>

</div>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    var breadcrumbs = $("#mainBreadcrumb .loadContent");
    if(breadcrumbs.size()>0){
        breadcrumbs.last().click();
    }
});
</script>