<h1>Proveedores</h1>
<table cellpadding="2" cellspacing="0" border="1" width="100%" style="text-align:center; width: 100%;">
    <thead>
    <tr>
        <th width="5%" style="font-weight: bold;">N°</th>
        <th width="25%" style="font-weight: bold;">Nombre de Empresa</th>
        <th width="15%" style="font-weight: bold;">Dirección</th>
        <th width="20%" style="font-weight: bold;">Responsable</th>
        <th width="10%" style="font-weight: bold;">Teléfono</th>
        <th width="10%" style="font-weight: bold;">Celular</th>
        <th width="15%" style="font-weight: bold;">Observaciones</th>
    </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    foreach($providers as $provider){
        $i++;
        $pk = $provider->getId();
        ?>
        <tr class="<?=($i%2==0)? 'odd': 'even';?>">
            <td width="5%" style="text-align: center;"><?=$i;?></td>
            <td width="25%" style="text-align: left;"><?=$provider->getCompany();?></td>
            <td width="15%" style="text-align: left;"><?=$provider->getAddress();?></td>
            <td width="20%" style="text-align: left;"><?=$provider->getPerson();?></td>
            <td width="10%" style="text-align: center;"><?=$provider->getPhone();?></td>
            <td width="10%" style="text-align: center;"><?=$provider->getCellphone();?></td>
            <td width="15%" style="text-align: left;"><?=$provider->getObservations();?></td>
        </tr>
        <?php
    }
    if(sizeof($providers)==0){
        ?>
        <tr>
            <td class="text-center" colspan="6">* No se encontraron registros *</td>
        </tr>
        <?php
    }
    ?>
    </tbody>
</table>