<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Registrar Nueva Compra
            <small>Paso 1</small>
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>

    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="save"/>
                <div class="form-group">
                    <label class="control-label" for="providerId">Proveedor</label>
                    <div class="input-group">
                        <input type="text" id="providerName" name="providerName" size="50"
                               maxlength="100" style="text-transform: uppercase" placeholder="Proveedor..." />
                        <input type="hidden" name="ProviderId" id="ProviderId" value=""/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="Date">Fecha Compra de Productos</label>

                        <div class="input-group">
                            <div class="input-group input-large margin-top-10" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
                                <input type="text" id="Date" name="Date" value="" class="form-control datoFecha" />
                                <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="WarrantyProvider">Garantía Proveedor</label>
                        <input type="text" id="WarrantyProvider" name="WarrantyProvider" value="" class="form-control" placeholder="Garantia Proveedor..." />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Observation">Observaciones</label>
                    <textarea id="Observation" name="Observation" cols="30" rows="2" class="form-control" placeholder="Observaciones..."></textarea>
                </div>
                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style type="text/css">
.ui-autocomplete {
    z-index: 50000;
}
</style>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost({
        onSuccess:function(){
            window.location="<?=URI::toPage().'createStep2';?>";
        }
    });
    $(".datoFecha").datepicker();
    proveedorAuntoComplete();
});
function providerAutoComplete(){
    $('#providerName').autocomplete({
        minLength:3,
        width:200,
        source:function(request, response){
            $.getJSON("<?=URI::toPage().'searchProveedor';?>",{term:request.term}, function(data){
                response( $.map( data.datos, function( item ) {
                    return{
                        id:item.id,
                        label:item.name,
                        value:item.name
                    }
                }));
            });
        },
        select: function(event, ui){
            $('#ProviderId').val(ui.item? ui.item.id:"");
        },
        open: function(){
        },
        close: function(){
        }
    });
}
function proveedorAuntoComplete(){
    $('#providerName').autocomplete({
        source: function( request, response ) {
            $.ajax({
                url: "<?=URI::toPage().'searchProveedor';?>",
                dataType: "json",
                data: {
                    term: request.term
                },
                success: function( data ) {
                    //response( data );
                    response( $.map( data.datos, function( item ) {
                        return{
                            id:item.id,
                            label:item.name,
                            value:item.name
                        }
                    }));
                }
            });
        },
        minLength: 3,
        select: function( event, ui ) {
//            $("#userId").val(ui.item.id);
            $('#ProviderId').val(ui.item? ui.item.id:"");
            $('#providerName').val(ui.item? ui.item.label:"");
            return false;
        }
    });
}
</script>