
<tr class="inputBodyP inputRegisterP">
    <form action="" method="post" role="form" class="ajaxPost">
        <input type="hidden" id="action" name="action" value="saveProductAcquisition"/>
        <input type="hidden" id="acquisitionId" name="acquisitionId" value="<?= $acquisition->getId(); ?>"/>
        <td>
            <input type="text" name="productName" size="50" id="productName"
                   maxlength="100" style="text-transform: uppercase" placeholder="Producto..." />
            <input type="hidden" name="productId" id="productId" value=""/>
        </td>
        <td><input *type="text" id="quantity" name="quantity" value="" class="form-control text-right" size="5" maxlength="5"/></td>
        <td><div class="col-lg-10"><input type="text" id="price" name="price" value="" class="form-control text-right" size="5" maxlength="5"/></div> Bs.</td>
        <td id="basePrice" class="text-right"></td>

<!--        <td>-->
<!--            <select id="money" name="money" class="form-control">-->
<!--                --><?php
//                foreach ($moneys as $money) {
//                    ?>
<!--                    <option value="--><?//= $money; ?><!--">--><?//= $money;?><!--</option>-->
<!--                --><?php
//                }
//                ?>
<!--            </select>-->
<!--        </td>-->

    </form>
</tr>
<tr class="hidden">

</tr>
<script type="text/javascript">
    $().ready(function (){
        productAutoComplete();
        $('.btnRemove').click(function(){
            $(this).parent().parent().parent().remove();
        });
        $('.btnSave').click(function(){
            save();
        });
    });
    function productAutoComplete(){
//        $('.productName').on('blur',function(){
//            $(this).addClass('input-red');
//        });
        $('#productName').autocomplete({
            minLength:2,
            width:200,
            source:function(request, response){

                $.getJSON("<?=URI::toPage().'searchProduct';?>",{term:request.term}, function(data){
                    response( $.map( data.datos, function( item ) {
                        return{
                            id:item.id,
                            label:item.name,
                            value:item.name,
                            basePrice: item.basePrice + " Bs"
                        }
                    }));
                });
            },
            select: function(event, ui){
                $('#productId').val(ui.item? ui.item.id:"");
                $('#basePrice').html(ui.item?
                    (ui.item.basePrice + "<br /><small><a href='<?=WEB_ROOT.'catalog/product/show/';?>"+ui.item.id+"' target='_blank'>>> Ir a producto</a></small>"
                    ):"");
                $(this).addClass('input-blue');
            },
            open: function(){
//                $(this).addClass('input-red');
            },
            close: function(){
            }
        });
    }
</script>
