<div id="bodyWork">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Registro de Compra de Productos
            <small>Paso 2</small>
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li class="active"><a href="<?= URI::toPage(); ?>">Compra de Productos</a></li>
            <li class="active"><a href="<?= URI::toPage(); ?>dataList" class="loadContent" rel="dataList">Listado</a>
            </li>
        </ol>
    </section>

    <section id="mainContent" class="content">
        <div class="portlet box blue" style="margin: 0;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i>Paso 2 - Registro de Compra de Productos
                </div>
                <div class="tools">
                    <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row" style="align-content: center">
                    <div class="col-md-6">
                        <table class="table">
                            <tr>
                                <th>Proveedor</th>
                                <td><?=$acquisition->getSelProvider()->getCompany();?></td>
                            </tr>
                            <tr>
                                <th>Fecha</th>
                                <td><?=$acquisition->getDate('d/M/y');?></td>
                            </tr>
                            <tr>
                                <th>Garantía</th>
                                <td><?=$acquisition->getWarrantyProvider();?></td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td><?=number_format($acquisition->totalPrice(), 2);?> Bs.</td>
                            </tr>
                            <?php
                            if(UserControl::hasRol('SUPER') || UserControl::hasRol('ADM')){
                            ?>
                            <tr>
                                <th>* Margen de Ganancia</th>
                                <td class="text-success"><?=number_format($margenGanancia, 2);?> Bs.</td>
                            </tr>
                            <?php
                            }
                            ?>
                        </table>
                    </div>
                </div>

                <div id="divTable" class="table-responsive">

                </div>


                <div id="divAddTr" class="right" style="padding-left: 90%;">
                    <a href="" id="btnSave" class="btnSave btn btn-sm btn-circle green">
                        <i class="fa fa-plus"></i> Agregar</a>
                </div>

                <br/>
                <br/>
                <div id="divTableProduct" class="table-responsive">

                </div>



                <form action="<?=URI::toModule().'productAcquisition/dataList/'.$acquisition->getId();?>" method="get">
                    <div class="form-actions right">
                        <button type="submit" class="btn default" data-dismiss="modal">Finalizar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<style type="text/css">
.ui-autocomplete {
    z-index: 50000;
}
.input-blue{
    color: blue;
}
.input-red{
    color: red;
}
</style>
<script type="text/javascript">
$().ready(function () {
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost();
    $(".datoFecha").datepicker();
    $('#btnAddTr').click(function(){
        addTr();
        return false;
    });
});
$(window).load(function(){
    loadTable();
    loadTableProduct();
});
function addTr(){
    var contInput=$('.inputBody').length+1;
    var contInputRegister=$('.inputRegister').length;
    if(contInputRegister==0){
        $.ajax({
            url: "<?=  URI::toPage().'inputTable';?>",
            type: "GET",
            data: {i: contInput},
            beforeSend: function() {
            }
        })
        .done(function(results){
            $('#divTBody').append(results);
        })
        .always(function(){
        });
    }
}

function addProduct(){
    var contInput=$('.inputBodyP').length+1;
    var contInputRegister=$('.inputRegisterP').length;
    if(contInputRegister==0){
        $.ajax({
                url: "<?=  URI::toPage().'createProduct';?>",
                type: "GET",
                data: {i: contInput},
                beforeSend: function() {
                }
            })
            .done(function(results){
                $('#divTBodyP').append(results);
            })
            .always(function(){
            });
    }
}

function loadTable(){
    $.ajax({
        url: "<?=  URI::toPage().'loadTable';?>",
        type: "GET",
        dataType: 'html',
        data:{},
        success:(function(results){
            $('#divTable').html(results).slideDown();
        }),
        complete:(function(){
     //       addTr();
        })
    });
}


function loadTableProduct(){
    $.ajax({
        url: "<?=  URI::toPage().'loadTableProduct';?>",
        type: "GET",
        dataType: 'html',
        data:{},
        success:(function(results){
            $('#divTableProduct').html(results).slideDown();
        }),
        complete:(function(){
            addProduct();
        })
    });
}

function save(){
    var productId=$('#productId');
    var quantity=$('#quantity');
    var price=$('#price');
    var money=$('#money');
    $.ajax({
        url: "<?=URI::toPage().'saveProductAcquisition';?>",
        type: "post",
        dataType: 'json',
        data: ({
            ProductId: productId.val(),
            Quantity: quantity.val(),
            Price: price.val(),
            Money: money.val(),
        }),
        beforeSend: function() {
            var tr= $(this).parent().parent();
            tr.empty();
            tr.html("<td colspan='8'>Cargando</td>");
        },
        success: function(data){
            if(data.success){
                loadTable();
            }else{
                alert('Debe llenar correctamente los datos de compra de producto');
                $(data.errors).each(function(){

                });
            }
        }
    });
}
</script>