<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Listado de Compras
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php
                        if(PageControl::canCreate()){
                            ?>
                            <a href="<?=URI::toPage().'create';?>" class="btn btn-sm btn-circle green" data-toggle="modal"
                               data-target="#ajax-modal"><i class="fa fa-plus"></i> Registrar Nueva Compra</a>
                        <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tableAcquisitions" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th width="5%">Nº</th>
                        <th width="8%">Fecha</th>
                        <th>Proveedor</th>
                        <th width="10%">Items Compra</th>
                        <th width="10%">Precio Total</th>
                        <th>Observaciones</th>
                        <th width="10%">Detalles</th>
                        <?php
                        if(PageControl::canUpdate()){
                            ?>
                            <th width="10%">Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                            ?>
                            <th width="10%">Eliminar</th>
                        <?php
                        }
                        ?>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nº</th>
                        <th>Fecha</th>
                        <th>Proveedor</th>
                        <th>Items Compra</th>
                        <th>Precio Total</th>
                        <th>Observaciones</th>
                        <th>Detalles</th>
                        <?php
                        if(PageControl::canUpdate()){
                        ?>
                            <th>Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <th>Eliminar</th>
                        <?php
                        }
                        ?>
                    </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toShowLink = URI::toPage().'details/';
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($acquisitionProducts as $acquisitionProduct){
                    $i++;
                    $pk = $acquisitionProduct->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="text-center"><?=$i;?></td>
                        <td class="text-center"><?=$acquisitionProduct->getDate('d/m/Y');?></td>
                        <td class="text-left"><?=$acquisitionProduct->getSelProvider()->getCompany();?></td>
                        <td class="text-right">
                            <?=$acquisitionProduct->countTotalItems();?> Items
                        </td>
                        <td class="text-right">
                            <?=number_format($acquisitionProduct->totalPrice(), 2);?> Bs
                        </td>
                        <td class="text-left"><?=$acquisitionProduct->getObservation();?></td>
                        <td class="text-center">
                            <a href="<?=$toShowLink.$pk;?>" class="btn btn-circle btn-sm purple">
                                <i class="fa fa-fw fa-edit"></i> Detalles
                            </a>
                        </td>
                        <?php
                        if(PageControl::canUpdate()){
                        ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal"
                                   data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger" data-toggle="modal">
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                <?php
                }
                if(sizeof($acquisitionProducts)==0){
                    ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron Compras registradas *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('#tableAcquisitions').dataTable();
});
</script>