<div id="bodyWork">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Compra de Productos
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li class="active"><a href="<?=URI::toPage();?>">Compra de Productos</a></li>
            <li class="active">Detalles de Compra</li>
        </ol>
    </section>

    <section id="mainContent" class="content">

        <div class="portlet box blue">

            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Detalles de Compra
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">

                <table class="table">
                    <tbody>
                    <tr>
                        <th style="width:30%">Proveedor:</th>
                        <td>
                            <strong><?=$provider->getCompany();?></strong>
                        </td>
                    </tr>
                    <tr>
                        <th>Fecha de Compra:</th>
                        <td><?=$acquisition->getDate('d/m/Y');?></td>
                    </tr>
                    <tr>
                        <th>Garantía General:</th>
                        <td><?=$acquisition->getWarrantyProvider();?></td>
                    </tr>
                    <tr>
                        <th>Observaciones:</th>
                        <td><?=$acquisition->getObservation()?: '-----';?></td>
                    </tr>
                    </tbody>
                </table>

                <h3>Listado de Productos</h3>

                <div class="table-responsive">
                    <table id="tableAcquisitionProduct" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="5%">Nº</th>
                                <th>Producto</th>
                                <th width="10%">Cantidad</th>
                                <th width="15%">Precio Unitario</th>
                                <th width="15%">Precio Total</th>
                                <th width="10%">Productos</th>
                                <th width="10%">Asignación</th>
                                <?php
                                if(PageControl::canUpdate()){
                                ?>
                                    <th width="10%">Editar</th>
                                <?php
                                }
                                if(PageControl::canDelete()){
                                ?>
                                    <th width="10%">Eliminar</th>
                                <?php
                                }
                                ?>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th class="text-center">
                                    Total de Compra
                                </th>
                                <th colspan="2" class="text-center">
                                    <?=$acquisition->countTotalItems();?> Items
                                </th>
                                <th class="text-right">
                                    <?= number_format($acquisition->totalPrice(), 2);?> Bs
                                </th>
                                <th colspan="4"></th>
                            </tr>
                            <tr>
                                <th>Nº</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Precio Total</th>
                                <th>Productos</th>
                                <th>Asignación</th>
                                <?php
                                if(PageControl::canUpdate()){
                                ?>
                                    <th>Editar</th>
                                <?php
                                }
                                if(PageControl::canDelete()){
                                ?>
                                    <th>Eliminar</th>
                                <?php
                                }
                                ?>
                            </tr>
                        </tfoot>
                        <tbody>
                        <?php
                        $i = 0;
                        $toShowLink = URI::toModule().'productItem/dataList/';
                        $toAssingBranchLink = URI::toModule().'productAcquisition/createAssingBranch/';
                        $toEditLink = URI::toModule().'productAcquisition/edit/';
                        $toDeleteLink = URI::toModule().'productAcquisition/delete/';
                        foreach($productAcquisitions as $productAcquisition){
                            $i++;
                            $pk = $productAcquisition->getId();
                            ?>
                            <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                                <td class="text-center"><?=$i;?></td>
                                <td class="text-left"><?=$productAcquisition->getSelProduct()->getName();?></td>
                                <td class="text-center"><?= $productAcquisition->countSelProductItems(); ?></td>
                                <td class="text-right">
                                    <?= number_format($productAcquisition->getPrice(), 2); ?>
                                    <?= $productAcquisition->getMoney(); ?>
                                </td>
                                <td class="text-right">
                                    <?= number_format($productAcquisition->totalPrice(), 2); ?>
                                    <?= $productAcquisition->getMoney(); ?>
                                </td>
                                <td class="text-center">
                                    <a href="<?=$toShowLink.$pk;?>" class="btn btn-circle btn-sm purple">
                                        <i class="fa fa-fw fa-edit"></i> Productos
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="<?=$toAssingBranchLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal" data-target="#ajax-modal">
                                        <i class="fa fa-fw fa-edit"></i> Asignar
                                    </a>
                                </td>
                                <?php
                                if(PageControl::canUpdate()){
                                ?>
                                    <td class="text-center">
                                        <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal"
                                           data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                                        </a>
                                    </td>
                                <?php
                                }
                                if(PageControl::canDelete()){
                                ?>
                                    <td class="text-center">
                                        <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger"
                                           onclick="return confirm('¿Esta seguro que desea eliminar esta compra de producto?');">
                                            <i class="fa fa-fw fa-times"></i> Eliminar
                                        </a>
                                    </td>
                                <?php
                                }
                                ?>
                            </tr>
                            <?php
                        }
                        /*if(sizeof($productAcquisitions)==0){
                            ?>
                            <tr>
                                <td class="text-center" colspan="6">* No se encontraron Compras registradas *</td>
                            </tr>
                            <?php
                        }*/
                        ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('#tableAcquisitionProduct').dataTable();
});
</script>