<div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        Detalles de los Productos Adquiridos por el Proveedor: <?=$productAcquisition->getSelProvider()->getCompany();?>
                    </h3>
                </div>
                <div class="box-tools">
                    <?php
                    if(PageControl::canCreate()){
                        ?>
                        <a href="<?=URI::toModule();?>productItem/create"<?=$productAcquisition->getId();?> class="pull-right pointer loadContent" rel="createData"><i class="fa fa-fw fa-plus-circle"></i>Agregar Item</a>
                    <?php
                    }
                    ?>
                </div>
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Producto</th>
                                <th>Costo</th>
                                <th>Precio</th>
                                <th>Elimiar</th>
<!--                                <th>Total Unidades</th>-->
<!--                                <th>Detalles</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $i = 0;
                            $toShow = URI:: toPage().'show/';
                            //$toEditLink = URI::toPage().'edit/';
                            //$toDeleteLink = URI::toPage().'delete/';
                            foreach($productItems as $productItem){
                                $i++;
                                $pk = $productItem->getId();
                            ?>
                            <tr>
                                <td><?=$i;?></td>
                                <td>
                                    <?=$productItem->getSelProduct()->getName();?>
                                    <br/><span style="font-style: italic;"><strong>Codigo: </strong><?=$productItem->getSelProduct()->getCode();?></span>
                                </td>
                                <td>
                                    <?=$productItem->getCost();?>
                                    <?=$productItem->getMoney();?>
                                </td>
                                <td><?=$productItem->getPrice();?></td>
<!--                                <td>--><?//=$productItem->getCategoryId();?>
<!--                                <td>--><?//=$productItem->getDescription();?><!--</td>-->
<!--                                <td>--><?//=$productItem->countSelProductItems();?><!--</td>-->
                                <td aling="center">
                                    
                                </td>
                                <?php
                               
                                ?>
                            </tr>
                            <?php
                            }
                            if(sizeof($products)==0){
                            ?>
                            <tr>
                                <td colspan="8" class="text-center">* *</td>
                            </tr>
                            <?php
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
});
</script>