<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Edición de Datos de Compra
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="update"/>
                <input type="hidden" name="id" value="<?= $acquisition->getId();?>"/>

                    <div class="form-group">
                        <label class="control-label" for="providerId">Proveedor</label>
                        <div class="input-group">
                            <select id="ProviderId" name="ProviderId" class="form-control">
                                <option
                                    value="<?= $acquisition->getSelProvider()->getId(); ?>"><?= $acquisition->getSelProvider()->getCompany(); ?></option>
                                <?php
                                foreach ($providers as $provider) {
                                    ?>
                                    <option value="<?= $provider->getId(); ?>"><?= $provider->getCompany(); ?></option>
                                <?php
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Date">Fecha</label>
                        <div class="input-group">
                            <input type="text" id="Date" name="Date" value="<?=$acquisition->getDate('d/m/Y');?>"
                                   class="form-control datoFecha" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Observation">Observaciones</label>
                        <div class="input-group">
                            <textarea id="Observation" name="Observation" cols="50" rows="2" class="form-control"
                                      placeholder="Observaciones..."><?= $acquisition->getObservation(); ?></textarea>
                        </div>
                    </div>

                </div>

                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Aceptar</button>
                </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$().ready(function () {
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost();
    $(".datoFecha").datepicker();
});
</script>