<tr class="inputBody inputRegister">
    <form action="" method="post" role="form" class="ajaxPost">
        <input type="hidden" id="action" name="action" value="saveStep1"/>
        <input type="hidden" id="acquisitionId" name="acquisitionId" value="<?= $acquisition->getId(); ?>"/>
        <td><?=$i;?></td>
        <td>
            <input type="text" name="productName" size="50" id="productName"
                   maxlength="100" style="text-transform: uppercase" placeholder="Producto..." />
            <input type="hidden" name="productId" id="productId" value=""/>
        </td>
        <td><input type="text" id="quantity" name="quantity" value="" class="form-control" size="5" maxlength="5"/></td>
        <td><input type="text" id="price" name="price" value="" class="form-control" size="5" maxlength="5"/> Bs.</td>
<!--        <td>-->
<!--            <select id="brandId" name="brandId" class="form-control">-->
<!--                --><?php
//                foreach ($brands as $brand) {
//                    ?>
<!--                    <option value="--><?//= $brand->getId(); ?><!--">--><?//= $brand->getName(); ?><!--</option>-->
<!--                --><?php
//                }
//                ?>
<!--            </select>-->
<!--        </td>-->
        <td>
            <select id="money" name="money" class="form-control">
                <?php
                foreach ($moneys as $money) {
                    ?>
                    <option value="<?= $money; ?>"><?= $money;?></option>
                <?php
                }
                ?>
            </select>
        </td>
        <td><input type="text" id="warranty" name="warranty" value="" class="form-control"/></td>
        <td>
            <div class="center">
                <button type="submit" class="btn blue btnSave">Guardar</button>
                <button type="submit" class="btnRemove btn red">Quitar</button>
            </div>
        </td>
    </form>
</tr>
<tr class="hidden">

</tr>
<script type="text/javascript">
    $().ready(function (){
        productAutoComplete();
        $('.btnRemove').click(function(){
            $(this).parent().parent().parent().remove();
        });
        $('.btnSave').click(function(){
            save();
        });
    });
    function productAutoComplete(){
//        $('.productName').on('blur',function(){
//            $(this).addClass('input-red');
//        });
        $('#productName').autocomplete({
            minLength:2,
            width:200,
            source:function(request, response){

                $.getJSON("<?=URI::toPage().'searchProduct';?>",{term:request.term}, function(data){
                    response( $.map( data.datos, function( item ) {
                        return{
                            id:item.id,
                            label:item.name,
                            value:item.name
                        }
                    }));
                });
            },
            select: function(event, ui){
                $('#productId').val(ui.item? ui.item.id:"");
                $(this).addClass('input-blue');
            },
            open: function(){
//                $(this).addClass('input-red');
            },
            close: function(){
            }
        });
    }
</script>
