<table id="tableProductAcquisition" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th width="5%">N°</th>
            <th>Producto</th>
            <th>Marca</th>
            <th width="10%">Cantidad</th>
            <th width="10%">Precio</th>
            <th width="5%">Moneda</th>
            <th width="10%" colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody id="divTBody">
    <?php
    $j=0;
    foreach($productAcquisitions as $productAcquisition){
        $j++;
        ?>
        <tr class="inputBody">
            <td><?=$j;?></td>
            <td><?= $productAcquisition->getSelProduct()->getName();?></td>
            <td><?= $productAcquisition->getSelProduct()->getSelBrand()->getName();?></td>
            <td class="text-right"><?= $productAcquisition->getQuantity();?></td>
            <td class="text-right"><?= number_format($productAcquisition->getPrice(), 2);?></td>
            <td class="text-right"><?= $productAcquisition->getMoney();?></td>
            <td>
                <div class="center">
                    <a href="<?=URI::toPage().'deleteProductAcquisition/'.$productAcquisition->getId();?>" class="btnRemove btn red">Quitar</a>
                </div>
            </td>
        </tr>
    <?php
    }
    ?>
    </tbody>
</table>