<table id="tableProductAcquisition" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Producto</th>
            <th width="15%">Cantidad</th>
            <th width="20%">Precio Unitario</th>
            <th width="20%">Precio de Comercialización</th>
<!--            <th width="8%">Moneda</th>-->
        </tr>
    </thead>
    <tbody id="divTBodyP">


    </tbody>

</table>