/* here you can put your own css to customize and override the theme */

.product-gallery-wrapper{

}
.product-gallery-wrapper .img-div{
    display: block;
    height: 180px;
}
.product-gallery-wrapper .img-div img{
    height: 100%;
}

.header{
    /*background: #E84D1C;*/
    background: #232F3E;
}
.header a{
    color: #FDFDFD;
}
.ecommerce .header-navigation > ul > li > a{
    color: #FDFDFD;
}
.ecommerce .header-navigation ul > li.active > a, .ecommerce .header-navigation ul > li > a:hover, .ecommerce .header-navigation ul > li > a:focus, .ecommerce .header-navigation ul > li.open > a, .ecommerce .header-navigation ul > li.open > a:hover, .ecommerce .header-navigation ul > li.open > a:focus{
    background: #232F3E;
    color: #FFF;
}
.otro{
    /*background: center 0 0 repeat-y url("../../../../img/fondo.jpg");*/
}
.product-quantity, .product-pop-up .product-quantity{
    margin-right: 5px;
    width: 60px;
}
#productCartDetails{
    min-width: 370px;
}
.ecommerce{
    background: #A48D6E;
}

.pre-header .top-cart-block {
    float: right;
    margin-top: 0px;
    position: relative;
    font: 400 13px 'Open Sans', Arial, sans-serif;
}
.footer a:hover{
    color: #FFF !important;
}

.pre-header {
    background-color: #1A232D;
    color: #FEFEFE;
}
.pre-header .additional-shop-info a{
    color: #FEFEFE;
}
.pre-header .additional-shop-info a:hover {
    color: #F9F9F9;
}