<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Listado de Marcas
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php if(PageControl::canCreate()){ ?>
                            <a href="<?=URI::toPage().'create';?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-plus"></i> Agregar Marca</a>
                        <?php } ?>
                        <a href="<?=URI::toPage().'pdfReport';?>" class="btn btn-sm btn-circle blue-dark" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tableBrand" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <?php if(PageControl::canUpdate()){ ?>
                        <th width="10%">Editar</th>
                    <?php
                    }
                    if(PageControl::canDelete()){
                        ?>
                        <th width="10%">Eliminar</th>
                    <?php } ?>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nº</th>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <?php if(PageControl::canUpdate()){ ?>
                        <th>Editar</th>
                    <?php
                    }
                    if(PageControl::canDelete()){
                        ?>
                        <th>Eliminar</th>
                    <?php } ?>
                </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($brands as $brand){
                    $i++;
                    $pk = $brand->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="text-center"><?=$i;?></td>
                        <td class="text-left"><?=$brand->getName();?></td>
                        <td class="text-left"><?=$brand->getCode();?></td>
                        <td class="text-left"><?=$brand->getDescription();?></td>
                        <?php
                        if(PageControl::canUpdate()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-circle btn-sm btn-success" data-toggle="modal" data-target="#ajax-modal">
                                    <i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger"
                                   onclick="return confirm('¿Está seguro que desea eliminar este registro?');">
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                <?php
                }
                if(sizeof($brands)==0) {
                    ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron Marcas Registradas *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- page script -->
<script type="text/javascript">
    $().ready(function(){
        $('.loadContent').loadContent();
        $(".dataTable").dataTable();
    });
</script>