<h1>Listado de Marcas</h1>
<table cellpadding="2" cellspacing="0" border="1" width="100%" style="text-align:center; width: 100%;">
    <thead>
        <tr>
            <th width="5%" style="font-weight: bold;">N°</th>
            <th width="15%" style="font-weight: bold;">Código</th>
            <th width="40%" style="font-weight: bold;">Nombre</th>
            <th width="40%" style="font-weight: bold;">Descripción</th>
        </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    foreach($brands as $brand){
        $i++;
        $pk = $brand->getId();
        ?>
        <tr class="<?=($i%2==0)? 'odd': 'even';?>">
            <td width="5%" style="text-align: center;"><?=$i;?></td>
            <td width="15%" style="text-align: left;"><?=$brand->getCode();?></td>
            <td width="40%" style="text-align: left;"><?=$brand->getName();?></td>
            <td width="40%" style="text-align: left;"><?=$brand->getDescription();?></td>
        </tr>
        <?php
    }
    if(sizeof($brands)==0){
        ?>
        <tr>
            <td class="text-center" colspan="6">* No se encontraron registros *</td>
        </tr>
        <?php
    }
    ?>
    </tbody>
</table>