<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Asignar sucursal
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row" style="align-content: center;padding: 0 5%">
            <table class="table">
                <tr>
                    <th>Producto</th>
                    <td><?= $product->getName(); ?></td>
                </tr>
            </table>
            <table class="table">
                <thead>
                <th>Proveedor</th>
                <th>Fecha compra</th>
                <th>Cantidad</th>
                <th>Restante</th>
                </thead>
                <tbody>
                <?php
                foreach ($productAcquisitions as $productAcquisition) {
                    $pk=$productAcquisition->getId();
                    $nDisponibles=$product->productItemByProductAcquisitionLess($productAcquisition);
                    ?>
                    <tr>
                        <td><?= $productAcquisition->getSelAcquisition()->getSelProvider()->getCompany(); ?></td>
                        <td><?= $productAcquisition->getSelAcquisition()->getDate(); ?></td>
                        <td><?= $productAcquisition->getQuantity(); ?></td>
                        <td>
                            <span id="spanCreate<?=$pk;?>" class="spanCreate">
                                <input id="cantidad<?=$pk;?>" type="text" size="5" value="<?=$nDisponibles;?>"/>
                                <select id="branchId<?=$pk;?>" class="form-control">
                                    <?php
                                    foreach ($branchs as $branch) {
                                        ?>
                                        <option value="<?= $branch->getId(); ?>"><?= $branch->getName(); ?></option>
                                    <?php
                                    }
                                    ?>
                                </select>
                                <button id="btn<?=$pk;?>" type="button" class="btn default" onclick="save('<?=$pk;?>');return false;">
                                    <img src="<?=ICO_16;?>save.png" alt="View" title="Detalles" class="imgHand vtip" />
                                </button>
                            </span>
                            <span id="spanValueContent<?=$pk;?>">
                                <a href="" id="linkCreate<?=$productAcquisition->getId();?>" onclick="createAssing('<?=$pk;?>');return false;">
                                    <span id="spanValue<?=$pk;?>"><?= $nDisponibles; ?></span>
                                </a>
                            </span>
                        </td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="bold right">Total sin asignar</td>
                    <td>
                        <span id="dispTotal"><?= $numProductcBranchLess; ?></span>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $().ready(function () {
        $('.spanCreate').hide();
        $('.loadContent').loadContent();
        $('.ajaxPost').formAjaxPost();
        $(".datoFecha").datepicker();
        validateForm();
    });
    function validateForm() {
        $("form").submit(function () {
            var cantidad = parseInt($('#cantidad').val());
            var cantidadPermitida = parseInt(<?=$numProductcBranchLess;?>);
            if (cantidad > cantidadPermitida) {
                alert("LA CANTIDAD EXCEDE LO PERMITIDO");
                return false;
            }
            return true;
        });
    }

    function save(pk){
        var spanCreate=$('#spanCreate'+pk);
        var dispTotal=$('#dispTotal');
        var spanValueContent=$('#spanValueContent'+pk);
        var branchId=$('#branchId'+pk);
        var spanValue=parseInt($('#spanValue'+pk).html());
        var cantidad = parseInt($('#cantidad'+pk).val());
        if(cantidad<=spanValue){
            $.ajax({
                url: "<?=URI::toPage().'saveAssingBranch';?>",
                type: 'GET',
                data: ({productAcquisitionId: pk,cantidad: cantidad,branchId:branchId.val()}),
                dataType: "json",
                beforeSend: function(){
//                link.html('Cargando...') ;
                },
                success: function(data){
                    $('#spanValue'+pk).html(''+data.cantDisponible);
                    dispTotal.html(''+data.cantDisponibleTotal);

                    spanValueContent.show();
                    spanCreate.hide();
                }
            });
        }else{
            alert("LA CANTIDAD EXCEDE LO PERMITIDO");
        }
    }
    function createAssing(pk){
        var spanCreate=$('#spanCreate'+pk);
        var spanValueContent=$('#spanValueContent'+pk);
        spanValueContent.hide();
        spanCreate.show();
//        spanCreate.html('70531240');
    }
</script>