<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Inventario
            <small> Categorias principales </small>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
        </div>
        <div class="table-responsive">
            <table id="tableCategory" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th width="25%">Categoría/Sucursal</th>
                    <?php
                        foreach($branchs as $branch){
                            echo "<th id='".$branch->getId()."' class='trBranch'>".$branch->getName()."</th>";
                        }
                    ?>
                </tr>

                </thead>
                <tfoot>
                <tr>
                    <th> Categoría/Sucursal </th>
                    <?php
                    foreach($branchs as $branch){
                        echo "<th class='text-left'>".$branch->getName()."</th>";
                    }
                    ?>
                </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toShowLink = URI::toModule().'productAcquisition/dataList/';
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($categories as $category){
                    $pk = $category->getId();
//                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
						<td class="center">
							<a href="<?=URI::toPage().'dataListSubCategories/'.$category->getId();?>"><?=$category->getName();?></a>
						</td>
                        <?php
                        foreach($branchs as $branch){
                            echo "<td class='text-right'>".$category->productItemsByBranch($branch->getId(),1)." items</td>";
                        }
                        ?>
				<?php
                }
                if(sizeof($categories)==0){
                    ?>
                    <tr>
                        <td class="text-center" colspan="6">* No existen categorias registradas *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
//    $('#tableCategory').dataTable();
});
</script>