<div id="bodyWork">

    <section id="mainContent" class="content">
        <div class="loadContentContainer">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Sub Categoría: <?= $category->getName(); ?>
                        <small>- Productos dependientes</small>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                    </div>
                    <div class="table-responsive">
                        <table id="tableProducts" class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th width="25">Producto/Sucursal</th>
                                <?php
                                foreach ($branchs as $branch) {
                                    echo "<th id='" . $branch->getId() . "' class='trBranch'>" . $branch->getName() . "</th>";
                                }
                                echo "<th>Disponibles</th>";
                                echo "<th>Asignar</th>";
                                ?>
                            </tr>

                            </thead>
                            <tfoot>
                            <tr>
                                <th>Producto/Sucursal</th>
                                <?php
                                foreach ($branchs as $branch) {
                                    echo "<th>" . $branch->getName() . "</th>";
                                }
                                    echo "<th>Disponibles</th>";
                                    echo "<th>Asignar</th>";
                                ?>
                            </tr>
                            </tfoot>
                            <tbody>
                            <?php
                            $i = 0;
                            foreach ($products as $product){
                            $pk = $product->getId();
                            $nDisponibles=$product->productsItemBranchLess();
                            ?>
                            <tr class="<?= ($i % 2 == 0) ? 'odd' : 'even'; ?>">
                                <td class="center"><?= $product->getName(); ?></td>
                                <?php
                                    foreach ($branchs as $branch) {
                                        echo "<td class='text-right'>" . $product->productItemByBranch($branch->getId()) . " items</td>";
                                    }
                                ?>
                                <td><?=$nDisponibles;?></td>
                                <td>
                                    <?php
                                        if($nDisponibles>0){
                                    ?>
                                        <a href="<?= URI::toPage().'createAssingBranch/'.$pk; ?>" class="btn btn-sm btn-circle blue"
                                           data-toggle="modal"
                                           data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Asignar Sucursal
                                        </a>
                                    <?php
                                    }
                                    ?>

                                </td>
                                <?php
                                }
                                /*if (sizeof($products) == 0){
                                ?>
                                <tr>
                                    <td class="text-center" colspan="6">* No existen productos registrados *</td>
                                </tr>
                            <?php
                            }*/

                            ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $().ready(function () {
        $('.loadContent').loadContent();
        $('#tableProducts').dataTable({
            "language": {
                "emptyTable":     "* No existen productos registrados *"
            }
        });
    });
</script>