<div class="portlet box blue">

    <div class="portlet-body">
        <?php
            foreach($branchs as $branch){
        ?>
                <div id='<?=$branch->getId();?>' class='divSucursal'></div>
        <?php
            }
        ?>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    loadSucursal();
});
    function loadSucursal(){
        $('.divSucursal').each(function(){
            var div=$(this);
            div.html(div.attr('ID'));
            $.ajax({
                url: "<?=URI::toPage().'tableSucursal';?>",
                type: "get",
                dataType: 'html',
                data: ({
                    branchId:div.attr('ID')
                }),
                beforeSend: function() {
                    div.html('Cargando');
                },
                success:(function(data){
                    div.html(data).slideDown();
                    $('#tableProduct'+div.attr('ID')).dataTable();
                })
            });

        });
    }
</script>