<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-cogs"></i><?=$branch->getName();?>
        <small><?=$branch->getAddress();?></small>
    </div>
    <div class="tools">
        <a href="javascript:;" class="collapse"></a>
        <a href="javascript:;" class="reload"></a>
        <a href="javascript:;" class="remove"></a>
    </div>
</div>
<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                <?php
                if(PageControl::canCreate()){
                    ?>
                    <a href="<?=URI::toPage().'create';?>" class="btn btn-sm btn-circle green" data-toggle="modal"
                       data-target="#ajax-modal"><i class="fa fa-plus"></i> Registrar Nueva Compra</a>
                <?php
                }
                ?>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="tableProduct<?=$branch->getId();?>" class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Nº</th>
            <th>Fecha de compra</th>
            <th>Proveedor</th>
            <th>Observaciones</th>
            <th width="10%">Productos</th>
            <?php
            if(PageControl::canUpdate()){
                ?>
                <th width="10%">Editar</th>
            <?php
            }
            if(PageControl::canDelete()){
                ?>
                <th width="10%">Eliminar</th>
            <?php
            }
            ?>
        </tr>

        </thead>
        <tfoot>
        <tr>
            <th>Nº</th>
            <th>Fecha de compra</th>
            <th>Proveedor</th>
            <th>Observaciones</th>
            <th>Productos</th>
            <?php
            if(PageControl::canUpdate()){
                ?>
                <th>Editar</th>
            <?php
            }
            if(PageControl::canDelete()){
                ?>
                <th>Eliminar</th>
            <?php
            }
            ?>
        </tr>
        </tfoot>
        <tbody>
        <?php
        $i = 0;
        $toShowLink = URI::toModule().'productAcquisition/dataList/';
        $toEditLink = URI::toPage().'edit/';
        $toDeleteLink = URI::toPage().'delete/';
        foreach($masterProducts as $masterProduct){
            $i++;
            $pk = $branch->getId();
            $product=$masterProduct['product'];
            $count=$masterProduct['count'];
            ?>
            <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                <td class="center"><?=$i;?></td>
                <td class="left"><?=$product->getName();?></td>
                <td class="left"><?=$count;?></td>
                <td class="left"><?=$$masterProduct;?></td>
                <td class="text-center">
                    <a href="<?=$toShowLink.$pk;?>" class="btn btn-circle btn-sm purple">
                        <i class="fa fa-fw fa-edit"></i> Detalles
                    </a>
                </td>
                <?php
                if(PageControl::canUpdate()){
                    ?>
                    <td class="text-center">
                        <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal"
                           data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                        </a>
                    </td>
                <?php
                }
                if(PageControl::canDelete()){
                    ?>
                    <td class="text-center">
                        <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger" data-toggle="modal">
                            <i class="fa fa-fw fa-times"></i> Eliminar
                        </a>
                    </td>
                <?php
                }
                ?>
            </tr>
        <?php
        }
        if(sizeof($masterProducts)==0){
            ?>
            <tr>
                <td class="text-center" colspan="6">* No se encontraron Compras registradas *</td>
            </tr>
        <?php
        }
        ?>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $().ready(function(){
//        $('.loadContent').loadContent();

    });
</script>