<html>
<head>

</head>
<body>
    <div class="twoSides">
        <div class="shortSide">
            
        </div>
        <div class="largeSide">
            
            <h1><?=__('CRUD Generation Finished');?></h1>
            <h2><?=__('Class').': '.$mapedClass;?></h2>
            
            <table class="tList" width="100%">
                <thead>
                    <th>Type</th>
                    <th>Directory</th>
                    <th>Objects</th>
                    <th>Related Field</th>
                </thead>
                <tbody>                        
                    <?php
                        //$camelName = SpecialStrings::camelCase($columnMap->getColumnName());
                        //$pascalName = SpecialStrings::pascalCase($columnMap->getColumnName());
                    ?>
                    <tr>
                        <td>Controller</td>
                        <td class="right">dir.</td>
                        <td class="left">
                            <ul>
                            <?php
                            foreach ($views as $view):
                            ?>
                                <li><?=  SpecialStrings::pascalCase($view).CodeGenerator::TEMPLATE_EXTENSION;?></li>
                            <?php
                            endforeach;
                            ?>
                            </ul>
                        </td>
                        <td class="center">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="clear"></div>
    </div>
</body>
</html>