<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Listado de Clientes
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php if(PageControl::canCreate()){ ?>
                            <a href="<?=URI::toPage().'create';?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-plus"></i> Registrar Cliente</a>
                        <?php } ?>
                        <a href="<?=URI::toPage().'pdfReport/';?>" class="btn btn-sm btn-circle blue-dark" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tableCustomer" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>C.I.</th>
                        <th>Apellidos</th>
                        <th>Nombres</th>
                        <th>Email</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Celular</th>
                        <?php if(PageControl::canUpdate()){ ?>
                            <th width="10%">Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <th width="10%">Eliminar</th>
                        <?php } ?>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nº</th>
                        <th>C.I.</th>
                        <th>Apellidos</th>
                        <th>Nombres</th>
                        <th>Email</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Celular</th>
                        <?php if(PageControl::canUpdate()){ ?>
                            <th>Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <th>Eliminar</th>
                        <?php } ?>
                    </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($customers as $customer){
                    $i++;
                    $pk = $customer->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="text-center"><?=$i;?></td>
                        <td class="text-left"><?=$customer->getIdNumber();?></td>
                        <td class="text-left"><?=$customer->getName();?></td>
                        <td class="text-left"><?=$customer->getLastname();?></td>
                        <td class="text-left"><?=$customer->getEmail();?></td>
                        <td class="text-left"><?=$customer->getAddress();?></td>
                        <td class="text-left"><?=$customer->getPhone();?></td>
                        <td class="text-left"><?=$customer->getCellphone();?></td>
                        <?php
                        if(PageControl::canUpdate()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-circle btn-sm btn-success" data-toggle="modal" data-target="#ajax-modal">
                                    <i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger" onclick="<?=$customer->countSelSales()>0? "alert('No puede eliminar un registro que tiene dependencias.'); return false;": "return confirm('¿Esta seguro de eliminar este registro?')";?>">
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                <?php
                }
                if(sizeof($customers)==0) {
                ?>
                    <tr>
                        <td class="text-center" colspan="10">* No se encontraron Clientes Registrados *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- page script -->
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $(".dataTable").dataTable();
});
</script>