<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="idNumber">C.I.</label>
            <input type="text" id="idNumber" name="idNumber" value="<?=$customer? $customer->getIdNumber(): '';?>" size="30" maxlength="30" class="form-control" placeholder="ID..." autocomplete="off" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="text" id="email" name="email" value="<?=$customer? $customer->getEmail(): '';?>" size="30" maxlength="30" class="form-control" placeholder="Email..." autocomplete="off" class="validate[required]" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="name">Nombres</label>
            <input type="text" id="name" name="name" value="<?=$customer? $customer->getName(): '';?>" size="30" maxlength="30" class="form-control uppercase" placeholder="Nombres..." autocomplete="off" class="validate[required]" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="lastname">Apellidos</label>
            <input type="text" id="lastname" name="lastname" value="<?=$customer? $customer->getLastname(): '';?>" size="30" maxlength="30" class="form-control uppercase" placeholder="Apellidos..." autocomplete="off" class="validate[required]" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="address">Dirección</label>
            <textarea id="address" name="address" cols="60" rows="1" class="form-control" placeholder="Dirección..."><?=$customer? $customer->getAddress(): '';?></textarea>
        <div class="col-md-6">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="phone">Teléfono</label>
            <input type="text" id="phone" name="phone" value="<?=$customer? $customer->getPhone(): '';?>" size="30" maxlength="30" class="form-control" placeholder="Teléfono..." autocomplete="off" class="validate[required]" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="cellphone">Celular</label>
            <input type="text" id="cellphone" name="cellphone" value="<?=$customer? $customer->getCellphone(): '';?>" size="30" maxlength="30" class="form-control" placeholder="Celular..." autocomplete="off" class="validate[required]" />
        </div>
    </div>
</div>
<script type="text/javascript">
$().ready(function(){
    $(".ajaxPost").formAjaxPost();
    $(".datepicker").datepicker({dateFormat: 'dd/mm/yy'});
});
</script>