<h1>Clientes</h1>
<table cellpadding="2" cellspacing="0" border="1" width="100%" style="text-align:center; width: 100%;">
    <thead>
    <tr>
        <th width="5%" style="font-weight: bold;">N°</th>
        <th width="25%" style="font-weight: bold;">Nombre Completo</th>
        <th width="10%" style="font-weight: bold;">C.I.</th>
        <th width="24%" style="font-weight: bold;">Email</th>
        <th width="20%" style="font-weight: bold;">Dirección</th>
        <th width="8%" style="font-weight: bold;">Teléfono</th>
        <th width="8%" style="font-weight: bold;">Celular</th>
    </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    foreach($customers as $customer){
        $i++;
        $pk = $customer->getId();
        ?>
        <tr class="<?=($i%2==0)? 'odd': 'even';?>">
            <td width="5%" style="text-align: center;"><?=$i;?></td>
            <td width="25%" style="text-align: left;"><?=$customer->completeName();?></td>
            <td width="10%" style="text-align: right;"><?=$customer->getIdNumber();?></td>
            <td width="24%" style="text-align: left;"><?=$customer->getEmail();?></td>
            <td width="20%" style="text-align: left;"><?=$customer->getAddress();?></td>
            <td width="8%" style="text-align: center;"><?=$customer->getPhone();?></td>
            <td width="8%" style="text-align: center;"><?=$customer->getCellphone();?></td>
        </tr>
        <?php
    }
    if(sizeof($customers)==0){
        ?>
        <tr>
            <td class="text-center" colspan="6">* No se encontraron registros *</td>
        </tr>
        <?php
    }
    ?>
    </tbody>
</table>