<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Agregar Imagen de Producto
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>

    <div class="portlet-body form">
        <form id="miForm" action="" method="post" role="form" enctype="multipart/form-data">
            <input type="hidden" id="controller" name="controller" value="productImage" />
            <input type="hidden" id="action" name="action" value="uploadImage" />
            <input type="hidden" name="id" value="<?=$product->getId();?>" />

            <div class="form-body">

                <div class="form-group">
                    <label class="control-label" for="imagen">Imagen</label>
                    <input type="file" name="imagen" id="imagen" class="form-control-file" aria-describedby="fileHelp" />
                    <small id="fileHelp" class="form-text text-muted">Seleccione una imagen para cargar al sistema. Los formatos permitidos son JPG, PNG y GIF.</small>
                </div>

                <div class="form-group">
                    <label class="control-label" for="title">Título</label>
                    <input type="text" id="title" name="title" value="" size="30" maxlength="100" class="form-control"
                           placeholder="Titulo..." autocomplete="off" class="validate[required]" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Descripción</label>
                    <textarea id="description" name="description" cols="30" rows="2" class="form-control"
                              placeholder="Descripción..."></textarea>
                </div>


                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue" id="submit" name="submit">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $("#miForm").submit(function(){
        if($("#title").val() == ""){
            alert("Debe ingresar un Título para la imagen.");
        }
        return true;
    });
    $('.ajaxPost').formAjaxPost();
});
</script>