<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Editar Imagen de Producto
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>

    <div class="portlet-body form">
        <form action="" method="post" role="form" enctype="multipart/form-data">
            <input type="hidden" id="controller" name="controller" value="productImage" />
            <input type="hidden" id="action" name="action" value="update" />
            <input type="hidden" name="id" value="<?=$productImage->getId();?>" />

            <div class="form-body">
                <div class="form-group">
                    <label class="control-label" for="title">Título</label>
                    <input type="text" id="title" name="title" value="<?=$productImage? $productImage->getTitle(): '';?>" size="30" maxlength="30" class="form-control"
                           placeholder="Código..." autocomplete="off" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Descripción</label>
                    <textarea id="description" name="description" cols="30" rows="2" class="form-control"
                              placeholder="Descripción..."><?=$productImage? $productImage->getDescription(): '';?></textarea>
                </div>


                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue" id="submit" name="submit">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.ajaxPost').formAjaxPost();
});
</script>