<div style="width: 80%;">
    <img src="<?=$web.$code.'.gif';?>" alt="" />
    <h4>Producto: <?=$productName;?></h4>
    <h4>Marca: <?=$brandName;?></h4>
    <h4>Categoría: <?=$categoryName;?></h4>
</div>
