<div id="bodyWork">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Compra de Productos
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li class="active"><a href="<?=URI::toPage();?>">Compra de Productos</a></li>
            <li class="active"><a href="<?=URI::toModule().'acquisition/details/'.$productAcquisition->getSelAcquisition()->getId();?>">Detalles de Compra</a></li>
            <li class="active">Detalle de Compra de Producto</li>
        </ol>
    </section>

    <section id="mainContent" class="content">

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Compras del proveedor: <?=$productAcquisition->getSelProduct()->getName();?>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php
                        if(PageControl::canCreate()){
                        ?>
                        <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tableProductItem" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th width="5%">Nº</th>
                    <th>Código</th>
                    <th>Costo</th>
                    <th>Precio</th>
                    <th>Marca</th>
                    <th>Sucursal</th>
                    <th width="30%">Acciones</th>
                </tr>

                </thead>
                <tfoot>
                <tr>
                    <th>Nº</th>
                    <th>Código</th>
                    <th>Costo</th>
                    <th>Precio</th>
                    <th>Marca</th>
                    <th>Sucursal</th>
                    <th>Acciones</th>
                </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toTargetLink = URI::toPage().'target/';
                $toShowLink = URI::toPage().'detailsProduct/';
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($productItems as $productItem){
                    $i++;
                    $pk = $productItem->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="center"><?=$i;?></td>
                        <td class="left">
                            <?=$productItem->getCode();?>
                        </td>
                        <td class="left"><?=number_format($productItem->getCost(), 2);?></td>
                        <td class="left"><?=number_format($productItem->getPrice(), 2);?></td>
                        <td class="left">
                            <?=is_object($productItem->getSelBrand())? $productItem->getSelBrand()->getName():'';?>
                        </td>
                        <td class="left">
                            <?php
                            if(is_object($productItem->getSelBranch())){
                                echo $productItem->getSelBranch()->getName();
                            }
                            ?>
                        </td>
                        <td class="text-center">
                            <a href="<?=$toTargetLink.$pk;?>" class="btn btn-sm btn-circle purple" target="_blank"><i class="fa fa-fw fa-barcode "></i> Etiqueta</a>
                            <?php
                            if(PageControl::canUpdate()){
                            ?>
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal"
                                   data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            <?php
                            }
                            if(PageControl::canDelete()){
                            ?>
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger" data-toggle="modal">
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            <?php
                            }
                            ?>
                        </td>
                    </tr>
                <?php
                }
                if(sizeof($productItems)==0){
                    ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron Compras registradas *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>



    </section>
</div>


<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('#tableProductItem').dataTable();
});
</script>