<div class="box">
    <div class="box-header">
        <h1>Centro de Ventas
    </div>
    <div class="box-body">
        <p class="text-left">Administración del Centro de Ventas</p>
    </div>
</div>
<!-- page script -->
<script type="text/javascript">
    <?php
    if(sizeof($branches) == 1){
    ?>
    window.location = "<?=URI::toPage().'open/'.$branches[0]->getId();?>";
    <?php
    }
    ?>
</script>


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Sucursales Disponibles
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <?php
        if($uri != ''){
        ?>
        <div class="alert alert-warning">
            <strong>Debe aperturar una sucursal.</strong> Por favor seleccione la sucursal que desea operar.
        </div>
        <?php
        }
        ?>
        <div class="table-responsive">
            <table id="tableRol" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th width="10%">Nº</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th width="20%">Aperturar</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nº</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Aperturar</th>
                </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toOpenLink = URI::toPage().'open/';
                foreach($branches as $branch){
                    $i++;
                    $pk = $branch->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="text-center"><?=$i;?></td>
                        <td class="text-left"><?=$branch->getCode();?></td>
                        <td class="text-left"><?=$branch->getName();?></td>
                        <td class="text-center">
                            <a href="<?=$toOpenLink.$pk.'?uri='.$uri;?>" title="Aperturar" class="btn btn-circle btn-sm purple loadContent">
                                <i class="fa fa-fw fa-toggle-right"></i> Aperturar
                            </a>
                        </td>
                    </tr>
                <?php
                }
                if(sizeof($branch)==0) {
                    ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron Sucursales disponibles *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>