<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Editar Perfil
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="updateProfile" />
                <input type="hidden" name="id" value="<?= $user->getId(); ?>" />

                <div class="row">

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="username">Usuario</label>

                        <div class="col-sm-8">
                            <?=$user->getUsername(); ?>
                            <br />
                            &nbsp;
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="password">Contraseña</label>

                        <div class="col-sm-8 p">
                            <input type="Password" id="Password" name="Password" value=""
                                   size="30" maxlength="30" class="form-control validate[required]"
                                   placeholder="Su contraseña" autocomplete="off" />
                            <br/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="passwordR">Repita Contraseña</label>

                        <div class="col-sm-8">
                            <input type="Password" id="PasswordR" name="PasswordR" value=""
                                   size="30" maxlength="30"
                                   class="form-control"
                                   placeholder="Repita su contraseña" autocomplete="off"/>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-actions right">
                <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                <button type="submit" id="submit" name="submit" class="btn btn-primary">Aceptar</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$().ready(function(){
    $('.ajaxPost').formAjaxPost({
//        onSuccess:function(){
//            window.location="<?//=URI::toPage().'createStep2';?>//";
//        }
    });
    $(".datoFecha").datepicker();
});
</script>