<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Editar Perfil
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="updateProfile" />
                <input type="hidden" name="id" value="<?= $user->getId(); ?>" />

                <div class="row">

                    <div class="form-group">
                        <label for="dni" class="control-label col-sm-4">Cédula de Identidad</label>
                        <div class="col-sm-8">
                            <span class="col-sm-6">
                                <input type="text" id="Dni" name="Dni"
                                       value="<?= $user ? $user->getDni() ?: '' : ''; ?>"
                                       size="20" maxlength="20" autocomplete="off"
                                       placeholder="Cédula de Identidad" class="form-control validate[required]" />
                            </span>
                            <span class="col-sm-4">
                                <select id="Ext" name="Ext" class="form-control col-sm-4">
                                    <option value="">Exp.</option>
                                    <?php
                                    $extensiones = array('BE','CH','CO','LP','OR','PA','PT','SC','TA');
                                    foreach ($extensiones as $extension) {
                                        ?>
                                        <option
                                            value="<?= $extension; ?>" <?=$extension=='OR'? 'selected' : ''; ?>>
                                            <?= $extension; ?>
                                        </option>
                                        <?php
                                    }
                                    ?>
                                </select>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstName" class="control-label col-sm-4">Nombres</label>
                        <div class="col-sm-8">
                            <span class="col-sm-6">
                                <input type="text" id="firstName" name="FirstName"
                                       value="<?= $user ? $user->getFirstName() ?: '' : ''; ?>"
                                       size="30" maxlength="30" autocomplete="off"
                                       placeholder="Primer nombre"
                                       class="form-control uppercase validate[required,minSize[3],custom[onlyLetterSp]]"/>
                            </span>
                            <span class="col-sm-6">
                                <input type="text" id="secondName" name="SecondName"
                                       value="<?= $user ? $user->getSecondName() ?: '' : ''; ?>"
                                       size="30" maxlength="30" autocomplete="off"
                                       placeholder="Segundo nombre"
                                       class="form-control uppercase validate{minSize[3],custom[onlyLetterSp]}"/>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstLastname" class="control-label col-sm-4">Apellidos</label>

                        <div class="col-sm-8">
                            <span class="col-sm-6">
                                <input type="text" id="firstLastname" name="FirstLastname"
                                       value="<?= $user ? $user->getFirstLastname() ?: '' : ''; ?>"
                                       size="30" maxlength="30" autocomplete="off"
                                       placeholder="Primer apellido"
                                       class="form-control uppercase validate[required,minSize[3],custom[onlyLetterSp]]"/>
                            </span>
                            <span class="col-sm-6">
                                <input type="text" id="secondLastname" name="SecondLastname"
                                       value="<?= $user ? $user->getSecondLastname() ?: '' : ''; ?>"
                                       size="30" maxlength="30" autocomplete="off"
                                       placeholder="Segundo apellido"
                                       class="form-control uppercase validate[minSize[3],custom[onlyLetterSp]]"/>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Birthday" class="control-label col-sm-4">Fecha de Nacimiento</label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
                                    <input type="text" id="Birthday" name="Birthday" value="<?= $user ? $user->getBirthday('d/m/Y') ?: '' : ''; ?>"
                                           class="form-control datoFecha" />
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="gender" class="control-label col-sm-4">Sexo</label>
                        <div class="col-sm-8">
                            <div id="gender" class="radio-list">
                                <label class="col-sm-3">
                                    <input type="radio" name="Gender" value="MALE"
                                           class="form-control radio" <?= ($user && $user->getGender() == 'MALE') ? 'checked="true"' : ''; ?>/>
                                    Masculino
                                </label>
                                &nbsp;&nbsp;
                                <label class="col-sm-3">
                                    <input type="radio" name="Gender" value="FEMALE" class="form-control radio"
                                        <?= ($user && $user->getGender() == 'FEMALE') ? 'checked="true"' : ''; ?>/>
                                    Femenino
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Address" class="control-label col-sm-4">Dirección</label>

                        <div class="col-sm-8">
                            <input type="text" id="Address" name="Address"
                                   value="<?= $user ? $user->getAddress() ?: '' : ''; ?>"
                                   size="30" maxlength="100" autocomplete="off"
                                   placeholder="Direccion..." class="form-control uppercase validate[required]"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nit" class="control-label col-sm-4">Teléfono Fijo</label>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                <input type="text" id="primaryPhone" name="PrimaryPhone"
                                       value="<?= $user ? $user->getPrimaryPhone() ?: '' : ''; ?>"
                                       size="30" maxlength="30"
                                       class="form-control validate[required,minSize[7],custom[phone]]"
                                       placeholder="" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cellPhone" class="control-label col-sm-4">Teléfono Móvil</label>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                <input type="text" id="cellPhone" name="CellPhone"
                                       value="<?= $user ? $user->getCellPhone() ?: '' : ''; ?>"
                                       size="30" maxlength="30" class="form-control validate[required,minSize[8]]"
                                       placeholder="" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-actions right">
                <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                <button type="submit" id="submit" name="submit" class="btn btn-primary">Aceptar</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$().ready(function(){
    $('.ajaxPost').formAjaxPost({
//        onSuccess:function(){
//            window.location="<?//=URI::toPage().'createStep2';?>//";
//        }
    });
    $(".datoFecha").datepicker();
});
</script>