<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Imagen de Perfil
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>

    <div class="portlet-body form">
        <form id="miForm" action="" method="post" role="form" enctype="multipart/form-data">
            <input type="hidden" id="controller" name="controller" value="adminCenter" />
            <input type="hidden" id="action" name="action" value="uploadImage" />

            <div class="form-body">

                <div class="form-group">
                    <label class="control-label" for="imagen">Imagen</label>
                    <input type="file" name="imagen" id="imagen" class="form-control-file" aria-describedby="fileHelp" />
                    <small id="fileHelp" class="form-text text-muted">Seleccione su imagen de perfil. Los formatos permitidos son JPG, PNG y GIF.</small>
                </div>

                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue" id="submit" name="submit">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>