<div class="box">
    <div class="box-header">
        <h1>Perfil de Usuario
    </div>
    <div class="box-body">
        <p class="text-left"></p>
    </div>
</div>



<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Perfil de Usuario
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">

        <fieldset>

            <legend>Datos Personales</legend>

            <div class="box-body">

                <div class="col-md-4">
                    <img src="<?=$user->recursoImagen();?>" alt="" class="img-circle hide1" style="max-height: 256px; max-width: 256px" />
                    <br />
                    <br />
                    <a href="<?=URI::toPage().'loadImage';?>" class="btn btn-sm btn-circle blue"
                       data-toggle="modal" data-target="#ajax-modal" rel="createData"><i class="fa fa-edit"></i> Cambiar Imagen</a>
                </div>

                <div class="col-md-8">
                    <div class="pull-right">
                        <a href="<?=URI::toPage().'editProfile';?>" class="btn btn-sm btn-circle blue"
                           data-toggle="modal" data-target="#ajax-modal" rel="createData"><i class="fa fa-edit"></i> Editar Datos</a>
                    </div>
                    
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width:35%">Cédula de Identidad:</th>
                                <td><?= $user ? $user->getDni() ?: '' : ''; ?> <?= 'OR'; ?></td>
                            </tr>
                            <tr>
                                <th>Nombres:</th>
                                <td><?=$user->getFirstName().' '.$user->getSecondName();?></td>
                            </tr>
                            <tr>
                                <th>Apellidos:</th>
                                <td><?=$user->getFirstLastname().' '.$user->getSecondLastname();?></td>
                            </tr>
                            <tr>
                                <th>Fecha de Nacimiento:</th>
                                <td><?=$user->getBirthday('d/m/Y');?></td>
                            </tr>
                            <tr>
                                <th>Sexo:</th>
                                <td><?=$user->getGender() == 'MALE'? 'Masculino': 'Femenino';?></td>
                            </tr>
                            <tr>
                                <th>Dirección:</th>
                                <td><?=$user->getAddress();?></td>
                            </tr>
                            <tr>
                                <th>Teléfono Fijo:</th>
                                <td><?=$user->getPrimaryPhone() ;?></td>
                            </tr>
                            <tr>
                                <th>Teléfono Móvil:</th>
                                <td><?=$user->getCellPhone() ;?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </fieldset>

        <br />

        <fieldset>
            <legend>Cuenta de Usuario</legend>

            <div class="box-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width:35%">Usuario:</th>
                            <td><?= $user->getUsername(); ?></td>
                        </tr>
                        <tr>
                            <th>Contraseña:</th>
                            <td>
                                *****
                                <br />
                                <a href="<?=URI::toPage().'editContrasena';?>" class="btn btn-sm btn-circle blue"
                                   data-toggle="modal" data-target="#ajax-modal" rel="createData"><i class="fa fa-edit"></i> Cambiar Contraseña</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </fieldset>

    </div>
</div>