<link rel="stylesheet" type="text/css" href="<?=JQUERY_WEB;?>jquery.alerts.css"/>
<script type="text/javascript" src="<?=JQUERY_WEB;?>jquery.simpleDialog.js"></script>
<script type="text/javascript" src="<?=JQUERY_WEB;?>jquery.formAjaxPost.js"></script>
<script type="text/javascript" src="<?=JQUERY_WEB;?>jquery.alerts.js"></script>
<script type="text/javascript">
$().ready(function(){
    $('.delete').confirmDelete();
    $('.simpleDialog').simpleDialog({
        onComplete: function(result, link){
            $("#panel form").formAjaxPost();
        }
    });
});
</script>
<?=BarView::renderBar('functionalities');?>
<h1 class="center">Roles de Usuario</h1>
<div class="clear"></div>
<div class="right">
<?php
//if(PageControl::canAdd()){
    ?>
    <a href="<?=WEB_ROOT.URI::toPage();?>create" class="linkAdd simpleDialog">Agregar Rol de Usuario</a>
    <?php
//}
?>   
</div>
<table class="tList" align="center" width="100%">
    <thead>
        <tr>
            <th width="25">Nº</th>
            <th width="150">Nombre</th>
            <th width="150">Código</th>
            <th>Descripción</th>
            <th width="60">Eliminar</th>
        </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    $toDeleteLink = WEB_ROOT.URI::toPage().'edit/';
    foreach($rols as $rol){
        $i++;
        $pk = $rol->getId();
        ?>
        <tr valign="top" class="<?=($i%2==0)? 'odd': 'even';?>">
            <td class="center"><?=$i;?></td>
            <td class="left"><?=$rol->getName();?></td>
            <td class="left"><?=$rol->getCode();?></td>
            <td class="left"><?=$rol->getDescription();?></td>
            <td align="center">
                <a href="<?=$toDeleteLink.$pk;?>" title="Eliminar" class="imgHand vtip">
                    <img src="<?=ICO_16;?>delete.png" alt="Eliminar" title="Eliminar" class="imgHand vtip delete" />
                </a>
            </td>
        </tr>
        <?php
    }
    if(sizeof($rols)==0){
    ?>
    <tr>
        <td colspan="6" class="center">* No se encontraron Roles de Usuario *</td>
    </tr>
    <?php
    }
    ?>
    </tbody>
</table>
<div id="panel"></div>