<div id="panelAdd" title="Agregar Modulo">
<form action="" method="post">
    <table class="formTable">
        <tr>
            <td>URI:</td>
            <td><input type="text" id="uri" name="uri" value="" size="25" maxlength="25" autocomplete="off" /></td>
        </tr>
        <tr>
            <td>Nombre:</td>
            <td><input type="text" id="name" name="name" value="" size="25" maxlength="25" autocomplete="off" /></td>
        </tr>
        <tr>
            <td>Acceso:</td>
            <td>
                <select id="access" name="access">
                    <option value="">Seleccionar...</option>
                <?php
                foreach(PageConfigs::enumAccess('es') as $kAccess => $vAccess){
                    ?>
                    <option value="<?=$kAccess;?>"><?=$vAccess;?></option>
                    <?php
                }
                ?>
                </select>
            </td>
        </tr>
        <tr>
            <td>Descripcion:</td>
            <td><textarea id="description" name="description"></textarea></td>
        </tr>
        <tr>
            <td>Módulo padre:</td>
            <td>
                <select id="main" name="main">
                    <option value="">--Raiz--</option>
                    <?php
                    foreach($modulos as $rol){
                    ?>
                    <option value="<?=$rol->URI();?>"><?=$rol->getName()?></option>
                    <?php
                    }
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <td class="buttons" colspan="2">
                <button type="submit" id="submit" name="submit">Aceptar</button>&nbsp;
                <button type="button" id="cancel" name="cancel">Cancelar</button>
            </td>
        </tr>
    </table>
    <input type="hidden" id="action" name="action" value="add" />
</form>
</div>