<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Listado de Módulos
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php
                        if(PageControl::canCreate()){
                        ?>
                            <a href="<?=URI::toPage().'create';?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-plus"></i> Agregar Módulo</a>
                        <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tableModule" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nombre</th>
                        <th>U.R.I.</th>
                        <th>Acceso</th>
                        <th>Descripción</th>
                        <th>Controladores</th>
                        <?php if(PageControl::canUpdate()){ ?>
                            <th width="10%">Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <th width="10%">Eliminar</th>
                        <?php } ?>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nº</th>
                        <th>Nombre</th>
                        <th>U.R.I.</th>
                        <th>Acceso</th>
                        <th>Descripción</th>
                        <th>Controladores</th>
                        <?php if(PageControl::canUpdate()){ ?>
                            <th>Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <th>Eliminar</th>
                        <?php } ?>
                    </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toURIsLink = URI::toModule().'uri/module/';
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($modules as $module){
                    $i++;
                    $pk = $module->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="center"><?=$i;?></td>
                        <td class="left"><?=$module->getName();?></td>
                        <td class="left"><?=$module->getUri();?></td>
                        <td class="left"><?=PageConfigs::label($module->getAccess(), 'es');?></td>
                        <td class="left"><?=$module->getDescription();?></td>
                        <td class="text-right">
                            <a href="<?=$toURIsLink.$pk;?>"><i class="fa fa-link"></i> <?=$module->countChoUris();?> URIs</a>
                        </td>
                        <?php
                        if(PageControl::canUpdate()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-circle btn-sm btn-success" data-toggle="modal" data-target="#ajax-modal">
                                    <i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger" onclick="return confirm('¿Esta seguro de eliminar este registro?')">
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                    <?php
                }
                if(sizeof($modules)==0) {
                    ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron Módulos Registrados *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- page script -->
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $(".dataTable").dataTable();
});
</script>