<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Editar Módulo
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="update" />
                <input type="hidden" id="id" name="id" value="<?=$module->getId();?>" />
                <?php include('form.phtml'); ?>
                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    //$("#simplePanel form").validationEngine();
    $('.ajaxPost').formAjaxPost();
});
</script>
