<?php
/*
<div class="form-group">
    <label class="control-label" for="description">Modulo padre</label>
    <div class="value">
        <select id="main" name="main">
            <option value="">--Raiz--</option>
            <?php
            foreach($modulos as $module){
            ?>
            <option value="<?=$module->URI();?>"><?=$module->getName()?></option>
            <?php
            }
            ?>
        </select>
    </div>
</div>
*/
?>
<div class="form-group">
    <label class="control-label" for="uri">URI</label>
    <div class="value">
        <input type="text" id="uri" name="uri" value="<?=$module? $module->getUri(): '';?>" size="30" maxlength="30" class="form-control" placeholder="URI..." autocomplete="off" />
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="name">Nombre</label>
    <input type="text" id="name" name="name" value="<?=$module? $module->getName(): '';?>" size="30" maxlength="30" class="form-control" placeholder="Nombre..." autocomplete="off" class="validate[required]" />
</div>

<div class="form-group">
    <label class="control-label" for="access">Acceso</label>
    <div class="value">
        <select id="access" name="access" class="form-control">
            <option value="">Seleccionar...</option>
            <?php
            foreach(PageConfigs::enumAccess('es') as $kAccess => $vAccess){
                $sel = $module? ($kAccess==$module->getAccess()? 'selected': ''): '';
                ?>
                <option value="<?=$kAccess;?>" <?=$sel;?>><?=$vAccess;?></option>
            <?php
            }
            ?>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="description">Descripción</label>
    <textarea id="description" name="description" cols="30" rows="2" class="form-control" placeholder="Descripción..."><?=$module? $module->getDescription(): '';?></textarea>
</div>