<script type="text/javascript" src="<?=JQUERY_WEB;?>jquery.simpleDialog.js"></script>
<script type="text/javascript" src="<?=JQUERY_WEB;?>jquery.formAjaxPost.js"></script>
<script type="text/javascript">
$().ready(function(){
    $('.simpleDialog').simpleDialog({
        onComplete: function(result, link){
            $("#panel form").formAjaxPost();
        }
    });
});
</script>
<?=BarView::renderBar('functionalities');?>
<h1 class="center">Módulos del Sistema</h1>
<div class="clear"></div>
<div class="right">
<?php
//if(PageControl::canAdd()){
    ?>
    <a href="<?=WEB_ROOT.URI::toPage();?>create" class="linkAdd simpleDialog">Agregar Módulo</a>
    <?php
//}
?>   
</div>
<table class="tList" align="center" width="100%">
    <thead>
        <tr>
            <th width="25">Nº</th>
            <th width="150">Nombre</th>
            <th width="150">U.R.I.</th>
            <th width="80">Acceso</th>
            <th>Descripción</th>
            <th width="150">
                Modulo Principal
                <br />
                Controladores
            </th>
            <th width="90">Ver Detalles</th>
        </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    $toModuleDetailsLink = URI::toModule().'uri/module/';
    foreach($modules as $rol){
        $i++;
        $pk = $rol->getId();
        ?>
        <tr valign="top" class="<?=($i%2==0)? 'odd': 'even';?>">
            <td class="center"><?=$i;?></td>
            <td class="left"><?=$rol->getName();?></td>
            <td class="left"><?=$rol->getUri();?></td>
            <td class="left"><?=PageConfigs::label($rol->getAccess(), 'es');?></td>
            <td class="left"><?=$rol->getDescription();?></td>
            <td class="left">
                -----
                <?//=$modulo->module()? $modulo->module()->getName(): '-----';?>
                <br />
                <?=$rol->countChoUris();?> controladores
            </td>
            <td align="center">
                <a href="<?=$toModuleDetailsLink.$pk;?>" title="<?//=sizeof($modulo->components());?> dependencias" class="imgHand vtip">
                    <img src="<?=ICO_16;?>forward.png" alt="<?//=sizeof($modulo->components());?> dependencias" title="<?//=sizeof($modulo->components());?> dependencias" class="imgHand vtip" />
                </a>
            </td>
            <?php
            /*
            <td <?=$__AG->fieldTag('name', $pk);?>>
                <?=$__AG->toDiv($modulo->getName());?>
            </td>
            <td><?=$modulo->URI();?></td>
            <td <?=$__AG->comboTag('access', $pk);?>>
                <?=$__AG->toDiv($modulo->getAccess());?>
            </td>
            <td <?=$__AG->textareaTag('description', $pk);?>>
                <?=$__AG->toDiv($modulo->getDescription());?>
            </td>
            <td <?=$__AG->comboTag('main', $pk);?> align="center">
                <?=$__AG->toDiv(is_object($modulo->module())? $modulo->module()->getName(): '-----');?>
            </td>
            <td align="center">
                <a href="<?=$toModuleDetailsLink.$pk.'/detalles';?>" title="<?=sizeof($modulo->components());?> dependencias" class="imgHand vtip">
                    <img src="<?=ICO_32;?>forward.png" alt="<?=sizeof($modulo->components());?> dependencias" title="<?=sizeof($modulo->components());?> dependencias" class="imgHand vtip" />
                </a>
            </td>
             */
            ?>
        </tr>
        <?php
    }
    if(sizeof($uris)==0){
    ?>
    <tr>
        <td colspan="7" class="center">* No se encontraron Módulos del Sistema *</td>
    </tr>
    <?php
    }
    ?>
    </tbody>
</table>
<div id="panel"></div>
<?php
if(PageControl::canAdd()){
    include_once('addForm.phtml');
}
?>