<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Agregar Producto
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>

    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">

            <input type="hidden" id="idAacquisitionProduct" name="controller" value="<?=$productItem->getId();?>" />
            <input type="hidden" id="controller" name="controller" value="productItem" />
            <input type="hidden" id="action" name="action" value="save" />
            <input type="hidden" id="productItemId" name="productItemId" value="" />

            <div class="form-body">


                <div class="form-group">
                    <label class="control-label" for="price">Precio</label>
                    <input type="text" id="price" name="price" value="" size="30" maxlength="30"
                           class="form-control" placeholder="Precio..." autocomplete="off" class="validate[required]" >
                </div>

                <div class="form-group">
                    <label class="control-label" for="cost">Costo</label>
                    <input type="text" id="cost" name="cost" value="" size="30" maxlength="30"
                           class="form-control" placeholder="Costo..." autocomplete="off" class="validate[required]" />
                </div>



                <div class="form-group">
                    <label class="name" for="name">Tipo de Moneda</label>
                    <select name="money">
                        <option value="Bolivianos" selected>Bolivianos
                        <option value="Dolares">Dólares
                    </select>

                </div>

                <div class="form-group">
                    <label class="name" for="color">Color</label>
                    <input type="text" id="color" name="color" value="" size="30" maxlength="30" class="form-control" placeholder="Color..." autocomplete="off" class="validate[required]" />
                </div>

                <div class="form-group">
                    <label class="name" for="model">Modelo</label>
                    <input type="text" id="model" name="model" value="" size="30" maxlength="30" class="form-control" placeholder="Modelo..." autocomplete="off" class="validate[required]" />
                </div>

                <div class="form-group">
                    <label class="name" for="warrantySell">Tiempo de garantía(meses)</label>
                    <input type="text" id="warrantySell" name="warrantySell" value="" size="30" maxlength="30" class="form-control" placeholder="Tiempo de garantía..." autocomplete="off" class="validate[required]" />
                </div>


                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue" id="submit" name="submit">Aceptar</button>
                </div>

            </div>
        </form>
    </div>
</div>

<!--                <div class="box-footer text-right">-->
<!--                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Aceptar</button>-->
<!--                </div>-->
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost();
});
</script>