     <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        Subcategorías de <?=$category->getName();?>
                    </h3>
                    <div class="box-tools">
                        <?php
                        if(PageControl::canCreate()){
                            ?>
                            <a href="<?=URI::toModule().'category/create/'.$category->getId();?>" class="pull-right pointer loadContent" rel="createData"><i class="fa fa-fw fa-plus-circle"></i>Agregar Categoría</a>
                        <?php
                        }
                        ?>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Detalle</th>
                            <th>Descripción</th>
                            <th>Detalles</th>
                            <?php
                            if(PageControl::canUpdate()){
                                ?>
                                <th>Editar</th>
                            <?php
                            }
                            if(PageControl::canDelete()){
                                ?>
                                <th>Eliminar</th>
                            <?php
                            }
                            ?>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        $i = 0;
//                        $toProductsLink = URI::toModule().'product/category/';
//                        $toProductsLink = URI::toModule().'product/dataList/';
                        $toProductsLink = URI::toModule().'product/dataList/';
//                        $toProductsLink = URI::toPage().'index/';
                        //$toShowLink = URI::toPage().'show/';
                        $toEditLink = URI::toPage().'edit/';
                        $toDeleteLink = URI::toPage().'delete/';

                        foreach($category->subcategories() as $category){
                            $i++;
                            $pk = $category->getId();
                            ?>
                            <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                                <td class="center"><?=$i;?>
                                </td>
                                <td class="left">
                                    <?=$category->getName();?>
                                    <br/><span class="italic small"><strong>Codigo: </strong><?=$category->getCode();?></span>
                                </td>
                                <td class="left"><?=$category->getDescription();?></td>
                                <td class="text-center">
                                    <a href="<?=$toProductsLink.$pk;?>" title="Ver detalles" class="imgHand vtip">
                                        <img src="<?=ICO_16;?>view_details.png" alt="View" title="Detalles" class="imgHand vtip" />
                                    </a>
                                </td>
                                <?php
                                if(PageControl::canUpdate()){
                                    ?>
                                    <td class="text-center">
                                        <a href="<?=$toEditLink.$pk;?>" title="Editar" class="imgHand vtip loadContent">
                                            <i class="fa fa-fw fa-edit"></i>
                                        </a>
                                    </td>
                                <?php
                                }
                                if(PageControl::canDelete()){
                                    ?>
                                    <td class="text-center">
                                        <a href="<?=$toDeleteLink.$pk;?>" title="Eliminar" class="imgHand vtip">
                                            <i class="fa fa-fw fa-minus-circle"></i>
                                        </a>
                                    </td>
                                <?php
                                }
                                ?>
                            </tr>
                        <?php
                        }
                        if(sizeof($category->subcategories())==0){
                            ?>
                            <tr>
                                <td class="text-center" colspan="6">* No se encontraron Categorías registradas *</td>
                            </tr>
                        <?php
                        }
                        ?>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
});
</script>