<div id="bodyWork">
    <section class="content-header">
        <h1>
            Productos
            <small>Sub categoria: <?=$category->getName();?></small>
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Catálogo</a></li>
            <li class="active"><a href="<?=URI::toModule().'category/dataList';?>" class="loadContent" rel="category">Categorias</a></li>
        </ol>
    </section>
    <section id="mainContent" class="content">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>
                    Listado de Productos de Categoría: <?=$category->getName();?>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <?php
                                if(PageControl::canCreate()){
                                ?>
                                    <a href="<?=URI::toPage().'create/'.$category->getId();?>" class="btn btn-sm btn-circle green"
                                       rel="createData" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-fw fa-plus-circle"></i>Agregar Producto</a>
                                <?php
                                }
                                ?>
                                <a href="<?=URI::toPage().'pdfReport/'.$category->getId();?>" class="btn btn-sm btn-circle blue-dark" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tableProducts" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Modelo</th>
                            <th>Precio Base</th>
                            <th>Imagen</th>
<!--                            <th>Stock</th>-->
                            <th width="30%">Acciones</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nº</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Modelo</th>
                            <th>Precio Base</th>
                            <th>Imagen</th>
<!--                            <th>Stock</th>-->
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <?php
                        $i = 0;
                        $toShow = URI:: toPage().'show/';
                        $toEditLink = URI::toPage().'edit/';
                        $toDeleteLink = URI::toPage().'delete/';
                        foreach($products as $product){
                        $i++;
                        $pk = $product->getId();
                        ?>
                        <tr>
                            <td><?= $i; ?></td>
                            <td><?= $product->getCode(); ?></td>
                            <td><?= $product->getName(); ?></td>
                            <td><?= $product->getDescription(); ?></td>
                            <td><?= $product->getModel(); ?></td>
                            <td class="text-right"><?= number_format($product->getBasePrice(), 2); ?> Bs</td>
                            <td align="center">
                                <img src="<?=ICO_16;?>flag_<?= $product->hasMainImage()? 'On': 'Off'; ?>.png" alt="" />
                            </td>
<!--                            <td>
                                <?/*= $product->numberOfItems(); */?> Items
                            </td>
-->
                            <td align="center">
                                <a href="<?= $toShow . $pk; ?>" class="btn btn-circle btn-sm purple"
                                   title="Ver detalles">
                                    <i class="fa fa-fw fa-folder-open-o"></i> Detalles
                                </a>
                                <?php
                                if(PageControl::canUpdate()) {
                                ?>
                                    <a href="<?= $toEditLink . $pk; ?>" class="btn btn-sm btn-circle blue"
                                       data-toggle="modal"
                                       data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                                    </a>
                                <?php
                                }
                                if(PageControl::canDelete()){
                                ?>
                                    <a href="<?= $toDeleteLink . $pk; ?>" class="btn btn-circle btn-sm btn-danger"
                                       data-toggle="modal"
                                       onclick="return confirm('¿Esta seguro de querer eliminar este registro?');">
                                        <i class="fa fa-fw fa-times"></i> Eliminar
                                    </a>
                                <?php
                                }
                                ?>
                                </td>
                            </tr>
                        <?php
                        }
                        if(sizeof($products)==0){
                            ?>
                            <tr>
                                <td colspan="10" class="text-center">* No se encontraron Productos en esta categoría*</td>
                            </tr>
                        <?php
                        }
                        ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $().ready(function(){
        $('.loadContent').loadContent();
        $('#tableProducts').dataTable();
    });
</script>