<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            Listado de Productos de Categoría: <?=$category->getName();?>
        </h3>
        <div class="box-tools">
            <?php
            //if(PageControl::canAdd()){
            ?>
            <a href="<?=URI::toPage().'create/'.$category->getId();?>" class="pull-right pointer loadContent" rel="createData"><i class="fa fa-fw fa-plus-circle"></i>Agregar Producto</a>
            <?php
            //}
            ?>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table id="example1" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Nº</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Modelo</th>
                <th>Nro de partes</th>
                <th>Stock</th>
                <th>Detalles</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <?php
            $i = 0;
            $toShow = URI:: toPage().'show/';
            //$toEditLink = URI::toPage().'edit/';
            //$toDeleteLink = URI::toPage().'delete/';
            foreach($products as $product){
                $i++;
                $pk = $product->getId();
                ?>-
                <tr>
                    <td><?=$i;?></td>
                    <td><?=$product->getCode();?></td>
                    <td><?=$product->getName();?></td>
                    <td><?=$product->getDescription();?></td>
                    <td><?=$product->getModel();?></td>
                    <td><?=$product->getNumberParts();?></td>
                    <td>
                        <?=$product->countSelProductItems();?>
                    </td>
                    <td aling="center">
                        <a href="<?=$toShow.$pk;?>" class="btn btn-circle btn-sm purple loadContent" title="Ver detalles">
                            <i class="fa fa-fw fa-folder-open-o"></i> Detalles
                        </a>
                    </td>
                    <td align="center">
                        <a href="<?=URI::toPage().'edit/'.$pk;?>" class="loadContent" rel="<?='edit'.$pk;?>">
                            <img src="<?=ICO_16;?>edit.png" alt="Editar" title="Editar" class="imgHand vtip" />
                        </a>
                    </td>
                    <td align="center">
                        <a href="<?=URI::toPage().'delete/'.$pk;?>" class="loadContent" onclick="return confirm('¿Está seguro que desea eliminar este registro?');">
                            <img src="<?=ICO_16;?>delete.png" alt="Delete" title="Eliminar" class="imgHand vtip" />
                        </a>
                    </td>

                    <?php

                    ?>
                </tr>
            <?php
            }
            if(sizeof($products)==0){
                ?>
                <tr>
                    <td colspan="8" class="text-center">* No se encontraron Productos en esta categoría*</td>
                </tr>
            <?php
            }
            ?>
            </tbody>
        </table>
    </div>
    <div class="box-footer">

    </div>
</div>