<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Editar Producto
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <input type="hidden" id="controller" name="controller" value="product" />
            <input type="hidden" id="action" name="action" value="update" />
            <input type="hidden" id="id" name="id" value="<?=$product->getId();?>" />

            <div class="form-body">

                <?php include_once('form.phtml');?>


                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue" id="submit" name="submit">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>