<div class="form-group">
    <label class="control-label" for="productGroupId">Grupo</label>
    <select name="productGroupId" id="productGroupId" class="form-control">
        <?php
        foreach($productGroups as $productGroup){
            $sel = $product && $productGroup->getId()==$product->getProductGroupId()? 'selected="yes"': '';
            ?>
            <option value="<?= $productGroup->getId();?>" <?=$sel;?>><?= $productGroup->getName();?></option>
            <?php
        }
        ?>
    </select>
</div>

<div class="form-group">
    <label class="control-label" for="brandId">Marca</label>
    <select name="brandId" id="brandId" class="form-control">
        <?php
        foreach($brands as $brand){
            $sel = $product && $brand->getId()==$product->getBrandId()? 'selected="yes"': '';
            ?>
            <option value="<?= $brand->getId();?>" <?=$sel;?>><?= $brand->getName();?></option>
            <?php
        }
        ?>
    </select>
</div>

<div class="form-group">
    <label class="control-label" for="code">Código</label>
    <input type="text" id="code" name="code" size="30" maxlength="30" value="<?=$product? $product->getCode(): '';?>"
           class="form-control" placeholder="Código..." autocomplete="off" class="validate[required]"/>
</div>

<div class="form-group">
    <label class="control-label" for="name">Nombre</label>
    <input type="text" id="name" name="name" size="30" maxlength="30" class="form-control"
           placeholder="Nombre..." autocomplete="off" class="validate[required]" value="<?=$product? $product->getName(): '';?>"/>
</div>

<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <label class="control-label" for="model">Modelo</label>
        <input type="text" id="name" name="model" size="30" maxlength="30" class="form-control"
               placeholder="Modelo..." autocomplete="off" class="validate[required]" value="<?=$product? $product->getModel(): '';?>"/>
    </div>
</div>

<div class="col-sm-6">
    <div class="form-group">
        <label class="control-label" for="basePrice">Precio de Comercialización</label>
        <div class="input-group">
            <div class="col-sm-10">
                <input type="text" id="basePrice" name="basePrice" size="30" maxlength="30" class="form-control text-right"
                       placeholder="0.0" autocomplete="off" value="<?=number_format($product? $product->getBasePrice(): 0.0, 2);?>"/>
            </div>
            Bs.
        </div>
    </div>
</div>
</div>

<div class="form-group">
    <label class="control-label" for="description">Descripción</label>
                    <textarea name="description" id="description" cols="30" rows="2" class="form-control"
                              placeholder="Descripción..."><?=$product? $product->getDescription(): '';?></textarea>
</div>