<h1>Productos</h1>
<h2>Subcategoría: <?=$category->getName();?></h2>
<table cellpadding="2" cellspacing="0" border="1" width="100%" style="text-align:center; width: 100%;">
    <thead>
    <tr>
        <th width="5%" style="font-weight: bold;">N°</th>
        <th width="10%" style="font-weight: bold;">Código</th>
        <th width="25%" style="font-weight: bold;">Nombre</th>
        <th width="25%" style="font-weight: bold;">Descripción</th>
        <th width="20%" style="font-weight: bold;">Modelo</th>
        <th width="15%" style="font-weight: bold;">Precio Base</th>
    </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    foreach($products as $product){
        $i++;
        $pk = $product->getId();
        ?>
        <tr class="<?=($i%2==0)? 'odd': 'even';?>">
            <td width="5%" style="text-align: center;"><?=$i;?></td>
            <td width="10%" style="text-align: left;"><?=$product->getCode();?></td>
            <td width="25%" style="text-align: left;"><?=$product->getName();?></td>
            <td width="25%" style="text-align: left;"><?=$product->getDescription();?></td>
            <td width="20%" style="text-align: left;"><?=$product->getModel();?></td>
            <td width="15%" style="text-align: right;"><?=number_format($product->getBasePrice(), 2);?> Bs.</td>
        </tr>
        <?php
    }
    if(sizeof($products)==0){
        ?>
        <tr>
            <td class="text-center" colspan="6">* No se encontraron registros *</td>
        </tr>
        <?php
    }
    ?>
    </tbody>
</table>