<section class="content-header">
    <h1>Producto</h1>
    <ol id="mainBreadcrumb" class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Catálogo</a></li>
        <li class="active"><a href="<?=URI::toId();?>" class="loadContent" rel="dataList">Detalles de Producto</a></li>
    </ol>
</section>

<section id="mainContent" class="content">

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Detalles de Producto
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
            </div>
        </div>

        <div class="portlet-body">
            <div class="table-toolbar">

                <div class="row">
                    <div class="col-md-6">

                        <div class="text-right">
                            <a href="<?= URI::toPage().'edit/'. $product->getId(); ?>" class="btn btn-sm btn-circle blue"
                               data-toggle="modal"
                               data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                            </a>
                        </div>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width:35%">Código:</th>
                                    <td><?=$product->getCode();?></td>
                                </tr>
                                <tr>
                                    <th>Nombre:</th>
                                    <td><?=$product->getName();?></td>
                                </tr>
                                <tr>
                                    <th>Modelo:</th>
                                    <td><?=$product->getModel();?></td>
                                </tr>
                                <tr>
                                    <th>Precio Comercialización:</th>
                                    <td><?=number_format($product->getBasePrice(), 2);?> Bs.</td>
                                </tr>
                                <tr>
                                    <th>Descripción:</th>
                                    <td><?=$product->getDescription();?></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 text-center">
                        <?php
                        if(is_object($product->mainImage())){
                        ?>
                            <img src="<?=IMG_WEB.$product->mainImage()->imageLocation(SelProductImage::SMALL_SIZE).'?t='.time();?>"
                                 alt="<?=$product->mainImage()->getTitle();?>" title="<?=$product->mainImage()->getDescription();?>" />
                            <br />
                            <small><?=$product->mainImage()->getTitle();?></small>
                        <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Imagenes de Producto
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
            </div>
        </div>

        <div class="portlet-body">

            <div class="btn-group">
                <?php
                if(PageControl::canCreate()){
                ?>
                    <a href="<?=URI::toModule().'productImage/addImage/'.$product->getId();?>" class="btn btn-sm btn-circle green"
                       data-toggle="modal" data-target="#ajax-modal" rel="createData"><i class="fa fa-plus-circle"></i> Agregar Imagen</a>
                <?php
                }
                ?>
            </div>

            <table id="example1" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th width="5%">Principal</th>
                        <th>Imagen</th>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    $i = 0;
                    $toMakeMainLink = URI::toModule().'productImage/makeMain/';
                    $toEditLink = URI::toModule().'productImage/edit/';
                    $toDeleteLink = URI::toModule().'productImage/delete/';
                    foreach($product->images() as $productImage){
                        $pk = $productImage->getId();
                        $isMainImage = is_object($product->mainImage()) && $product->mainImage()->getId() == $productImage->getId();
                        $i++;
                    ?>
                    <tr>
                        <td><?= $i; ?></td>
                        <td class="text-center">
                        <?php
                        if($isMainImage){
                        ?>
                            <i class="fa fa-star" title="Imagen Principal" style="color: #E8E843; font-size: 2em;"></i>
                        <?php
                        }else{
                        ?>
                            <a href="<?=$toMakeMainLink.$pk;?>" title="Convertir en Principal"
                               onclick="return confirm('¿Desea convertir la imagen seleccionada en principal?');">
                                <i class="fa fa-star-o" style="color: #E8E843; font-size: 2em;"></i></a>
                        <?php
                        }
                        ?>
                        </td>
                        <td>
                            <img src="<?=IMG_WEB.$productImage->imageLocation(SelProductImage::SMALL_SIZE).'?t='.time();?>" alt="<?=$productImage->getTitle();?>" style="max-width: 200px;" />
                        </td>
                        <td><?=$productImage->getTitle();?></td>
                        <td><?=$productImage->getDescription();?></td>
                        <?php
                        if(PageControl::canUpdate()){
                        ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal"
                                   data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger" onclick="return confirm('¿Está seguro de eliminar esta imagen?');">
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>

        </div>
    </div>


    <!--
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Items de Producto
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="reload"></a>
            </div>
        </div>

        <div class="portlet-body">

            <div class="btn-group">
                <?php
    if(PageControl::canCreate()){
        ?>
                    <a href="<?=URI::toModule().'productItem/create/'.$product->getId();?>" class="btn btn-sm btn-circle green"
                       data-toggle="modal" data-target="#ajax-modal" rel="createData"><i class="fa fa-plus-circle"></i> Agregar Item</a>
                <?php
    }
    ?>
            </div>

            <table id="example1" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Precio</th>
                    <th>Costo</th>
                    <th>Color</th>
                    <th>Garantía de venta</th>
                    <th>Garantía del proveedor</th>
                    <th>Tipo de moneda</th>
                    <th>Vista</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <?php
    $i = 0;
    $toShow = URI:: toPage().'show/';
    foreach($items as $item){
        $i++;
        $pk = $item->getId();
        ?>
                    <tr>
                        <td><?=$i;?></td>
                        <td><?=$item->getPrice();?></td>
                        <td><?=$item->getCost();?></td>
                        <td><?=$item->getColor();?></td>
                        <td><?=$item->getWarrantySell();?></td>
                        <td><?=$item->getSelProductAcquisition()->getSelAcquisition()->getWarrantyProvider();?></td>
                        <td><?=$item->getSelProductAcquisition()->getMoney();?></td>
                        <form action="subir" method="POST" enctype="multipart/form-data">
                            <label for="imagen">Imagen:</label>
                            <input type="file" name="imagen" id="imagen" />
                            <input type="submit" name="subir" value="Subir"/>
                        </form>
                        <td align="center">
                            <a href="<?=URI::toPage().'edit/'.$pk;?>" class="loadContent">
                                <img src="<?=ICO_16;?>edit.png" alt="Editar" title="Editar" class="imgHand vtip" />
                            </a>
                        </td>
                        <td align="center">
                            <a href="<?=URI::toPage().'delete/'.$pk;?>" class="loadContent">
                                <img src="<?=ICO_16;?>delete.png" alt="Delete" title="Eliminar" class="imgHand vtip" />
                            </a>
                        </td>

                        <?php

        ?>
                    </tr>
                    <?php
    }
    if(sizeof($items)==0){
        ?>
                    <tr>
                        <td colspan="10" class="text-center">* No se encontraron Items en este producto*</td>
                    </tr>
                    <?php
    }
    ?>
                </tbody>
            </table>

        </div>
    </div>


    -->

</section>