<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Venta
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" data-dismiss="modal" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <?php
        if(is_object($sale)){
        ?>
            <div class="form-body">

                <div class="form-group">
                    <label class="control-label" for="code">Item</label>
                    <input type="hidden" name="productId" id="productId" value="" size="5" />
                    <input type="text" name="productName" size="50" id="productName" value=""
                           maxlength="100" placeholder="Producto..." style="text-transform: uppercase" />
                    <input type="text" name="cantidad" size="5" id="cantidad" value="0"
                           maxlength="3" class="text-right" />
                    <button type="button" class="btn default" id="btnSaveProductSale">
                        <img src="<?= ICO_16; ?>save.png" alt="View" title="Detalles" class="imgHand vtip"/>
                    </button>
                </div>

            </div>

            <div id="divProductSales"></div>

                <div class="form-body">
                    <h4>Datos de Comprador</h4>
                    <div class="form-group">
                        <label class="control-label" for="providerId">Cliente</label>
                        <input type="hidden" name="customerId" id="customerId" value=""/>
                        <input type="text" id="customerName" name="customerName" size="50"
                               maxlength="100" style="text-transform: uppercase" placeholder="Cliente..." />
                        <a href="<?=URI::toModule().'customer/';?>" target="_blank">+ Registrar Cliente</a>
                    </div>
                </div>

                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue" id="submit" name="submit" onclick="saveSale()">Aceptar</button>
                </div>
            <form action="<?=URI::toPage().'saveSale';?>">
            </form>
        <?php
        } else {
        ?>
        
        <?php
        }
        ?>
    </div>
</div>
<style type="text/css">
    .ui-autocomplete {
        z-index: 50000;
    }
    .input-blue{
        color: blue;
    }
    .input-red{
        color: red;
    }
</style>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    productAutoComplete();
    loadProductSales();
    $('#btnSaveProductSale').click(function(){
        saveProductSale();
    });
    customerAuntoComplete();
});
    function loadProductSales(){
        var div = $('#divProductSales');
        $.ajax({
            url: "<?=URI::toPage().'tableSale';?>",
            type: "get",
            dataType: 'html',
            beforeSend: function() {
                div.html('Cargando...');
            },
            success:(function(data){
                div.html(data).slideDown();
            })
        });
    }

    function productAutoComplete(){
        $('#productName').autocomplete({
            minLength:2,
            width:200,
            source:function(request, response){

                $.getJSON("<?=URI::toPage().'searchProduct';?>",{term:request.term}, function(data){
                    response( $.map( data.datos, function( item ) {
                        return{
                            id:item.id,
                            label:item.name+' ('+item.nItem+' items)',
                            value:item.name
                        }
                    }));
                });
            },
            select: function(event, ui){
                $('#productId').val(ui.item? ui.item.id:"");
                if(parseInt(ui.item.value)>0){
                    console.log("este es el bueno");
                }else{
                    console.log("falsa alarma");
                }
                $(this).addClass('input-blue');
            },
            open: function(){
    //                $(this).addClass('input-red');
            },
            close: function(){
            }
        });
    }

    function saveProductSale(){
        var productId = $('#productId').val();
        var cantidad = $('#cantidad').val();
        if(productId == ""){
            alert('Debe seleccionar un producto');
        } else if(parseInt(cantidad) < 1){
            alert('La cantidad mínima a agregar debe ser 1');
        } else {
            $.ajax({
                url: "<?=URI::toPage().'preSaveProductItem/';?>",
                type: 'POST',
                data: ({productId: productId,cantidad: cantidad}),
                dataType: "json",
                success: function(response){
                    if(!response.hasProduct){
                        alert('Debe seleccionar correctamente un producto');
                    }else if(parseInt(response.cantidad) == 0){
                        alert('No se puede agregar este producto a esta venta porque no existe stock del mismo');
                    }else{
                        loadProductSales();
                        $('#productName').val('');
                        $('#productId').val('');
                        $('#cantidad').val('0');
                    }
                }
            });
        }
    }

    function deleteProductSale(pk){
        var cantidad=$('#cantidad');
        $.ajax({
            url: "<?=URI::toPage().'deleteItem';?>",
            type: 'POST',
            data: ({productId: pk}),
            dataType: "json",
            beforeSend: function(){
//                link.html('Cargando...') ;
            },
            success: function(){
                loadProductSales();
            }
        });
    }

    function saveSale(){
        var customerId = $('#customerId').val();
        if (customerId == "") {
            alert("Debe seleccionar/ingresar un cliente válido");
        } else {
            $.ajax({
                url: "<?=URI::toPage().'saveSale';?>",
                type: 'POST',
                data: ({customerId: customerId}),
                dataType: "json",
                success: function(response){
                    if(response.success){
                        location.reload();
                    } else if(!response.hasCustomer){
                        alert("Debe seleccionar/ingresar un cliente válido");
                    } else {
                        if(response.notAvailableProduct){
                            alert("Solo se tienen " + response.notAvailableProduct.quantity +
                            " unidad(es) del producto '" + response.notAvailableProduct.name + "'");
                            loadProductSales();
                        } else {
                            console.log(response.errors);
                        }
                    }
                }
            });
        }
    }

    function customerAuntoComplete(){
        $('#customerName').autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "<?=URI::toPage().'searchCustomer';?>",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function( data ) {
                        response( $.map( data.datos, function( item ) {
                            return{
                                id:item.id,
                                label:item.name,
                                value:item.name
                            }
                        }));
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {
                $('#customerId').val(ui.item? ui.item.id:"");
                $('#customerName').val(ui.item? ui.item.label:"");
                return false;
            }
        });
    }
</script>