<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Ventas
            <small><?=$branch->getName();?></small>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php
                        if(PageControl::canCreate()){
                            ?>
                            <a href="<?=URI::toPage().'createSale';?>" class="btn btn-sm btn-circle green" data-toggle="modal"
                               data-target="#ajax-modal"><i class="fa fa-plus"></i> Nueva venta</a>
                        <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="tableSales" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th width="5%">Nº</th>
                    <th width="10%">Fecha</th>
                    <th>Cliente</th>
                    <th>Productos</th>
                    <th width="10%">Total</th>
                    <?php
                    if(PageControl::canUpdate()){
                    ?>
                        <th width="20%" class="text-center">Acciones</th>
                    <?php
                    }
                    ?>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nº</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Productos</th>
                    <th>Total</th>
                    <?php
                    if(PageControl::canUpdate()){
                    ?>
                        <th class="text-center">Acciones</th>
                    <?php
                    }
                    ?>
                </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toShowLink = URI::toPage().'showSale/';
                //$toShowLink = URI::toPage().'show/';
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';

                /**@var $saleInstance SelSale*/
                foreach($sales as $saleInstance){
                    $i++;
                    $pk = $saleInstance->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="text-center"><?=$saleInstance->getCode();?></td>
                        <td class="text-center" title="Realizada a horas <?=$saleInstance->getDate('H:m');?>"><?=$saleInstance->getDate('d/m/Y');?></td>
                        <td class="text-left"><?=$saleInstance->getSelCustomer()->completeName();?></td>
                        <td class="text-right">
                            <?=$saleInstance->countTotalItems();?> Items vendidos
                            <br />
                            <small>de <?=sizeof($saleInstance->getSelProductSells());?> producto(s)</small>
                        </td>
                        <td class="text-right"><?=number_format($saleInstance->totalPrice(), 2);?> Bs</td>
                        <td class="text-center">
                            <a href="<?=$toShowLink.$pk;?>" class="btn btn-circle btn-sm purple" data-toggle="modal"
                               data-target="#ajax-modal" title="Ver detalles">
                                <i class="fa fa-fw fa-eye"></i> Detalles
                            </a>
                            <?php
                            if(PageControl::canUpdate()){
                                ?>
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal"
                                   data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            <?php
                            }
                            ?>
                        </td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('#tableSales').dataTable();
});
</script>