<div id="bodyWork">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ventas
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Ventas</a></li>
            <li class="active"><a href="<?=URI::toPage();?>dataList" class="loadContent" rel="dataList">Proveedores</a></li>
        </ol>
    </section>

    <section id="mainContent" class="content">

    </section>

</div>
<script type="text/javascript">
var oPage={
    deleteItemSale:function(object){
        $link = $(object);
        $tr = $link.closest('tr').remove();
    }
};
$().ready(function(){
    $('.loadContent').loadContent();
    var breadcrumbs = $("#mainBreadcrumb .loadContent");
    if(breadcrumbs.size()>0){
        breadcrumbs.last().click();
    }
});
</script>