<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Detalle
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" data-dismiss="modal" class="remove"></a>
        </div>
    </div>

    <div class="portlet-body">

        <table class="table">
            <tbody>
                <tr>
                    <th style="width:30%">Cliente:</th>
                    <td>
                        <strong><?=$customer->completeName();?></strong>
                    </td>
                </tr>
                <tr>
                    <th>Fecha de Compra:</th>
                    <td><?=$sale->getDate('d/m/Y');?></td>
                </tr>
                <tr>
                    <th>Monto Total:</th>
                    <td><?=number_format($sale->totalPrice(), 2);?> Bs</td>
                </tr>
                <tr>
                    <th>Observaciones:</th>
                    <td><?=$sale->getObservation()?: '-----';?></td>
                </tr>
            </tbody>
        </table>

        <div class="table-responsive">
            <table id="tableProductSales" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Item</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Precio Total</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th class="text-center">
                            Total de Venta
                        </th>
                        <th colspan="2" class="text-center">
                            <?=$sale->countTotalItems();?> Items
                        </th>
                        <th class="text-right">
                            <?= number_format($sale->totalPrice(), 2);?> Bs
                        </th>
                        <th colspan="4"></th>
                    </tr>
                    <tr>
                        <th>Nº</th>
                        <th>Item</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Precio Total</th>
                    </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toShowLink = URI::toModule().'productAcquisition/dataList/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach ($aProductSells as $productSellInstance) {
                    $i++;
                    $pk = $productSellInstance['IdPorduct'];
                    ?>
                    <tr class="<?= ($i % 2 == 0) ? 'odd' : 'even'; ?>">
                        <td class="center">
                            <?= $i; ?>
                            <input type="hidden" name="idProduct[]" value="<?=$pk;?>"/>
                        </td>
                        <td class="text-left"><?= $productSellInstance['namePorduct']; ?></td>
                        <td class="text-center"><?= $productSellInstance['cantidad']; ?></td>
                        <td class="text-right"><?= number_format($productSellInstance['precio'], 2); ?></td>
                        <td class="text-right"><?= number_format($productSellInstance['precioTotal'], 2); ?></td>
                    </tr>
                <?php
                }
                if(sizeof($aProductSells)==0){
                    ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron Ventas registradas *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
            <div class="form-actions right">
                <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
            </div>
    </div>
</div>
<input type="hidden" id="pkSales" value="<?=$sale->getId();?>"/>
<script type="text/javascript">
    $().ready(function(){
//        loadProductSales();
    });
</script>