<div class="table-responsive">
    <table id="tableProductSales" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th width="5%">Nº</th>
                <th>Item</th>
                <th width="20%">Precio Unitario</th>
                <th width="10%">Cantidad</th>
                <th width="15%">Totel</th>
                <th width="10%">Eliminar</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nº</th>
                <th>Item</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Eliminar</th>
            </tr>
        </tfoot>
        <tbody>
        <?php
        $i = 0;
        $toShowLink = URI::toModule().'productAcquisition/dataList/';
        $toDeleteLink = URI::toPage().'delete/';
        foreach ($aProductSells as $productSellInstance) {
            $i++;
            $pk = $productSellInstance['idPorduct'];
            ?>
            <tr class="<?= ($i % 2 == 0) ? 'odd' : 'even'; ?>">
                <td class="text-center">
                    <?=$i;?>
                    <input type="hidden" name="idProduct[]" value="<?=$pk;?>"/>
                </td>
                <td class="text-left"><?= $productSellInstance['name']; ?></td>
                <td class="text-right"><?= $productSellInstance['price']; ?></td>
                <td class="text-right"><?= $productSellInstance['quantity']; ?></td>
                <td class="text-right"><?= $productSellInstance['totalPrice']; ?></td>
                <?php
                if (PageControl::canDelete()) {
                ?>
                    <td class="text-center">
                        <a href="" class="btn btn-circle btn-sm btn-danger" onclick="deleteProductSale('<?=$pk;?>');return false;">
                            <i class="fa fa-fw fa-trash-o"></i>
                        </a>
                    </td>
                <?php
                }
                ?>
            </tr>
        <?php
        }
        if(sizeof($aProductSells)==0){
            ?>
            <tr>
                <td class="text-center" colspan="6">* No se encontraron productos registrados en esta venta *</td>
            </tr>
        <?php
        }
        ?>
        </tbody>
    </table>
</div>