
<h3 class="page-title">
    <?=$customer->completeName();?> <small> cliente online</small>
</h3>


<div class="row">
    <div class="col-md-12">
        <div class="add-portfolio">
            <span>
            <?=sizeof($orders);?> Ordenes realizadas </span>
        </div>
    </div>
</div>

<?php
foreach($orders as $order){
?>
<div class="row portfolio-block">
    <div class="col-md-5">
        <div class="portfolio-text">
            <img src="<?= IMG_WEB; ?>logo_sales.jpg" alt=""/>

            <div class="portfolio-text-info">
                <h4>Metronic - Responsive Template</h4>

                <p>
                    <?php
                    if ($order->getOrderDate()) {
                    ?>
                        Fecha de Orden: <?=$order->getOrderDate('d/m/Y');?>
                    <?php
                    } else {
                    ?>
                        Fecha de Inicio: <?=$order->getCreacionDate('d/m/Y');?>
                    <?php
                    }
                    ?>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 portfolio-stat">
            <div class="portfolio-info">
                Estado <span>
                                                SOLICITADA</span>
            </div>
            <div class="portfolio-info">
                Total Sold <span>
                                                1789 </span>
            </div>
            <div class="portfolio-info">
                Earns <span>
                                                $37.240 </span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="portfolio-btn">
                <a href="#" class="btn bigicn-only">
                                                <span>
                                                Ver Orden </span>
                </a>
            </div>
        </div>
    </div>
<?php
}
?>
<!--
<div class="row portfolio-block">
    <div class="col-md-5">
        <div class="portfolio-text">
            <img src="<?=IMG_WEB;?>logo_sales.jpg" alt=""/>
            <div class="portfolio-text-info">
                <h4>Metronic - Responsive Template</h4>
                <p>
                    Lorem ipsum dolor sit consectetuer adipiscing elit.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-5 portfolio-stat">
        <div class="portfolio-info">
            Today Sold <span>
											187 </span>
        </div>
        <div class="portfolio-info">
            Total Sold <span>
											1789 </span>
        </div>
        <div class="portfolio-info">
            Earns <span>
											$37.240 </span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="portfolio-btn">
            <a href="#" class="btn bigicn-only">
											<span>
											Manage </span>
            </a>
        </div>
    </div>
</div>
<div class="row portfolio-block">
    <div class="col-md-5 portfolio-text">
        <img src="<?=IMG_WEB;?>logo_sales.jpg" alt=""/>
        <div class="portfolio-text-info">
            <h4>Metronic - Responsive Template</h4>
            <p>
                Lorem ipsum dolor sit consectetuer adipiscing elit.
            </p>
        </div>
    </div>
    <div class="col-md-5 portfolio-stat">
        <div class="portfolio-info">
            Today Sold <span>
											24 </span>
        </div>
        <div class="portfolio-info">
            Total Sold <span>
											975 </span>
        </div>
        <div class="portfolio-info">
            Earns <span>
											$21.700 </span>
        </div>
    </div>
    <div class="col-md-2 portfolio-btn">
        <a href="#" class="btn bigicn-only">
										<span>
										Manage </span>
        </a>
    </div>
</div>
-->