<?php
$_productInCart = SessionOrder::productInCart($product);
$_hasProduct = SessionOrder::hasProduct($product);
$_isInCart = is_array($_productInCart);
$_quantity = $_isInCart? $_productInCart['quantity']: 0;
$_basePrice = $_isInCart? $_productInCart['price']: 1;
?>

<div id="product-page-cart" class="product-page-cart">
    <div class="product-quantity">
        <input id="product-quantity" type="text" value="<?=($_quantity>0? $_quantity: 1);?>" name="product-quantity"
               class="form-control input-sm" />
    </div>
    <button id="addToCart" class="btn btn-primary" type="submit"><?=$_hasProduct? 'Actualizar cantidad': 'Agregar a compra';?></button>
    <?php
    if($_hasProduct) {
        ?>
        <button id="removeToCart" class="btn btn-danger" type="submit">Quitar producto</button>
        <?php
    }
    ?>
</div>
<div class="review">
    <strong><?=$_quantity;?> unidades en compra.</strong>
    <div class="float-right"><strong><em>Bs. <?=number_format($_basePrice*$_quantity, 2);?></em></strong></div>
</div>

<script type="text/javascript">
$().ready(function(){
    $("#addToCart").click(function(){
        var quantity = $("#product-quantity").val()*1;
        if(quantity == 0){
            alert("Debe agregar minimamente 1 item.");
            return false;
        }
        $.ajax(this.href, {
            url: "<?=WEB_ROOT.'main/shopping/addToCart/'.$product->getId();?>",
            type: "POST",
            data: {
                quantity: quantity
            },
            beforeSend: function(){
                $("#productCartDetails").mask("Cargando...");
            },
            success: function(data) {
                $('#productCartDetails').unmask();
                $('#productCartDetails').html(data);
            },
            error: function() {
                $('#product-page-cart').unmask();
                alert("Se produjo un error en la transmisión de datos.");
            }
        });
        return false;
    });
    $("#removeToCart").click(function(){
        var quantity = $("#product-quantity").val()*1;
        if(quantity == 0){
            alert("Debe agregar minimamente 1 item.");
            return false;
        }
        $.ajax(this.href, {
            url: "<?=WEB_ROOT.'main/shopping/removeToCart/'.$product->getId();?>",
            type: "POST",
            data: {
                quantity: quantity
            },
            beforeSend: function(){
                $("#productCartDetails").mask("Cargando...");
            },
            success: function(data) {
                $('#productCartDetails').unmask();
                $('#productCartDetails').html(data);
            },
            error: function() {
                $('#product-page-cart').unmask();
                alert("Se produjo un error en la transmisión de datos.");
            }
        });
        return false;
    });
});
</script>