<!-- BEGIN fast view of a product -->
<div class="product-page product-pop-up">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-3">
            <div class="product-main-image">
                <?php
                if($product->hasMainImage()){
                ?>
                    <img src="<?=IMG_WEB.$product->mainImage()->imageLocation(SelProductImage::LARGE_SIZE).'?t='.time();?>"
                         alt="<?=$product->mainImage()->getTitle();?>" title="<?=$product->mainImage()->getDescription();?>"
                         class="img-responsive main-image" />
                <?php
                } else {
                ?>
                    <img src="<?=IMG_WEB;?>no-image.jpg" alt="Imagen no disponible"
                         class="img-responsive" />
                <?php
                }
                ?>
            </div>
            <div class="product-other-images">
                <?php
                foreach($product->images() as $productImage){
                ?>
                    <a href="#">
                        <img src="<?=IMG_WEB.$productImage->imageLocation(SelProductImage::SMALL_SIZE).'?t='.time();?>"
                             large-src="<?=IMG_WEB.$productImage->imageLocation(SelProductImage::LARGE_SIZE).'?t='.time();?>"
                             alt="<?=$productImage->getTitle();?>" title="<?=$productImage->getDescription();?>" />
                    </a>
                <?php
                }
                ?>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-9">
            <h2><?=$product->getName();?></h2>

            <div class="price-availability-block clearfix">
                <div class="price">
                    <strong><span>Bs.</span> <?=number_format($product->getBasePrice(), 2);?></strong>
                </div>
                <div class="availability">
                    Disponibilidad: <strong>En Stock</strong>
                </div>
            </div>
            <div class="description">
                <p><?=$product->getDescription();?></p>
            </div>

            <br />

            <div id="productCartDetails" class="row">
                <?php require_once("product_cart.phtml");?>
            </div>

        </div>
    </div>
</div>
<!-- END fast view of a product -->
<script type="text/javascript">
$().ready(function(){
    $(".product-other-images img").click(function(){
        var src = $(this).attr("large-src")
        $(".main-image").attr("src", src);
        return false;
    });
});
</script>