<div class="content">
    <h1><strong>Búsqueda de Productos</strong> : "<?=$term;?>"</h1>
</div>

<div class="row product-list">

    <div class="product-gallery-wrapper">
        <?php
        foreach($products as $product) {
            $mainImage = $product->mainImage();
        ?>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
                <div class="pi-img-wrapper">
                    <?php
                    if($product->hasMainImage()){
                    ?>
                        <span class="img-div">
                            <img src="<?=IMG_WEB.$product->mainImage()->imageLocation(SelProductImage::SMALL_SIZE).'?t='.time();?>"
                                 alt="<?=$product->mainImage()->getTitle();?>" title="<?=$product->mainImage()->getDescription();?>"
                                 class="img-responsive" />
                        </span>
                        <br />
                        <small><?=$product->mainImage()->getTitle();?></small>
                        <div>
                            <a href="<?=IMG_WEB.$product->mainImage()->imageLocation(SelProductImage::LARGE_SIZE).'?t='.time();?>"
                               class="btn btn-default fancybox-button">Ampliar</a>
                            <a href="<?=URI::toPage().'product_details/'.$product->getId();?>" class="btn btn-default fancybox-ajax">Ver</a>
                        </div>
                    <?php
                    }else{
                    ?>
                        <span class="img-div">
                            <img src="<?=IMG_WEB;?>no-image.jpg" alt="Imagen no encontrada"
                                 class="img-responsive" />
                        </span>
                        <br />
                        <small>*****</small>
                        <div>
                            <a href="<?=URI::toPage().'product_details/'.$product->getId();?>" class="btn btn-default fancybox-ajax">Ver</a>
                        </div>
                    <?php
                    }
                    ?>
                </div>
                <h3><a href="shop-item.html"><?=$product->getName();?></a></h3>

                <div class="pi-price">Bs. <?=number_format($product->getBasePrice(), 2);?></div>
                <a href="#" class="btn btn-default add2cart">Añadir</a>

            </div>
        </div>
        <?php
        }
        ?>
    </div>

</div>