<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Detalles
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="save"/>

                <h3>Asignar Sucursal</h3>

                <div class="form-group">
                    <label class="name" for="branchId">Sucursal</label>
                    <div class="input-group">

                        <select id="branchId" name="branchId">
                            <option value="">Seleccionar...</option>
                            <?php
                            foreach($branchs as $branch){
                                ?>
                                <option value="<?=$branch->getId();?>"><?=$branch->getName();?></option>
                                <?php
                            }
                            ?>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="initDate">Fecha de Inicio</label>
                    <div class="input-group">
                        <div class="input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
                            <input type="text" id="initDate" name="initDate" value="" data-date-format="dd/mm/yyyy" class="form-control datoFecha" />
                <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="endDate">Fecha de Culminación</label>
                    <div class="input-group">
                        <div class="input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
                            <input type="text" id="endDate" name="endDate" value="" data-date-format="dd/mm/yyyy" class="form-control datoFecha" />
                <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="name" for="">Administrador</label>
                    <div class="input-group">
                        <span>SI</span> <input type=radio name="admin" value="1">
                        <span>NO</span><input type=radio name="admin" value="0"><br>
                    </div>
                </div>

                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $().ready(function(){
        $('.loadContent').loadContent();
//    $('.ajaxPost').formAjaxPost();
    });
</script>