<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Agregar Nuevo Empleado
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="save"/>

                <?php include('form.phtml'); ?>


                <!--
                <div class="form-group">
                    <label class="name" for="userId">Usuario</label>
                    <div class="input-group">

                        <input type="text" id="userName" name="userName" value="" size="30" maxlength="30" class="form-control" placeholder="Usuario..." class="validate[required]" />
                        <input type="hidden" id="userId" name="userId" value="" size="30" maxlength="30" class="form-control" class="validate[required]" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="name" for="branchId">Sucursal</label>
                    <div class="input-group">
                        <select id="branchId" name="branchId">
                            <option value="">Seleccionar...</option>
                            <?php
                            foreach($branchs as $branch){
                                ?>
                                <option value="<?=$branch->getId();?>"><?=$branch->getName();?></option>
                            <?php
                            }
                            ?>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="initDate">Fecha de Inicio</label>
                    <div class="input-group">
                        <div class="input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
                            <input type="text" id="initDate" name="initDate" value="" data-date-format="dd/mm/yyyy" class="form-control datoFecha" />
                <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="endDate">Fecha de Culminación</label>
                    <div class="input-group">
                        <div class="input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
                            <input type="text" id="endDate" name="endDate" value="" data-date-format="dd/mm/yyyy" class="form-control datoFecha" />
                <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                </span>
                        </div>
                    </div>
                </div>
                -->

                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--
<style type="text/css">
    .ui-autocomplete {
        z-index: 50000;
    }

</style>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost();
    $(".datoFecha").datepicker({dateFormat: 'dd/mm/yyyy'});
    var $user = $("#userName");

    $("#userName").autocomplete({
        source: function( request, response ) {
            $.ajax({
                url: "<?=URI::toPage().'searchUsuario';?>",
                dataType: "json",
                data: {
                    term: request.term
                },
                success: function( data ) {
                    //response( data );
                    response( $.map( data.datos, function( item ) {
                        return {
                            id: item.id,
                            value: item.nombreCompleto,
                            label: item.nombreCompleto
                        }
                    }));
                }
            });
        },
        minLength: 3,
        select: function( event, ui ) {
            alert(ui.item.value)
            $("#userId").val(ui.item.id);
            //$("#usuarioId").val(ui.item? ui.item.id: "");
            //$("#usuarioName").val(ui.item? ui.item.nombreCompleto: "");
            return false;
        }
    });
    $("#userName").autocomplete( "option", "appendTo", ".eventInsForm" );
});
</script>

-->
