<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Empleados
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php
                        if(PageControl::canCreate()){
                            ?>
                            <a href="<?=URI::toPage().'create';?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-plus"></i> Registrar Empleado</a>
                        <?php
                        }
                        ?>
                        <a href="<?=URI::toPage().'pdfReport';?>" class="btn btn-sm btn-circle blue-dark" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="employeeTable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Usuario</th>
                        <th>Inicio de Contrato</th>
                        <th>Culminación de Contrato</th>
                        <th>Detalles</th>
                        <?php if(PageControl::canUpdate()){ ?>
                            <th width="10%">Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                        <th>Eliminar</th>
                        <?php
                        }
                        ?>
                    </tr>
                </thead>
                <tbody>
                <?php
                $i = 0;
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($employees as $employee){
                    $i++;
                    $pk = $employee->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="center"><?=$i;?></td>

                        <td class="text-left"><?=$employee->getChoUser()->completeName();?></td>
                        <td class="text-center"><?=$employee->getInitDate('d/m/Y');?></td>
                        <td class="text-center"><?=$employee->getEndDate('d/m/Y');?></td>
                        <td class="text-left"><?=$employee->getDetails();?></td>
                        <!--<td class="text-center">
                            <?php
                            if($employee->countSelBranchEmployees()==0){
                                ?>
                                <a href="<?=URI::toPage().'branchDataList';?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-plus"></i>Detalles</a>
                            <?php
                            }else{
                            ?>
                                <a href="<?=URI::toPage().'asignarSucursal';?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-plus"></i>Ver Sucursales</a>
                            <?php
                            }
                            ?>
                        </td>-->
                        <?php
                        if(PageControl::canUpdate()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-circle btn-sm btn-success" data-toggle="modal" data-target="#ajax-modal">
                                    <i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger" onclick="return confirm('¿Está seguro que desea eliminar este registro?');">
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                <?php
                }
                if(sizeof($employees)==0){
                ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron registros *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $().ready(function(){
        $('.loadContent').loadContent();
        $('#employeeTable').dataTable();
    });
</script>