<div class="form-group">
    <label class="name" for="userId">Usuario Registrado</label>
    <div class="input-group">
        <input type="text" id="userName" name="userName" value="<?=$employee? $employee->getChoUser()->completeName():'';?>" size="30" maxlength="30" class="form-control" placeholder="Usuario Registrado..." class="validate[required]" />
        <input type="hidden" id="userId" name="userId" value="<?=$employee? $employee->getChoUser()->getId(): '';?>" size="30" maxlength="30" class="form-control" class="validate[required]" />
        <span id="UserId"></span>
        <div id="container_tags">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">

            <label class="control-label" for="initDate">Inicio de Contrato</label>

            <div class="input-group">
                <div class="input-group" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
                    <input type="text" id="initDate" name="initDate" value="<?=$employee? $employee->getInitDate("d/m/Y"): date('d/m/Y');?>" data-date-format="dd/mm/yyyy" class="form-control datoFecha" />
                    <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="endDate">Culminación de Contrato</label>

            <div class="input-group">
                <div class="input-group" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
                    <input type="text" id="endDate" name="endDate" value="<?=$employee? $employee->getEndDate("d/m/Y"): date('d/m/Y', time()+ 24*60*60*30);?>" data-date-format="dd/mm/yyyy" class="form-control datoFecha" />
                    <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="details">Detalle/Observación</label>
    <textarea id="details" name="details" cols="30" rows="2" class="form-control" placeholder="Detalle..."><?= $employee? $employee->getDetails(): '';?></textarea>
</div>

<style type="text/css">
    .ui-autocomplete {
        z-index: 50000;
    }
    #container_tags {
        display: block;
        position:relative
    }
</style>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost();
    $(".datoFecha").datepicker({dateFormat: 'dd/mm/yyyy'});
    $("#userName").autocomplete({
        minLength: 3,
        source: function( request, response ) {
            $.ajax({
                url: "<?=URI::toPage().'searchUsuario';?>",
                dataType: "json",
                data: {
                    term: request.term
                },
                success: function( data ) {
                    response( $.map( data.datos, function( item ) {
                        return {
                            id: item.id,
                            value: item.nombreCompleto,
                            label: item.nombreCompleto
                        }
                    }));
                }
            });
        },
        select: function( event, ui ) {
//            $("#userName").val(ui.item.nombreCompleto);
            $("#userId").val(ui.item.id);
            return false;
        }
    });
});
</script>