<h1>Listado de Empleados</h1>
<table cellpadding="2" cellspacing="0" border="1" width="100%" style="text-align:center; width: 100%;">
    <thead>
        <tr>
            <th width="10%" style="font-weight: bold;">N°</th>
            <th width="30%" style="font-weight: bold;">Nombre</th>
            <th width="20%" style="font-weight: bold;">Fecha Inicial</th>
            <th width="20%" style="font-weight: bold;">Fecha Final</th>
            <th width="20%" style="font-weight: bold;">Detalles</th>
        </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    foreach($employees as $employee){
        $i++;
        $pk = $employee->getId();
        ?>
        <tr class="<?=($i%2==0)? 'odd': 'even';?>">
            <td width="10%" style="text-align: center;"><?=$i;?></td>
            <td width="30%" style="text-align: left;"><?=$employee->getChoUser()->completeName();?></td>
            <td width="20%" style="text-align: center;"><?=$employee->getInitDate('d/m/Y');?></td>
            <td width="20%" style="text-align: center;"><?=$employee->getEndDate('d/m/Y');?></td>
            <td width="20%" style="text-align: left;"><?=$employee->getDetails();?></td>
        </tr>
        <?php
    }
    if(sizeof($employees)==0){
        ?>
        <tr>
            <td class="text-center" colspan="6">* No se encontraron registros *</td>
        </tr>
        <?php
    }
    ?>
    </tbody>
</table>