<h1>Listado de Empleados</h1>
<table class="">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Yecid</td>
        </tr>
    </tbody>
</table>

<table cellpadding="1" cellspacing="1" border="1" style="text-align:center;">
    <tr>
        <td><img src="images/logo_example.png" border="0" height="41" width="41" /></td>
    </tr>
    <tr style="text-align:left;">
        <td><img src="images/logo_example.png" border="0" height="41" width="41" align="top" /></td>
    </tr>
    <tr style="text-align:center;"><td><img src="images/logo_example.png" border="0" height="41" width="41" align="middle" /></td></tr>
    <tr style="text-align:right;"><td><img src="images/logo_example.png" border="0" height="41" width="41" align="bottom" /></td></tr>
    <tr><td style="text-align:left;"><img src="images/logo_example.png" border="0" height="41" width="41" align="top" /></td></tr>
    <tr><td style="text-align:center;"><img src="images/logo_example.png" border="0" height="41" width="41" align="middle" /></td></tr>
    <tr><td style="text-align:right;"><img src="images/logo_example.png" border="0" height="41" width="41" align="bottom" /></td></tr>
</table>