<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Agregar <?=is_object($mainCategory)? 'Subcategoría': 'Categoría';?>
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="save"/>
                <div class="form-group">
                    <label class="control-label" for="mainCategoryId">Categoría Principal</label>
                    <div class="form-group">
                        <?php
                        if(is_object($mainCategory)){
                            ?>
                            <strong><?=$mainCategory->getName();?> (<?=$mainCategory->getCode();?>)</strong>
                            <input type="hidden" id="mainCategoryId" name="mainCategoryId" value="<?=$mainCategory->getId();?>" />
                        <?php
                        }
                        ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="code">Código</label>
                    <input type="text" id="code" name="code" value="" size="30" maxlength="30" class="form-control"
                           placeholder="Código..." autocomplete="off" class="validate[required]"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Nombre</label>
                    <input type="text" id="name" name="name" value="" size="30" maxlength="30" class="form-control"
                           placeholder="Nombres..." autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Descripción</label>
                    <textarea id="description" name="description" cols="30" rows="2" class="form-control"
                              placeholder="Descripción..."></textarea>
                </div>
                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue" id="submit" name="submit">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $().ready(function () {
        $('.loadContent').loadContent();
        $('.ajaxPost').formAjaxPost();
    });
</script>