<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Categorias Principales
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php
                        if(PageControl::canCreate()){
                            ?>
                            <a href="<?=URI::toPage().'create';?>" class="btn btn-sm btn-circle green"
                               data-toggle="modal" data-target="#ajax-modal" rel="createData"><i class="fa fa-plus-circle"></i> Agregar Categoría</a>
                        <?php
                        }
                        ?>
                        <a href="<?=URI::toPage().'pdfReport';?>" class="btn btn-sm btn-circle blue-dark" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="tableCategory" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th width="5%">Nº</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th width="10%">Subcategorías</th>
                    <th>Detalles</th>
                    <?php
                    if(PageControl::canUpdate()){
                        ?>
                        <th>Editar</th>
                    <?php
                    }
                    if(PageControl::canDelete()){
                        ?>
                        <th>Eliminar</th>
                    <?php
                    }
                    ?>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nº</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Subcategorías</th>
                    <th width="10%">Detalles</th>
                    <?php
                    if(PageControl::canUpdate()){
                    ?>
                        <th width="10%">Editar</th>
                    <?php
                    }
                    if(PageControl::canDelete()){
                    ?>
                        <th width="10%">Eliminar</th>
                    <?php
                    }
                    ?>
                </tr>
                </tfoot>
                <tbody>
                <?php
                $i = 0;
                $toSubCategoriesLink = URI::toPage().'dataListSubCategories/';
                //$toShowLink = URI::toPage().'show/';
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($categories as $category){
                    $i++;
                    $pk = $category->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="text-center"><?=$i;?>
                        </td>
                        <td class="text-left">
                            <?=$category->getName();?>
                            <br/><span class="italic small"><strong>Codigo: </strong><?=$category->getCode();?></span>
                        </td>
                        <td class="text-left"><?=$category->getDescription();?></td>
                        <td class="text-center"><?=$category->countSelCategorysRelatedById();?></td>
                        <td class="text-center">
                            <a href="<?=$toSubCategoriesLink.$pk;?>" class="btn btn-circle btn-sm purple" title="Ver detalles">
                                <i class="fa fa-fw fa-edit"></i> Detalles
                            </a>
                        </td>
                        <?php
                        if(PageControl::canUpdate()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal"
                                   data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger"
                                   onclick="<?=$category->countSelCategorysRelatedById()>0 || $category->countSelProductGroups()>0? "alert('No puede eliminar una categoría con datos relacionados'); return false;": "return confirm('¿Esta seguro de eliminar este registro?');"?>" >
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('#tableCategory').dataTable();
});
</script>