<div id="bodyWork">
    <section class="content-header">
        <h1>
            Subcategorías
        </h1>

        <ol id="mainBreadcrumb" class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Catálogo</a></li>
            <li class="active"><a href="<?=URI::toModule().'/category/dataList';?>" >Categorias</a></li>
            <li class="active"><a href="#" >Subcategorias</a></li>
        </ol>
    </section>
    <section id="mainContent" class="content">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Subcategorías de <?=$category->getName();?>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <?php
                                if(PageControl::canCreate()){
                                    ?>
                                    <a href="<?=URI::toModule().'category/create/'.$category->getId();?>" class="btn btn-sm btn-circle green"
                                       data-toggle="modal" data-target="#ajax-modal" rel="createData"><i class="fa fa-fw fa-plus-circle"></i>Agregar Subategoría</a>
                                <?php
                                }
                                ?>
                                <a href="<?=URI::toPage().'pdfReportSubcategories/'.$category->getId();?>" class="btn btn-sm btn-circle blue-dark" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                            </div>
                        </div>
                    </div>
                </div
                <div class="table-responsive">
                    <table id="tableCategory" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th width="5%" class="text-center">Nº</th>
                            <th class="text-left">Nombre</th>
                            <th class="text-left">Descripción</th>
                            <th width="10%" class="text-left">Grupos</th>
                            <th width="10%" class="text-left">Productos</th>
                            <?php
                            if(PageControl::canUpdate()){
                                ?>
                                <th width="10%">Editar</th>
                            <?php
                            }
                            if(PageControl::canDelete()){
                                ?>
                                <th width="10%">Eliminar</th>
                            <?php
                            }
                            ?>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Grupos</th>
                            <th>Productos</th>
                            <?php
                            if(PageControl::canUpdate()){
                                ?>
                                <th>Editar</th>
                            <?php
                            }
                            if(PageControl::canDelete()){
                                ?>
                                <th>Eliminar</th>
                            <?php
                            }
                            ?>
                        </tr>
                        </tfoot>
                        <tbody>
                        <?php
                        $i = 0;
                        $toProductGroupsLink = URI::toModule().'productGroup/category/';
                        $toProductsLink = URI::toModule().'product/category/';
                        $toEditLink = URI::toPage().'edit/';
                        $toDeleteLink = URI::toPage().'delete/';
                        foreach($category->subcategories() as $categoryInstance){
                            $i++;
                            $pk = $categoryInstance->getId();
                            ?>
                            <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                                <td class="center"><?=$i;?>
                                </td>
                                <td class="left">
                                    <?=$categoryInstance->getName();?>
                                    <br/><span class="italic small"><strong>Código: </strong><?=$categoryInstance->getCode();?></span>
                                </td>
                                <td class="left"><?=$categoryInstance->getDescription();?></td>
                                <td class="text-center">
                                    <a href="<?=$toProductGroupsLink.$pk;?>" class="btn btn-circle btn-sm purple" title="Grupos de Productos">
                                        <i class="fa fa-fw fa-edit"></i> Grupos
                                </td>
                                <td class="text-center">
                                    <a href="<?=$toProductsLink.$pk;?>" class="btn btn-circle btn-sm purple" title="Productos">
                                        <i class="fa fa-fw fa-edit"></i> Productos
                                </td>
                                <?php
                                if(PageControl::canUpdate()){
                                    ?>
                                    <td class="text-center">
                                        <a href="<?=$toEditLink.$pk;?>" class="btn btn-sm btn-circle blue" data-toggle="modal"
                                           data-target="#ajax-modal"><i class="fa fa-fw fa-edit"></i> Editar
                                        </a>
                                    </td>
                                <?php
                                }
                                if(PageControl::canDelete()){
                                    ?>
                                    <td class="text-center">
                                        <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger"
                                            onclick="<?=$categoryInstance->countSelProducts()>0 || $categoryInstance->countSelProductGroups()>0? "alert('No puede eliminar una categoría con datos relacionados'); return false;": "return confirm('¿Esta seguro de eliminar este registro?');"?>" >
                                            <i class="fa fa-fw fa-times"></i> Eliminar
                                        </a>
                                    </td>
                                <?php
                                }
                                ?>
                            </tr>
                        <?php
                        }
                        ?>
                        </tbody>
                    </table>
                </div>
            </div
        </div>
    </section>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('#tableCategory').dataTable();
});
</script>