<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>Editar Categoría
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="update"/>
                <input type="hidden" name="id" value="<?= $category->getId(); ?>"/>

                <div class="form-group">
                    <label class="control-label" for="name">Nombre</label>
                    <input type="text" name="name" value="<?= $category->getName(); ?>" size="50" maxlength="100" class="form-control"
                           placeholder="Nombre..." autocomplete="off" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="code">Codigo</label>
                    <input type="text" name="code" value="<?= $category->getCode(); ?>" size="20" maxlength="20" class="form-control"
                           placeholder="Codigo..." autocomplete="off" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Descipción</label>
                    <textarea name="description" cols="50" rows="3" class="form-control"
                              placeholder="Descripción"><?= $category->getDescription(); ?></textarea>
                </div>
            </div>
            <div class="form-actions right">
                <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                <button type="submit" id="submit" name="submit" class="btn btn-primary">Aceptar</button>
            </div>
        </form>
    </div>
</div>