<section class="content-header">
    <h1>Categorías</h1>
    <ol id="mainBreadcrumb" class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Catálogo</a></li>
        <li class="active"><a href="<?=URI::toPage();?>dataList" class="loadContent" rel="dataList">Categorias</a></li>
    </ol>
</section>

<section id="mainContent" class="content">

</section>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    var breadcrumbs = $("#mainBreadcrumb .loadContent");
    if(breadcrumbs.size()>0){
        breadcrumbs.last().click();
    }
});
</script>