
<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Detalles la Categoría</h3>
            <div class="box-tools">
                <a class="pull-right text-blue pointer loadContent" rel="dataList"><i class="fa  fa-arrow-circle-left"></i> Volver</a>
            </div>
        </div>
                      
        <form action="" method="post" role="form" class="ajaxPost">
            <input type="hidden" id="action" name="action" value="update" />
            <input type="hidden" id="id" name="id" value="<?=$category->getId();?>" />
            <div class="box-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th style="width:35%">Código:</th>
                        <td><?=$category->getCode();?></td>
                    </tr>
                    <tr>
                        <th>Nombre:</th>
                        <td><?=$category->getName();?></td>
                    </tr>
                    <tr>
                        <th>Descripción:</th>
                        <td><?=$category->getDescription();?></td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </form>
    </div>


    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                Subcategorías
            </h3>
            <div class="box-tools">
                <?php
                if(PageControl::canCreate()){
                    ?>
                    <a href="<?=URI::toModule().'category/create/'.$category->getId();?>" class="pull-right pointer loadContent" rel="createData"><i class="fa fa-fw fa-plus-circle"></i>Agregar Categoría</a>
                <?php
                }
                ?>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Detalle</th>
                    <th>Descripción</th>
                    <th>Detalles</th>
                    <?php
                    if(PageControl::canUpdate()){
                        ?>
                        <th>Editar</th>
                    <?php
                    }
                    if(PageControl::canDelete()){
                        ?>
                        <th>Eliminar</th>
                    <?php
                    }
                    ?>
                </tr>
                </thead>
                <tbody>
                <?php
                $i = 0;
                $toProductsLink = URI::toModule().'product/category/';
                //$toShowLink = URI::toPage().'show/';
                $toEditLink = URI::toPage().'edit/';
                $toDeleteLink = URI::toPage().'delete/';
                foreach($categories as $category){
                    $i++;
                    $pk = $category->getId();
                    ?>
                    <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                        <td class="center"><?=$i;?>
                        </td>
                        <td class="left">
                            <?=$category->getName();?>
                            <br/><span class="italic small"><strong>Codigo: </strong><?=$category->getCode();?></span>
                        </td>
                        <td class="left"><?=$category->getDescription();?></td>
                        <td class="text-center">
                            <a href="<?=$toProductsLink.$pk;?>" title="Ver detalles" class="imgHand vtip">
                                <img src="<?=ICO_16;?>view_details.png" alt="View" title="Detalles" class="imgHand vtip" />
                            </a>
                        </td>
                        <?php
                        if(PageControl::canUpdate()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" title="Editar" class="imgHand vtip loadContent">
                                    <i class="fa fa-fw fa-edit"></i>
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" title="Eliminar" class="imgHand vtip">
                                    <i class="fa fa-fw fa-minus-circle"></i>
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                <?php
                }
                if(sizeof($categories)==0){
                    ?>
                    <tr>
                        <td class="text-center" colspan="6">* No se encontraron Categorías registradas *</td>
                    </tr>
                <?php
                }
                ?>
                </tbody>
            </table>
        </div>
        <div class="box-footer">

        </div>
    </div>


</div>

<div class="col-md-12">
<div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Productos...</h3>
            
            <a href="<?=URI::toModule().'product/dataList/'.$category->getId();?>" class="loadContent" rel="dataListFromModule">Productos</a>
            
            <div class="box-body table-responsive">
                    <table id="example1" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Modelo</th>
                                <th>Nro de partes</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $i = 0;
                            $toEditLink = URI::toPage().'edit/';
                            $toDeleteLink = URI::toPage().'delete/';
                            foreach($product as $product){
                                $i++;
                                $pk = $product->getId();
                            ?>
                            <tr>
                                <td><?=$i;?></td>
                                <td><?=$product->getCode();?></td>
                                <td><?=$product->getName();?></td>
                                <td><?=$product->getDescription();?></td>
                                <td><?=$product->getModel();?></td>
                                <td><?=$product->getNumberParts();?></td>
                                <td align="center">
                                    <a href="<?=URI::toPage().'product/edit/'.$category->getId();?>" class="loadContent">
                                        <img src="<?=ICO_16;?>edit.png" alt="Editar" title="Editar" class="imgHand vtip" />
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="<?=URI::toPage().'product/delete/'.$category->getId();?>" class="loadContent">
                                        <img src="<?=ICO_16;?>delete.png" alt="Editar" title="Editar" class="imgHand vtip" />
                                    </a>
                                </td>
                                
                                <?php
                               
                                ?>
                            </tr>
                            <?php
                            }
                            if(sizeof($products)==0){
                            ?>
                            <tr>
                                <td colspan="8" class="text-center">* No se encontraron Productos en esta categoría*</td>
                            </tr>
                            <?php
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            
            
        </div>        
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost();
});
</script>