<div id="bodyWork">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Subcategorías
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Catálogo</a></li>
            <li class="active"><a href="<?=URI::toPage();?>dataList" class="loadContent" rel="dataList">Categorias</a></li>
        </ol>
    </section>

    <section id="mainContent" class="content">
    </section>

    <section class="content-header">
        <h1>
            Catálogo de Productos
            <small>Listado</small>
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li class="active"><a href="<?=URI::toModule();?>category/dataList" class="loadContent" rel="dataList">Categorias</a></li>
<!--            <li class="active"><a href="--><?//=URI::toModule();?><!--'category/show/'--><?//=$category->getId();?><!--">Sub Categoría</a></li>-->
            <li class="active"><a href="<?=URI::toModule();?>category/dataListSubCategories/<?=$category->getId();?>" class="loadContent" rel="categoryDateList">Sub Categorías</a></li>
<!--            <li class="active"><a href="--><?//=URI::toModule();?><!--product/dataList/--><?//=$category->getId();?><!--" class="loadContent" rel="categoryDateList">Productos</a></li>-->
        </ol>
    </section>

   <section id="mainContent" class="content">

    </section>

</div>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
});
</script>