<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Registrar Empleado
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="saveBranchEmployee"/>

                <input type="hidden" id="branchId" name="branchId" value="<?=$branch->getId();?>"/>

                <?php include('formBranchEmployee.phtml'); ?>

                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--
<style type="text/css">
    .ui-autocomplete {
        z-index: 50000;
    }

</style>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost();
    $(".datoFecha").datepicker({dateFormat: 'dd/mm/yyyy'});
    var $user = $("#userName");

    $("#userName").autocomplete({
        source: function( request, response ) {
            $.ajax({
                url: "<?=URI::toPage().'searchUsuario';?>",
                dataType: "json",
                data: {
                    term: request.term
                },
                success: function( data ) {
                    //response( data );
                    response( $.map( data.datos, function( item ) {
                        return {
                            id: item.id,
                            value: item.nombreCompleto,
                            label: item.nombreCompleto
                        }
                    }));
                }
            });
        },
        minLength: 3,
        select: function( event, ui ) {
            alert(ui.item.value)
            $("#userId").val(ui.item.id);
            //$("#usuarioId").val(ui.item? ui.item.id: "");
            //$("#usuarioName").val(ui.item? ui.item.nombreCompleto: "");
            return false;
        }
    });
    $("#userName").autocomplete( "option", "appendTo", ".eventInsForm" );
});
</script>

-->
