<div class="portlet box blue" style="margin: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-plus"></i>Categoría
        </div>
        <div class="tools">
            <a class="remove" data-dismiss="modal" aria-hidden="true" href="javascript:;"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="" method="post" role="form" class="ajaxPost">
            <div class="form-body">
                <input type="hidden" id="action" name="action" value="categorySave" />

                <input type="hidden" id="branchId" name="branchId" value="<?=$branch->getId();?>"/>

                <div class="form-group">
                    <label class="control-label" for="categoryId">Categoría</label>
                    <select id="categoryId" name="categoryId" class="form-control">
                        <option value="">Seleccionar...</option>
                        <?php
                        foreach($category as $category){
                            ?>
                            <option value="<?=$category->getId();?>"><?=$category->getName();?></option>
                        <?php
                        }
                        ?>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="state">Estado</label>
                    <br />
                    <div class="radio-listcc" id="state">
                        <label class="inlineaaas">
                            <input type="radio" name="state" value="ACTIVO" class="form-control radio"/>
                            Activo
                        </label>
                        &nbsp;&nbsp;
                        <label class="inlinesad">
                            <input type="radio" name="state" value="INACTIVO" class="form-control radio"/>
                            Inactivo
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="name" for="">Observación</label>
                    <input type="text" id="observation" name="observation" value="" size="30" maxlength="98" class="form-control" placeholder="Observación..."></textarea>
                </div>

                <div class="form-actions right">
                    <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn blue">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    //$("#simplePanel form").validationEngine();
    $('.ajaxPost').formAjaxPost({
//        beforeSend: function(){
//            $("#mainContent").mask("Cargando...");
//        },
//        onSuccess: function (response) {
//            //s$("#mainContent").unmask();
//            $("#backToDetails").click();
//        }
    });
});
</script>