        <table id="" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Categoría</th>
                    <th>Estado</th>
                    <th>Observaciones</th>
                    <?php
                    if(PageControl::canUpdate()){
                        ?>
                        <th width="10%">Editar</th>
                        <?php
                    }
                    ?>
                </tr>
            </thead>
            <tbody>
            <?php
            $i = 0;
            $toEditLink = URI::toPage().'edit/';
            $toDeleteLink = URI::toPage().'deleteCategory/';
            foreach($categories as $category){
                $i++;
                $pk = $category->getId();
                ?>
                <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                    <td class="center"><?=$i;?></td>
                    <td class="left"><?=$category->getSelCategory()->getName();?></td>
                    <td class="left"><?=$category->getState();?></td>
                    <td class="left"><?=$category->getObservation();?></td>
                    <?php
                    if(PageControl::canDelete()){
                    ?>
                    <td class="text-center">
                        <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger"
                           onclick="return confirm('¿Está seguro que desea eliminar este registro?');">
                            <i class="fa fa-fw fa-times"></i> Eliminar
                        </a>
                    </td>
                    <?php
                    }
                    ?>
                </tr>
            <?php
            }
            if(sizeof($categories)==0){
            ?>
                <tr>
                    <td class="text-center" colspan="6">* No se encontró Categorías registradas *</td>
                </tr>
            <?php
            }
            ?>
            </tbody>
        </table>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
});
</script>