<table id="" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Nº</th>
            <th>Usuario</th>
            <th>Inicio de Asignación</th>
            <th>Finalización de Asignación</th>
            <?php
            if(PageControl::canUpdate()){
                ?>
                <th width="10%">Editar</th>
                <?php
            }
            ?>
        </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    $toEditLink = URI::toPage().'edit/';
    $toDeleteLink = URI::toPage().'deleteEmployee/';
    foreach($employees as $employee){
        $i++;
        $pk = $employee->getId();
        ?>
        <tr class="<?=($i%2==0)? 'odd': 'even';?>">
            <td class="center"><?=$i;?></td>
            <td class="left"><?=$employee->getSelEmployee()->getChoUser()->completeName();?></td>
            <td class="center"><?=$employee->getInitDate('d/m/y');?></td>
            <td class="center"><?=$employee->getEndDate('d/m/y');?></td>
            <?php
            if(PageControl::canDelete()){
                ?>
                <td class="text-center">
                    <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger"
                       onclick="return confirm('¿Está seguro que desea eliminar este registro?');">
                        <i class="fa fa-fw fa-times"></i> Eliminar
                    </a>
                </td>
                <?php
            }
            ?>
        </tr>
    <?php
    }
    if(sizeof($employees)==0){
    ?>
        <tr>
            <td class="text-center" colspan="6">* No se encontró Personal registrado *</td>
        </tr>
    <?php
    }
    ?>
    </tbody>
</table>

<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
});
</script>