<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Listado de Sucursales
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php
                        if(PageControl::canCreate()){
                            ?>
                            <a href="<?=URI::toPage().'create';?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-plus"></i> Registrar Nueva Sucursal</a>
                        <?php
                        }
                        ?>
                        <a href="<?=URI::toPage().'pdfReport';?>" class="btn btn-sm btn-circle blue-dark" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tableBranchs" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                                <th>Nº</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Fax</th>
                                <th>Detalles</th>
                                <?php
                                if(PageControl::canUpdate()){
                                ?>
                                <th>Editar</th>
                                <?php
                                }
                                if(PageControl::canDelete()){
                                ?>
                                <th>Eliminar</th>
                                <?php
                                }
                                ?>
                            </tr>
                        </thead>
                        <tbody>
                        <?php
                        $i = 0;
                        $toShowLink = URI::toPage().'details/';
                        $toEditLink = URI::toPage().'edit/';
                        $toDeleteLink = URI::toPage().'delete/';
                        foreach($branchs as $branch){
                            $i++;
                            $pk = $branch->getId();
                            ?>
                            <tr class="<?=($i%2==0)? 'odd': 'even';?>">
                                <td class="center"><?=$i;?></td>
                                <td class="left"><?=$branch->getCode();?></td>
                                <td class="left"><?=$branch->getName();?></td>
                                <td class="left"><?=$branch->getAddress();?></td>
                                <td class="left"><?=$branch->getPhone();?></td>
                                <td class="left"><?=$branch->getFax();?></td>
                                <td aling="center">
                                    <a href="<?=$toShowLink.$pk;?>" class="btn btn-circle btn-sm purple loadContent" title="Ver detalles">
                                        <i class="fa fa-fw fa-folder-open-o"></i> Detalles
                                    </a>
                                </td>
                                <?php
                                if(PageControl::canUpdate()){z
                                    ?>
                                    <td class="text-center">
                                        <a href="<?=$toEditLink.$pk;?>" class="btn btn-circle btn-sm btn-success" data-toggle="modal" data-target="#ajax-modal">
                                            <i class="fa fa-fw fa-edit"></i> Editar
                                        </a>
                                    </td>
                                <?php
                                }
                                if(PageControl::canDelete()){
                                    ?>
                                    <td class="text-center">
                                        <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger"
                                           onclick="return confirm('¿Está seguro que desea eliminar este registro?');">
                                            <i class="fa fa-fw fa-times"></i> Eliminar
                                        </a>
                                    </td>
                                <?php
                                }
                                ?>
                            </tr>
                        <?php
                        }
                        if(sizeof($branchs)==0){
                        ?>
                            <tr>
                                <td class="text-center" colspan="8">* No se encontraron registros *</td>
                            </tr>
                        <?php
                        }
                        ?>
                        </tbody>
                </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $().ready(function(){
        $('.loadContent').loadContent();
        $('#tableBranchs').dataTable();
    });
</script>