<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Detalles de la  Sucursal <?=$branch->getName();?>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>

    <div class="portlet-body">

        <div class="box-tools">
            <a class="pull-right text-blue pointer loadContent" rel="dataList"><i class="fa  fa-arrow-circle-left"></i> Volver</a>
        </div>

        <div class="box-header">
            <h3 class="box-title">Descripción</h3>
        </div>

        <form action="" method="post" role="form" class="ajaxPost">
            <input type="hidden" id="id" name="id" value="<?=$branch->getId();?>" />
            <div class="box-body">
                <table class="table">
                    <tbody>

                    <tr>
                        <th style="width:35%">Nombre de la Sucursal:</th>
                        <td><?=$branch->getName();?></td>
                    </tr>

                    <tr>
                        <th>Código:</th>
                        <td><?=$branch->getCode();?></td>
                    </tr>

                    <tr>
                        <th>Dirección:</th>
                        <td><?=$branch->getAddress();?></td>
                    </tr>

                    <tr>
                        <th>Teléfono:</th>
                        <td><?=$branch->getPhone();?></td>
                    </tr>

                    <tr>
                        <th>Fax:</th>
                        <td><?=$branch->getFax();?></td>
                    </tr>

                    <tr>
                        <th>Número:</th>
                        <td><?=$branch->getNumber();?></td>
                    </tr>

                    </tbody>
                </table>
<!--
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs1">Personal</a></li>
                        <li><a href="#tabs2">Catálogo de Productos</a></li>
                        <li><a href="#tabs3">Gestion de ventas</a></li>
                    </ul>
                    <div id="tabs1">
                        <?php include('dataListEmployees.phtml'); ?>
                    </div>

                    <div id="tabs2">
                        fdfdfdf
                        fdf
                    </div>
                    <div id="tabs3">

                    </div>
                </div>
                -->
            </div>
        </form>

        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Personal
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <?php
                                    if(PageControl::canCreate()){
                                        ?>
                                        <a href="<?=URI::toPage().'createEmployee/'.$branch->getId();?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-plus"></i> Registrar Empleado</a>
                                    <?php
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php include('dataListEmployees.phtml'); ?>
                </div>
            </div>
        </div>

        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Categorías/Productos
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <?php
                                    if(PageControl::canCreate()){
                                        ?>
                                    <a href="<?=URI::toPage().'createCategory/'.$branch->getId();?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-plus"></i> Registrar Categoría</a>
                                    <?php
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php include('dataListCategories.phtml'); ?>
                </div>
            </div>
        </div>


        </div>
</div>
<style type="text/css">
    .ui-tabs-hide {
        display: none !important;
    }
</style>
-->
<script type="text/javascript">
    $().ready(function(){
        $('.loadContent').loadContent();
        $('.ajaxPost').formAjaxPost();
        //$('#accordion').accordion();
        $('#tabs').tabs();
    });
</script>