<div class="form-group">
    <label class="control-label" for="code">Código</label>
    <input type="text" id="code" name="code" value="<?=$branch? $branch->getCode(): '';?>" size="30" maxlength="30" class="form-control" placeholder="Código..." autocomplete="off" />
</div>

<div class="form-group">
    <label class="control-label"  for="name">Nombre</label>
    <input type="text" id="name" name="name" value="<?=$branch? $branch->getName(): '';?>" size="30" maxlength="30" class="form-control" placeholder="Nombres..." autocomplete="off" />
</div>

<div class="form-group">
    <label class="control-label"  for="address">Dirección</label>
    <input type="text" id="address" name="address" value="<?=$branch? $branch->getAddress(): '';?>" size="30" maxlength="100" class="form-control" placeholder="Dirección..." autocomplete="off"/>
</div>

<div class="form-group">
    <label class="control-label"  for="phone">Teléfono</label>
    <input type="text" id="phone" name="phone" value="<?=$branch? $branch->getPhone(): '';?>" size="30" maxlength="30" class="form-control" placeholder="Teléfono..."/>
</div>

<div class="form-group">
    <label class="control-label" for="fax">Fax</label>
    <input type="text" id="fax" name="fax" value="<?=$branch? $branch->getFax(): '';?>" size="30" maxlength="30" class="form-control" placeholder="Fax..." />
</div>