<div class="form-group">
    <label class="name" for="employeeId">Empleado</label>
    <div class="input-group">
        <select id="employeeId" name="employeeId">
            <?php
            foreach ($employees as $employee){
            ?>
                <option value="<?=$employee->getId();?>"><?=$employee->getChoUser()->completeName();?> (<?=$employee->getInitDate("d/m/y");?> - <?=$employee->getEndDate("d/m/y");?>)</option>
            <?php
            }
            ?>
        </select>
        <div id="container_tags">
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="initDate">Fecha de Inicio (Asignación Sucursal)</label>
    <div class="input-group">
        <div class="input-group" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
            <input type="text" id="initDate" name="initDate" value="<?=$branchEmployee? $branchEmployee->getInitDate("d/m/Y"): '';?>" data-date-format="dd/mm/yyyy" class="form-control datoFecha" />
                <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                </span>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="endDate">Fecha de Culminación (Asignación Sucursal)</label>
    <div class="input-group">
        <div class="input-group" data-date-format="dd/mm/yyyy" data-date-start-date="+0d" >
            <input type="text" id="endDate" name="endDate" value="<?=$branchEmployee? $branchEmployee->getEndDate("d/m/Y"): '';?>" data-date-format="dd/mm/yyyy" class="form-control datoFecha" />
                <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                </span>
        </div>
    </div>
</div>


<style type="text/css">
.ui-autocomplete {
    z-index: 50000;
}
#container_tags {
    display: block;
    position:relative
}
</style>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $('.ajaxPost').formAjaxPost();
    $(".datoFecha").datepicker({dateFormat: 'dd/mm/yyyy'});
    var $employee = $("#employeeName");

    $("#employeeName").autocomplete({
        source: function( request, response ) {
            $.ajax({
                url: "<?=URI::toPage().'searchEmployee';?>",
                dataType: "json",
                data: {
                    term: request.term
                },
                success: function( data ) {
                    //response( data );
                    response( $.map( data.datos, function( item ) {
                        return {
                            id: item.id,
                            value: item.nombreCompleto,
                            label: item.nombreCompleto
                        }
                    }));
                }
            });
        },
        minLength: 1,
        select: function( event, ui ) {
//            alert(ui.item.value)
            $("#employeeId").val(ui.item.id);
            return false;
        }
    });

});
</script>
