<div id="bodyWork">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sucursales
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Organización</a></li>
            <li class="active"><a href="<?=URI::toPage();?>">Lista de Sucursales</a></li>
            <li class="active"><a href="<?=URI::toPage();?>dataList" class="loadContent" rel="dataList">Listado</a></li>
        </ol>
    </section>

   <section id="mainContent" class="content">

    </section>

</div>
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    var breadcrumbs = $("#mainBreadcrumb .loadContent");
    if(breadcrumbs.size()>0){
        breadcrumbs.last().click();
    }
});
</script>