<h1>Listado de Sucursales</h1>
<table cellpadding="2" cellspacing="0" border="1" width="100%" style="text-align:center; width: 100%;">
    <thead>
        <tr>
            <th width="5%" style="font-weight: bold;">N°</th>
            <th width="10%" style="font-weight: bold;">Código</th>
            <th width="30%" style="font-weight: bold;">Nombre</th>
            <th width="25%" style="font-weight: bold;">Dirección</th>
            <th width="15%" style="font-weight: bold;">Teléfono</th>
            <th width="15%" style="font-weight: bold;">Fax</th>
        </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    foreach($branchs as $branch){
        $i++;
        $pk = $branch->getId();
        ?>
        <tr class="<?=($i%2==0)? 'odd': 'even';?>">
            <td width="5%" style="text-align: center;"><?=$i;?></td>
            <td width="10%" style="text-align: left;"><?=$branch->getCode();?></td>
            <td width="30%" style="text-align: left;"><?=$branch->getName();?></td>
            <td width="25%" style="text-align: left;"><?=$branch->getAddress();?></td>
            <td width="15%" style="text-align: center;"><?=$branch->getPhone();?></td>
            <td width="15%" style="text-align: center;"><?=$branch->getFax();?></td>
        </tr>
        <?php
    }
    if(sizeof($branchs)==0){
        ?>
        <tr>
            <td class="text-center" colspan="6">* No se encontraron registros *</td>
        </tr>
        <?php
    }
    ?>
    </tbody>
</table>