<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>URIs de Módulo: <?=$module->getName();?>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <?php
                        if(PageControl::canCreate()){
                        ?>
                            <a href="<?=URI::toPage().'createFromModule/'.$module->getId();?>" class="btn btn-sm btn-circle green" data-toggle="modal" data-target="#ajax-modal"><i class="fa fa-plus"></i> Agregar URI</a>
                        <?php
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tableURI" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Título</th>
                        <th>URI</th>
                        <th>Acceso</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <!--                                <th>Funcionalidades</th>-->
                        <th width="10%">Permisos</th>
                        <?php if(PageControl::canUpdate()){ ?>
                            <th width="10%">Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <th width="10%">Eliminar</th>
                        <?php } ?>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nº</th>
                        <th>Título</th>
                        <th>URI</th>
                        <th>Acceso</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <!--                                <th>Funcionalidades</th>-->
                        <th>Permisos</th>
                        <?php if(PageControl::canUpdate()){ ?>
                            <th>Editar</th>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <th>Eliminar</th>
                        <?php } ?>
                    </tr>
                </tfoot>
                <tbody>
                    <?php
                    $toAccessLink = URI::toPage().'rolesAccess/';
                    $toEditLink = URI::toPage().'edit/';
                    $toDeleteLink = URI::toPage().'delete/';
                    $i = 0;
                    foreach($uris as $uri){
                        $i++;
                        $pk = $uri->getId();
                    ?>
                    <tr>
                        <td><?=$i;?></td>
                        <td><?=$uri->getTitle();?></td>
                        <td><?=$uri->getUri();?></td>
                        <td><?=PageConfigs::label($uri->getAccess(), 'es');?></td>
                        <td><?=$uri->getType();?></td>
                        <td><?=$uri->getDescription();?></td>
                        <td align="center">
                            <a href="<?=$toAccessLink.$pk;?>" class="btn btn-circle btn-sm yellow" data-toggle="modal" data-target="#ajax-modal">
                                <i class="fa fa-fw fa-key"></i> Permisos
                            </a>
                        </td>
                        <?php
                        if(PageControl::canUpdate()){
                            ?>
                            <td class="text-center">
                                <a href="<?=$toEditLink.$pk;?>" class="btn btn-circle btn-sm btn-success" data-toggle="modal" data-target="#ajax-modal">
                                    <i class="fa fa-fw fa-edit"></i> Editar
                                </a>
                            </td>
                        <?php
                        }
                        if(PageControl::canDelete()){
                        ?>
                            <td class="text-center">
                                <a href="<?=$toDeleteLink.$pk;?>" class="btn btn-circle btn-sm btn-danger" onclick="return confirm('¿Esta seguro de eliminar este registro?')">
                                    <i class="fa fa-fw fa-times"></i> Eliminar
                                </a>
                            </td>
                        <?php
                        }
                        ?>
                    </tr>
                    <?php
                    }
                    if(sizeof($uris)==0){
                    ?>
                    <tr>
                        <td colspan="8" class="text-center">* No se encontraron URIs en este módulo *</td>
                    </tr>
                    <?php
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- page script -->
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    $(".dataTable").dataTable();
    $('.simpleDialog').simpleDialog({
        onComplete: function(result, link){
            $("#panel form").formAjaxPost();
        }
    });
});
</script>
<?php
/*
if(PageControl::canAdd()){
    include_once('pages_addForm.tpl');
}else{
    ?>
<link type="text/css" href="<?=JQUERY_WEB;?>themes/ui-lightness/ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="<?=JQUERY_WEB;?>ui/ui.core.js"></script>
<script type="text/javascript" src="<?=JQUERY_WEB;?>ui/ui.dialog.js"></script>
<script type="text/javascript" src="<?=JQUERY_WEB;?>ui/ui.draggable.js"></script>
<script type="text/javascript" src="<?=JQUERY_WEB;?>ui/ui.resizable.js"></script>
    <?php
}
?>
<script type="text/javascript" src="<?=CHAJAX_WEB;?>jsAjax.js"></script>
<script type="text/javascript" language="javascript">
$(function() {
    $("#panelForDetails").dialog({
        bgiframe: true,
        autoOpen: false,
        width: 400,
        modal: true,
        resizable: false
    });
});
function loadFuncionalidades(id){
    var html = '<br/><br/><br/>Cargando ...<br/><img src="<?=ICONS_WEB;?>loadingBar.gif" alt="Cargando informacion" title="Cargando informacion"/><br/><br/><br/>&nbsp;';
    document.getElementById('ui-dialog-title-panelForDetails').innerHTML = 'Funcionalidades habilitadas';
    document.getElementById('detailsContainer').innerHTML = html;
    $('#panelForDetails').dialog('open');
    var url = "<?=WEB_ROOT.URI::toPage();?>functionalitiesList/"+id+"/?Chajax=yes";
    buscarDatos(url, "desplegarDatos", "detailsContainer");
}
function loadRoles(id){
    var html = '<br/><br/><br/>Cargando ...<br/><img src="<?=ICONS_WEB;?>loadingBar.gif" alt="Cargando informacion" title="Cargando informacion"/><br/><br/><br/>&nbsp;';
    document.getElementById('ui-dialog-title-panelForDetails').innerHTML = 'Roles Permitidos';
    document.getElementById('detailsContainer').innerHTML = html;
    $('#panelForDetails').dialog('open');
    var url = "<?=WEB_ROOT.URI::toPage();?>rolesList/"+id+"/?Chajax=yes";
    buscarDatos(url, "desplegarDatos", "detailsContainer");
}
</script>
<div id="panelForDetails" title="Panel">
    <div id="detailsContainer">
        <br/><br/><br/>
        Cargando informacion ...<br/>
        <img src="<?=ICONS_WEB;?>loadingBar.gif" alt="Cargando informacion" title="Cargando informacion"/>
        <br/><br/><br/>&nbsp;
    </div>
</div>

*/
?>