<div class="form-group">
    <label class="name" for="moduleId">Módulo</label>
    <div class="value">
        <?php
        if(isset($module)){
            ?>
            <?=$module->getName();?>
            <input type="hidden" id="moduleId" name="moduleId" value="<?=$module->getId();?>" />
        <?php
        }else{
            ?>
            <select id="moduleId" name="moduleId" class="form-control">
                <?php
                foreach($modules as $module){
                    $sel = ($uri && $uri->getChoModule()->equals($module))? ' selected="true"': '';
                    ?>
                    <option value="<?=$module->getId();?>"<?=$sel;?>><?=$module->getName()?></option>
                <?php
                }
                ?>
            </select>
        <?php
        }
        ?>
    </div>
</div>

<div class="form-group">
    <label class="name" for="uri">URI</label>
    <div class="value">
        <input type="text" id="uri" name="uri" value="<?=$uri? $uri->getUri(): '';?>" size="30" maxlength="30" class="form-control" placeholder="URI..." autocomplete="off" />
    </div>
</div>

<div class="form-group">
    <label class="name" for="title">Título</label>
    <div class="value">
        <input type="text" id="title" name="title" value="<?=$uri? $uri->getTitle(): '';?>" size="30" maxlength="30" class="form-control" placeholder="Título..." autocomplete="off" />
    </div>
</div>

<div class="form-group">
    <label class="name" for="access">Acceso</label>
    <div class="value">
        <select id="access" name="access" class="form-control">
            <option value="">Seleccionar...</option>
            <?php
            foreach(PageConfigs::enumAccess('es') as $kAccess => $vAccess){
                $sel = ($uri && $uri->getAccess()==$kAccess)? ' selected="true"': '';
                ?>
                <option value="<?=$kAccess;?>"<?=$sel;?>><?=PageConfigs::label($vAccess, 'es');?></option>
            <?php
            }
            ?>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="name" for="type">Tipo</label>
    <div class="value">
        <select id="type" name="type" class="form-control">
            <option value="">Seleccionar...</option>
            <?php
            foreach(PageConfigs::enumTypes() as $kType => $vType){
                $sel = ($uri && $uri->getType()==$kType)? ' selected="true"': '';
                ?>
                <option value="<?=$kType;?>"<?=$sel;?>><?=$vType;?></option>
            <?php
            }
            ?>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="name" for="description">Descripción</label>
    <textarea id="description" name="description" cols="30" rows="2" class="form-control" placeholder="Descripción..."><?=$uri? $uri->getDescription(): '';?></textarea>
</div>