<script type="text/javascript" src="<?=JQUERY_WEB;?>jquery.simpleDialog.js"></script>
<script type="text/javascript" src="<?=JQUERY_WEB;?>jquery.formAjaxPost.js"></script>
<script type="text/javascript">
$().ready(function(){
    $('.simpleDialog').simpleDialog({
        onComplete: function(result, link){
            $("#panel form").formAjaxPost();
        }
    });
});
</script>
<?=BarView::renderBar('functionalities');?>
<h1 class="center">URIs de Módulo: <?=$module->getName();?></h1>
<div class="clear"></div>
<div class="right">
<?php
//if(PageControl::canAdd()){
    ?>
    <a href="<?=URI::toPage().'createFromModule/'.$module->getId();?>" class="linkAdd simpleDialog">Agregar URI</a>
    <?php
//}
?>   
</div>
<table class="tList" align="center" width="100%">
    <thead>
        <tr>
            <th width="25">Nº</th>
            <th>Titulo</th>
            <th width="150">URI</th>
            <th width="80">Acceso</th>
            <th width="70">Tipo</th>
            <th>Descripción</th>
            <th width="90">Funcionalidades</th>
            <th width=50">Roles</th>
        </tr>
    </thead>
    <tbody>
    <?php
    $i = 0;
    foreach($uris as $uri){
        $i++;
        $pk = $uri->getId();
    ?>
    <tr>
        <td><?=$i;?></td>
        <td><?=$uri->getTitle();?></td>
        <td><?=$uri->getUri();?></td>
        <td><?=PageConfigs::label($uri->getAccess(), 'es');?></td>
        <td><?=$uri->getType();?></td>
        <td><?=$uri->getDescription();?></td>
        <td align="center">
            <img src="<?=ICO_32;?>configure_toolbars.png" alt="Ver Funcionalidades" title="Ver Funcionalidades" class="imgHand vtip" onclick="loadFuncionalidades('<?=$pk;?>');">
        </td>
        <td align="center">
            <img src="<?=ICO_32;?>users.png" alt="Ver Roles" title="Ver Roles" class="imgHand vtip" onclick="loadRoles('<?=$pk;?>');">
        </td>
        <?php
        /*
        <td <?=$__AG->fieldTag('title', $pk);?>>
            <?=$__AG->toDiv($uri->getTitle());?>
        </td>
        <td><?=$uri->Uri();?></td>
        <td <?=$__AG->comboTag('access', $pk);?>>
            <?=$__AG->toDiv($uri->getAccess());?>
        </td>
        <td <?=$__AG->comboTag('type', $pk);?>>
            <?=$__AG->toDiv($uri->getType());?>
        </td>
        <td <?=$__AG->textareaTag('description', $pk);?>>
            <?=$__AG->toDiv($uri->getDescription());?>
        </td>
        <td align="center">
            <img src="<?=ICO_32;?>configure_toolbars.png" alt="Ver Funcionalidades" title="Ver Funcionalidades" class="imgHand vtip" onclick="loadFuncionalidades('<?=$pk;?>');">
        </td>
        <td align="center">
            <img src="<?=ICO_32;?>users.png" alt="Ver Roles" title="Ver Roles" class="imgHand vtip" onclick="loadRoles('<?=$pk;?>');">
        </td>
         * 
         */
        ?>
    </tr>
    <?php
    }
    if(sizeof($uris)==0){
    ?>
    <tr>
        <td colspan="7" class="center">* No se encontraron URIs en este módulo *</td>
    </tr>
    <?php
    }
    ?>
    </tbody>
</table>
<div id="panel"></div>
<?php
/*
if(PageControl::canAdd()){
    include_once('pages_addForm.tpl');
}else{
    ?>
<link type="text/css" href="<?=JQUERY_WEB;?>themes/ui-lightness/ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="<?=JQUERY_WEB;?>ui/ui.core.js"></script>
<script type="text/javascript" src="<?=JQUERY_WEB;?>ui/ui.dialog.js"></script>
<script type="text/javascript" src="<?=JQUERY_WEB;?>ui/ui.draggable.js"></script>
<script type="text/javascript" src="<?=JQUERY_WEB;?>ui/ui.resizable.js"></script>
    <?php
}
?>
<script type="text/javascript" src="<?=CHAJAX_WEB;?>jsAjax.js"></script>
<script type="text/javascript" language="javascript">
$(function() {
    $("#panelForDetails").dialog({
        bgiframe: true,
        autoOpen: false,
        width: 400,
        modal: true,
        resizable: false
    });
});
function loadFuncionalidades(id){
    var html = '<br/><br/><br/>Cargando ...<br/><img src="<?=ICONS_WEB;?>loadingBar.gif" alt="Cargando informacion" title="Cargando informacion"/><br/><br/><br/>&nbsp;';
    document.getElementById('ui-dialog-title-panelForDetails').innerHTML = 'Funcionalidades habilitadas';
    document.getElementById('detailsContainer').innerHTML = html;
    $('#panelForDetails').dialog('open');
    var url = "<?=WEB_ROOT.URI::toPage();?>functionalitiesList/"+id+"/?Chajax=yes";
    buscarDatos(url, "desplegarDatos", "detailsContainer");
}
function loadRoles(id){
    var html = '<br/><br/><br/>Cargando ...<br/><img src="<?=ICONS_WEB;?>loadingBar.gif" alt="Cargando informacion" title="Cargando informacion"/><br/><br/><br/>&nbsp;';
    document.getElementById('ui-dialog-title-panelForDetails').innerHTML = 'Roles Permitidos';
    document.getElementById('detailsContainer').innerHTML = html;
    $('#panelForDetails').dialog('open');
    var url = "<?=WEB_ROOT.URI::toPage();?>rolesList/"+id+"/?Chajax=yes";
    buscarDatos(url, "desplegarDatos", "detailsContainer");
}
</script>
<div id="panelForDetails" title="Panel">
    <div id="detailsContainer">
        <br/><br/><br/>
        Cargando informacion ...<br/>
        <img src="<?=ICONS_WEB;?>loadingBar.gif" alt="Cargando informacion" title="Cargando informacion"/>
        <br/><br/><br/>&nbsp;
    </div>
</div>

*/
?>