<div id="bodyWork">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            URIs de Módulo: <?=$module->getName();?>
        </h1>
        <ol id="mainBreadcrumb" class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Administración</a></li>
            <li class="active"><a href="<?=URI::toModule().'module';?>">Módulos del Sistema</a></li>
            <li class="active"><a href="<?=URI::toPage().'dataListFromModule/'.$module->getId();?>" class="loadContent" rel="dataListFromModule">URIs de módulo</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section id="mainContent" class="content">

    </section>

</div>
<!-- page script -->
<script type="text/javascript">
$().ready(function(){
    $('.loadContent').loadContent();
    var breadcrumbs = $("#mainBreadcrumb .loadContent");
    if(breadcrumbs.size()>0){
        breadcrumbs.last().click();
    }
});
</script>